<script type="text/javascript">
    $(document).ready(function() {
        // date picker
        $(".tanggal").datepicker({
            showOn: 'both',
            changeMonth: true,
            changeYear: true,
            buttonImage: '{$BASEURL}/resource/doc/images/icon/calendar.gif',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd',
        });
        /*
         * COMBO BOX
         */
        $(".pelabuhan").select2({
            placeholder: "Pilih Pelabuhan",
            allowClear: true,
            width: 270
        });
    });
</script>
<style type="text/css">
    .select2-choice {
        width: 190px !important;
    }
    .select2-default {
        width: 190px !important;
    }
</style>
<div class="breadcrum">
    <p>
        <a href="#">Permohonan Direvisi</a><span></span>
        <a href="{$config->site_url('member/pending_daftar')}">Pengajuan Akta Pendaftaran</a><span></span>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('member/pending_daftar')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Back to Waiting List</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="step-box">
    <ul>
        <li>
            <a href="#" class="active"><b>Langkah 1</b><br />Data Pengajuan</a>
        </li>
        <li>
            <a href="#" class="normal"><b>Langkah 2</b><br />Data Kapal</a>
        </li>
        <li>
            <a href="#" class="normal"><b>Langkah 3</b><br />Data Pemilik</a>
        </li>
        <li>
            <a href="#" class="normal"><b>Langkah 4</b><br />Upload File</a>
        </li>
        <li>
            <a href="#" class="normal"><b>Langkah 5</b><br />Review Pengajuan</a>
        </li>
    </ul>
    <div class="clear"></div>
</div>
<div class="dashboard">
    <table class="table-form" width="100%">
        <tr>
            <td><h3>Catatan Perbaikan</h3></td>
        </tr>
        <tr>
            <td>
                {if $catatan neq ''}
                <p style="color: #B72C0F; font-size: 12px;">{$catatan|lower}</p>
                {else}
                Tidak ada catatan yang diinputkan.
                {/if}
            </td>
        </tr>
    </table>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('daftar_revisi/akta_pendaftaran/edit_process')}" method="post">
    <input type="hidden" name="registrasi_id" value="{$result.registrasi_id|default:''}">
    <input type="hidden" name="process_id" value="{$result.process_id|default:''}">
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            PERMOHONAN AKTA PENDAFTARAN
        </a>
    </h5>
    <table class="table-form" width="100%">
        <tr>
            <td width='19%'>
                <span style="text-decoration: underline;">Tanggal Surat Permohonan</span><br /><i></i><em>* wajib diisi</em>
            </td>
            <td width='26%'>
                <input type="text" name="tgl_surat" size="10" maxlength="10" value="{$result.tgl_surat|default:''}" class="tanggal" readonly="readonly" style="text-align: center; font-weight: bold;" />
            </td>
            <td width='19%'>
                <span style="text-decoration: underline;">Nomor Surat Permohonan</span><br /><i></i>
            </td>
            <td width='36%'>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td><span style="text-decoration: underline;">Nama Pemohon</span><br /><i></i><em>* wajib diisi</em>
            </td>
			<td>
                <input type="text" name="nama_pemohon" size="20" maxlength="50" value="{$result.nama_pemohon|default:''|upper}" style="font-weight: bold;" />
            </td>
			<td>
                <span style="text-decoration: underline;">Pemohon merupakan </span><br /><i>Pilih salah satu</i>
            </td>
            <td>
            </br>
            	<input type="radio" name="pemilik_st" value="1"  {if $result.pemilik_st eq 1}checked="checked"{/if} /> Pemilik Kapal
				</br>
				</br>
            	<input type="radio" name="pemilik_st" value="0"  {if $result.pemilik_st eq 0 && $result.pemilik_st neq null}checked="checked"{/if} /> Bukan Pemilik Kapal
			</td>
        </tr> <tr>
            <td><span style="text-decoration: underline;">Tempat Pendaftaran</span><br /><i></i><em>* wajib diisi</em></td>
            <td>
                <select name="pelabuhan_id" class="pelabuhan">
					<option value=""></option>
					{foreach from=$rs_pelabuhan item=data}
					<option value="{$data.pelabuhan_id}" {if ($data.pelabuhan_id) eq $result.pelabuhan_id}selected="selected"{/if}>{$data.pelabuhan_nm} - {$data.pelabuhan_kd}</option>
					{/foreach}
				</select>
            </td>
			<td>
                <span style="text-decoration: underline;">Bukti Hak Milik Atas Kapal </span><br /><i>Pilih salah satu</i>
            </td>
            <td></br></br>
            {foreach from=$rs_subgroup item=data}
				<input type="radio" name="bukti_hakmilik" value="{$data.subgroup_id}" {if $result.bukti_hakmilik eq $data.subgroup_id}checked="checked"{/if}/> {$data.subgroup_nm} </br></br>
			{/foreach}
			</td>
        </tr>
    </table>
</div>	
<div>
    <table class="table-form" width='100%'>
        <tr class="submit-box">
            <td>
                <input type="submit" name="save" value="Batalkan Permohonan" class="reset-button" onclick="return confirm('Apakah anda yakin akan membatalkan permohonan ini?');" />
            </td>
            <td>Semua field wajib diisi! kesalahan pada format input merupakan tanggungjawab pengguna dan akan dikembalikan (Revisi) pada pemohon!</td>
            <td align='right'>
                <input type="submit" name="save" value="Simpan dan Lanjutkan" class="submit-button" />
            </td>
        </tr>
    </table>
</div>	
</form>