    <form action="{$config->site_url('/information/document_izin/proses_cari/')}" method="post" autocomplete="false">
        <table class="table-input" width="100%">
            <tbody>
                <tr>
                    <td colspan="4">
                        Fitur ini digunakan untuk melakukan pengecekan apakah nomor flight approval yang anda miliki valid!
                    </td>
                </tr>
                <tr>
                    <td width="15%">Nomor Izin Rute</td>
                    <td width="25%">
                        <input name="izin_published_letter" maxlength="30" size="40" type="text" value="" autocomplete="false"/>
                    </td>
                    <td align="left">
                        <button class="submit-button">Cek</button>
                        <button class="submit-button">Reset</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
<table class="table-form" width="100%">
    <tr>
        <td width='10%'>Nomor</td>
        <td width='1%'>:</td>
        <td width='49%'>{$result.izin_published_letter}</td>
        <td width='5%'></td>
        <td width='35%'>Jakarta, {$dtm->get_full_date($result.izin_published_date)}</td>
    </tr>
    <tr>
        <td>Klasifikasi</td>
        <td>:</td>
        <td>PENTING</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Lampiran</td>
        <td>:</td>
        <td>{$lampiran} ( {$terbilang} ) Lembar</td>
        <td></td>
        <td>Kepada</td>
    </tr>
    <tr>
        <td style="vertical-align: top;">Perihal</td>
        <td style="vertical-align: top;">:</td>
        <td style="vertical-align: top;">
            {$result.group_nm} 
            {if $result.izin_flight eq 'domestik'}Dalam Negeri{else}Luar Negeri{/if}
        </td>
        <td style="vertical-align: top;">Yth:</td>
        <td>
            <u>PERIKSA ALAMAT TERLAMPIR</u>
            <br />
        </td>
    </tr>
    <tr>
        <td colspan="5">&nbsp;</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td colspan="3">
            <ol style="margin: 0; padding: 0; line-height: 24px; text-align: justify;">
                <li>Menunjuk :
                    <ol style="margin: 0 0 0 20px; padding: 0; line-height: 24px; list-style-type: lower-alpha;">
                        <li>
                            Peraturan Menteri Perhubungan Nomor {$km.pref_value} dan peraturan perundang-undangan yang terkait dengan penerbangan;
                        </li>
                        {foreach from=$surat_persetujuan item=data}
                        <li>
                            Surat Direktorat Jenderal Perhubungan Udara Nomor: {$data.nomor} tanggal {$dtm->get_full_date($data.tanggal)}  perihal {$data.perihal};
                        </li>
                        {/foreach}
                        <li>
                            Surat dari {$result.airlines_nm|upper} Nomor: {$result.izin_request_letter} Tanggal {$dtm->get_full_date($result.izin_request_letter_date)}
                            perihal Permohonan {$result.group_nm} {if $result.izin_flight eq 'domestik'}Dalam Negeri{else}Luar Negeri{/if};
                        </li>
                        {$no = 1}
                        {foreach from=$rs_slot item=data}
                        <li>{$data.slot_subject} Nomor {$data.slot_number} tanggal {$dtm->get_full_date($data.slot_date)} perihal {$data.slot_desc}{if $no < $total_slot};{else},{/if}{$no = $no + 1}</li>
                        {/foreach}
                    </ol>
                    dengan hormat disampaikan bahwa Direktorat Jenderal Perhubungan Udara dapat memberikan izin perubahan jadwal rute penerbangan berjadwal kepada {$result.airlines_nm|upper} yang berlaku dari tanggal {$dtm->get_full_date($izin_start_date)} hingga tanggal {$dtm->get_full_date($izin_expired_date)} 
                    dengan jadwal penerbangan sebagaimana terlampir.
                </li>
                <li>
                    Dalam pelaksanaan penerbangan sebagaimana tersebut diatas, {$result.airlines_nm|upper} diwajibkan mematuhi peraturan dan ketentuan perundang-undangan yang berlaku tentang keselamatan dan keamanan penerbangan.
                </li>
                <li>
                    Dimohon kepada
                    {$no = 1}
                    {foreach from=$rs_redaksional item=data}
                        {$data.pref_value}{if $no < $total_redaksional},{/if}
                        {$no = $no + 1}
                    {/foreach}
                    untuk meneruskan surat persetujuan ini kepada jajaran di lingkungan wilayah kerjanya untuk dilakukan pengawasan dalam pelaksanaannya.
                </li>
                <li>
                    Demikian disampaikan, atas perhatiannya diucapkan terima kasih.
                </li>
            </ol>
        </td>
    </tr>
    <tr>
        <td colspan="5">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td align='center' colspan="2">
            {if $result.izin_published_role eq 63}
            <b>DIREKTUR JENDERAL PERHUBUNGAN UDARA</b>
            {else}
            <b>
                a.n. DIREKTUR JENDERAL PERHUBUNGAN UDARA
                <br />
                DIREKTUR ANGKUTAN UDARA
            </b>
            {/if}
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <b style="text-decoration: underline;">Kepada Yth :</b>
            <ol>
                <li>Direktur Utama {$result.airlines_nm|upper}</li>
                {foreach from=$rs_editorial_kepada item=data}
                    <li>{$data.redaksional_nm}</li>
                {/foreach}
            </ol>
            <b style="text-decoration: underline;">Tembusan :</b>
            <ol>
                {foreach from=$rs_editorial_tembusan item=data}
                    <li>{$data.redaksional_nm}</li>
                {/foreach}
            </ol>
        </td>
        <td align='center' colspan="2" style="padding-top:100px; vertical-align:top;">
            <br />
            <b style="text-decoration: underline;">{$result.published_by}</b>
            <br />
            {$result.operator_pangkat|default:'-'}
            <br />
            NIP. {$result.operator_nip|default:'-'}
        </td>
    </tr>
</table>
<div id="table-data" style="margin: 0 0 5px 0; padding: 10px; border: 1px solid #ddd; font-family: helvetica;">
    <table class="table-form" width="100%">
        <tr>
            <td colspan="5">Lampiran Surat Direktorat Jenderal Perhubungan Udara</td>
        </tr>
        <tr>
            <td width='10%'>Nomor</td>
            <td width='1%'>:</td>
            <td width='49%'>{$result.izin_published_letter}</td>
            <td width='5%'></td>
            <td width='35%'></td>
        </tr>
        <tr>
            <td>Tanggal</td>
            <td>:</td>
            <td>{$dtm->get_full_date($result.izin_published_date)}</td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <h4 style="text-align: center;">{$result.group_nm}</h4>
    <p class="caption" style="text-align: center;">
        <b>{$result.airlines_nm}</b>
        <br />
        <b>{$dtm->get_full_date($izin_start_date)|upper}</b> hingga <b>{$dtm->get_full_date($izin_expired_date)|upper}</b>
    </p>
    <br />
    <table class="table-view" width="100%" style="font-size: 12px; font-family: helvetica; color: #333;">
        <tr>
            <td width="5%" rowspan="2" align='center'>No</td>
            <td width="15%" rowspan="2" align='center'>Rute<br />Penerbangan</td>
            <td width="14%" rowspan="2" align='center'>Status Perubahan</td>
            <td width="13%" rowspan="2" align='center'>Tipe<br />Pesawat</td>
            <td width="13%" rowspan="2" align='center'>Nomor<br />Penerbangan</td>
            <td width="20%" colspan="2" align='center'>Jadwal Penerbangan <br />(Waktu Lokal)</td>
            <td width="10%" rowspan="2" align='center'>Frekuensi /<br /> Minggu</td>
            <td width="10%" rowspan="2" align='center'>Hari<br /> Operasi</td>
        </tr>
        <tr>
            <td width="10%" align='center'>ETD</td>
            <td width="10%" align='center'>ETA</td>
        </tr>
        {$i = 0}
        {$no = 1}
        {$kode_frekuensi = ''}

        {foreach from=$rs_id item=data}

        {if !empty($rs_old[$i])}
        <tr>
            {if $kode_frekuensi neq $data.kode_frekuensi}

            {if $rs_old[$i].pairing eq 'OW'}
            <td rowspan="2" align="center">
                {$no++}.
            </td>
            {else}
            <td rowspan="4" align="center">
                {$no++}.
            </td>
            {/if}
            {$kode_frekuensi = $data.kode_frekuensi}
            {/if}

            {if $rs_old[$i].rute_all eq $data.rute_all}
            <td align="center" rowspan="2">{$rs_old[$i].rute_all}</td>
            {else}
            <td align="center">{$rs_old[$i].rute_all}</td>
            {/if}
            <td align="center">SEMULA</td>
            <td align="center">{$rs_old[$i].aircraft_type}</td>
            <td align="center">{$rs_old[$i].flight_no}</td>
            <td align="center">{$rs_old[$i].etd|substr:0:5}</td>
            <td align="center">{$rs_old[$i].eta|substr:0:5}</td> 
            {if $rs_old[$i].frekuensi eq $data.frekuensi}
            <td align="center" rowspan="2">{$rs_old[$i].frekuensi}X</td>
            {else}
            <td align="center">{$rs_old[$i].frekuensi}X</td>
            {/if}
            {if $rs_old[$i].dos eq $data.dos}
            <td align="center" rowspan="2">{$rs_old[$i].dos}</td>
            {else}
            <td align="center">{$rs_old[$i].dos}</td>
            {/if}     
        </tr>
        {/if}
        <tr>            
            {if $rs_old[$i].rute_all neq $data.rute_all}
            <td align="center">{$data.rute_all}</td>
            {/if}
            <td align="center">MENJADI</td>
            <td align="center" {if $rs_old[$i].aircraft_type neq $data.aircraft_type}style="color: red; font-weight: bold;"{/if}>{$data.aircraft_type}</td>
            <td align="center" {if $rs_old[$i].flight_no neq $data.flight_no}style="color: red; font-weight: bold;"{/if}>{$data.flight_no}</td>
            <td align="center" {if $rs_old[$i].etd neq $data.etd}style="color: red; font-weight: bold;"{/if}>{$data.etd|substr:0:5}</td>
            <td align="center" {if $rs_old[$i].eta neq $data.eta}style="color: red; font-weight: bold;"{/if}>{$data.eta|substr:0:5}</td> 
            {if $rs_old[$i].frekuensi neq $data.frekuensi}
            <td align="center">{$data.frekuensi}X</td>
            {/if}   
            {if $rs_old[$i].dos neq $data.dos}
            <td align="center" {if $rs_old[$i].dos neq $data.dos}style="color: red; font-weight: bold;"{/if}>{$data.dos}</td>
            {/if}   
        </tr>
        {$i = $i + 1}
        {/foreach}
    </table>
</div>