<script type="text/javascript">
    $(document).ready(function() {
        // date picker
        $(".tanggal").datepicker({
            yearRange: '-50:+0',
            changeMonth: true,
            changeYear: true,
            showOn: 'both',
            buttonImage: '{$BASEURL}/resource/doc/images/icon/calendar.gif',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });
    });
</script>
<div class="breadcrum">
    <p>
        <a href="#">Settings</a><span></span>
        <a href="{$config->site_url('pengaturan/stakeholder')}">Member Stakeholder</a><span></span>
        <small>Add Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('pengaturan/stakeholder')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" /> Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="sub-nav-content">
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
    <div class="sub-content">
        <form action="{$config->site_url('pengaturan/stakeholder/add_process')}" method="post" enctype="multipart/form-data">
            <table class="table-input" width="100%">
                <tr class="headrow">
                    <th colspan="4">Data Member</th>
                </tr>
                <tr>
                    <td width="15%">Nama Lengkap</td>
                    <td width="35%">
                        <input name="operator_name" type="text" value="{$result.operator_name|default:''}" size="35" maxlength="50" />
                        <em>* wajib diisi</em>
                    </td>
                    <td width="15%">Alamat</td>
                    <td width="35%">
                        <input name="operator_address" type="text" value="{$result.operator_address|default:''}" size="45" maxlength="100" />
                    </td>
                </tr>
                <tr>
                    <td>Tempat Lahir</td>
                    <td>
                        <input name="operator_birth_place" type="text" value="{$result.operator_birth_place|default:''}" size="25" maxlength="50" />
                    </td>
                    <td>Nomor Telepon</td>
                    <td>
                        <input name="operator_phone" type="text" value="{$result.operator_phone|default:''}" size="15" maxlength="30" />
                        <em>* wajib diisi</em>
                    </td>
                </tr>
                <tr>
                    <td>Tanggal Lahir</td>
                    <td>
                        <input name="operator_birth_day" type="text" value="{$result.operator_birth_day|default:''}" size="10" maxlength="10" class="tanggal" style="text-align: center;" readonly='readonly' />
                    </td>
                    <td>Email</td>
                    <td>
                        <input name="user_mail" type="text" value="{$result.user_mail|default:''}" size="30" maxlength="50" />
                        <em>* wajib diisi</em>
                    </td>
                </tr>
                <tr>
                    <td>Jenis Kelamin</td>
                    <td>
                        <label><input type="radio" name="operator_gender" value="L" {if {$result.operator_gender|default:''} eq 'L'}checked="checked"{/if} />LAKI - LAKI</label>
                        <label><input type="radio" name="operator_gender" value="P" {if {$result.operator_gender|default:''} eq 'P'}checked="checked"{/if} />PEREMPUAN</label>
                    </td>
                    <td>Member Sebagai</td>
                    <td>
                        <select name="member_status">
                            <option value=""></option>
                            <option value="airnav" {if $result.member_status|default:'' eq 'airnav'}selected="selected"{/if}>AIRNAV</option>
                            <option value="bandara" {if $result.member_status|default:'' eq 'bandara'}selected="selected"{/if}>BANDARA</option>
                            <option value="otoritas" {if $result.member_status|default:'' eq 'otoritas'}selected="selected"{/if}>OTORITAS</option>
                        </select>
                        <em>* wajib diisi</em>
                    </td>
                </tr>
                <tr>
                    <td>Operator / Airlines yang Ditangani</td>
                    <td colspan="3">
                        {foreach from=$rs_airport item=data}
                        <label>
                            <input type="checkbox" name="airport[]" value="{$data.airport_id}" {if $data.airport_id|in_array:$airport_selected}checked="checked"{/if} /> {$data.airport_nm|upper}
                        </label>
                        {/foreach}
                    </td>
                </tr> 
                <tr class="headrow">
                    <th colspan="4">User Account</th>
                </tr>
                <tr>
                    <td>Username </td>
                    <td>
                        <input name="user_name" type="text" value="{$result.user_name|default:''}" size="20" maxlength="30" />
                        <em>* wajib diisi</em>
                    </td>
                    <td>Foto</td>
                    <td><input type="file" name="operator_photo" size="30" /></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td colspan="3">
                        <input name="user_pass" type="password" value="{$result.user_pass|default:''}" size="20" maxlength="30" />
                        <em>* wajib diisi</em>
                    </td>
                </tr>
                {$no = 1}
                {foreach from=$rs_roles item=data}
                <tr>
                    <td>{if $no eq 1}Permissions{$no=$no+1}{/if}</td>
                    <td colspan="3">
                        <label>
                            <input type="checkbox" name="roles[]" value="{$data.role_id}" {if $data.role_id|in_array:$roles_selected}checked="checked"{/if} /> {$data.role_nm|upper}
                        </label>
                    </td>
                </tr> 
                {/foreach}
                <tr class="submit-box">
                    <td colspan="4">
                        <input type="submit" name="save" value="Simpan" class="submit-button" />
                        <input type="reset" name="save" value="Reset" class="reset-button" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
