<div class="breadcrum">
    <p>
        <a href="#">Data Monitoring</a><span></span>
        <small>Flight Approval</small>
    </p>
    <div class="clear"></div>
</div>
<div class="search-box">
    <h3><a href="#">Search</a></h3>
    <form action="{$config->site_url('task/monitoring/proses_cari')}" method="post">
        <table class="table-search" width="100%" border="0">
            <tr>
                <th width="10%">Nomor</th>
                <td width="15%">
                    <input name="document_no" type="text" value="{$search.document_no|default:''}" size="20" maxlength="40" />
                </td>
                <th width="10%">Operator</th>
                <td width="15%">
                    <input name="airlines_nm" type="text" value="{$search.airlines_nm|default:''}" size="20" maxlength="50" />
                </td>
                <th width="10%">Posisi</th>
                <td width="15%">
                    <select name="role_id">
                        <option value="">-- semua posisi --</option>
                        {foreach from=$rs_roles item=data}
                        <option value="{$data.role_id}" {if {$search.role_id|default:''} eq $data.role_id}selected="selected"{/if}>{$data.role_nm}</option>
                        {/foreach}
                    </select>
                </td>
                <td width='25%' align='right'>
                    <input name="save" type="submit" value="Tampilkan" />
                    <input name="save" type="submit" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info">{$pagination.data|default:''}&nbsp;Total&nbsp;<strong>{$pagination.total|default:0}</strong>&nbsp;Record&nbsp;</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<table class="table-view" width="100%">
    <tr>
        <th width='4%'>No</th>
        <th width='8%'>Nomor</th>
        <th width='20%'>Operator</th>
        <th width='15%'>Jenis Permohonan</th>
        <th width='10%'>Berjadwal / <br />Tidak Berjadwal</th>
        <th width='10%'>Domestik / <br />Internasional</th>
        <th width='20%'>Posisi Pengajuan</th>
        <th width='13%'></th>
    </tr>
    {$no = 1}
    {foreach from=$rs_id item=result}
    <tr {if ($no % 2) <> 1}class="blink-row"{/if}>
        <td align="center">{$no++}.</td>
        <td align="center">{$result.document_no}</td>
        <td>{$result.airlines_nm|upper}</td>
        <td>{$result.group_nm}</td>
        <td align="center">{$result.data_type|upper}</td>
        <td align="center">{$result.data_flight|upper}</td>
        <td>
            {$result.role_nm}
        </td>
        <td align="center">
            <a href="{$config->site_url('task/monitoring/detail_'|cat:$result.group_link|cat:'/'|cat:$result.data_id|default:'')}" class="button-edit">
                {if $result.selisih_hari == 0 && substr($result.selisih_waktu,0,2) == 00}
                {substr($result.selisih_waktu,3,2)} minutes ago
                {else if $result.selisih_hari == 0}
                {substr($result.selisih_waktu,0,2)} hour ago
                {else}
                {$result.selisih_hari} day ago
                {/if}
            </a>
        </td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="8">Data not found!</td>
    </tr>
    {/foreach}
</table>