<script type="text/javascript">
    $(document).ready(function() {
        // date picker
        $(".tanggal").datepicker({
            yearRange: '-50:+0',
            changeMonth: true,
            changeYear: true,
            showOn: 'both',
            buttonImage: '{$BASEURL}/resource/doc/images/icon/calendar.gif',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });
        /*
         * COMBO BOX
         */
        $(".pelabuhan").select2({
            placeholder: "Pilih Pelabuhan",
            allowClear: true,
            width: 300
        });
		
    });
	
</script>
<style type="text/css">
    .select2-choice {
        width: 280px !important;
    }
    .select2-default {
        width: 280px !important;
    }
</style>

<div class="breadcrum">
    <p>
        <a href="#">Settings</a><span></span>
        <a href="{$config->site_url('pengaturan/operator')}">Operator</a><span></span>
        <small>{$result.operator_name|upper|default:''}</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('pengaturan/operator')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" /> Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="sub-nav-content">
    <ul>
        <li><a href="{$config->site_url('pengaturan/operator/edit/'|cat:$result.user_id)}" class="active">Data Pribadi</a></li>
        <li><a href="{$config->site_url('pengaturan/operator/account/'|cat:$result.user_id)}">User Account</a></li>
    </ul>
    <div class="clear"></div>
    <div class="sub-content">
        <!-- notification template -->
        {include file="base/templates/notification.html"}
        <!-- end of notification template-->
        <form action="{$config->site_url('pengaturan/operator/edit_process')}" method="post" enctype="multipart/form-data">
            <input name="user_id" type="hidden"  value="{$result.user_id|default:''}" />
            <input name="operator_email_old" type="hidden"  value="{$result.user_mail|default:''}" />
            <input name="operator_photo" type="hidden"  value="{$result.operator_photo|default:''}" />
            <table class="table-input" width="100%">
                <tr class="headrow">
                    <th colspan="4">Edit Data</th>
                </tr>
                <tr>
                    <td width="15%">Nama Lengkap</td>
                    <td width="35%">
                        <input name="operator_name" type="text" value="{$result.operator_name|default:''}" size="35" maxlength="50" />
                        <em>* wajib diisi</em>
                    </td>
                    <td width="15%">Alamat</td>
                    <td width="35%">
                        <input name="operator_address" type="text" value="{$result.operator_address|default:''}" size="45" maxlength="100" />
                    </td>
                </tr>
                <tr>
                    <td>Tempat Lahir</td>
                    <td>
                        <input name="operator_birth_place" type="text" value="{$result.operator_birth_place|default:''}" size="25" maxlength="50" />
                    </td>
                    <td>Email</td>
                    <td>
                        <input name="user_mail" type="text" value="{$result.user_mail|default:''}" size="30" maxlength="50" />
                        <em>* wajib diisi</em>
                    </td>
                </tr>
                <tr>
                    <td>Tanggal Lahir</td>
                    <td>
                        <input name="operator_birth_day" type="text" value="{$result.operator_birth_day|default:''}" size="10" maxlength="10" class="tanggal" style="text-align: center;" readonly='readonly' />
                    </td>
                    <td>Nomor Telepon</td>
                    <td>
                        <input name="operator_phone" type="text" value="{$result.operator_phone|default:''}" size="15" maxlength="30" />
                        <em>* wajib diisi</em>
                    </td>
                </tr>
                <tr>
                    <td>Jabatan</td>
                    <td>
                        <input name="jabatan" type="text" value="{$result.jabatan|default:''}" size="25" maxlength="50" />
                        <em>* wajib diisi</em>
                    </td>
                    <td>Jenis Kelamin</td>
                    <td>
                        <label><input type="radio" name="operator_gender" value="L" {if {$result.operator_gender|default:''} eq 'L'}checked="checked"{/if} />Laki-laki</label>
                        <label><input type="radio" name="operator_gender" value="P" {if {$result.operator_gender|default:''} eq 'P'}checked="checked"{/if} />Perempuan</label>
                    </td>
                </tr>
                <tr>
				<td>Pelabuhan </td>
					<td colspan="3">
						<select name="pelabuhan_id" class="pelabuhan">
							<option value=""></option>
							{foreach from=$rs_sub item=data}
							<option value="{$data.pelabuhan_id}" {if ($data.pelabuhan_id) eq $result.pelabuhan_id}selected="selected"{/if}>{$data.pelabuhan_nm} - {$data.pelabuhan_kd}</option>
							{/foreach}
						</select>
						&nbsp;
						<em>* wajib diisi</em>
					</td>            
				</tr>
                <tr class="headrow">
                    <th colspan="4">Attachment</th>
                </tr>
                <tr>
                    <td colspan="4" align="center">
                        <img src="{$operator_photo|default:''}" alt="" style="height: 160px; background-color: #fff; border: 1px solid #ccc; padding: 5px;" />
                        <br /><br />
                        <input type="file" name="operator_photo" size="30" />
                    </td>
                </tr>
                <tr class="submit-box">
                    <td colspan="4">
                        <input type="submit" name="save" value="Simpan" class="submit-button" />
                        <input type="reset" name="save" value="Reset" class="reset-button" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>