<div class="breadcrum">
    <p>
        <a href="#">Pengajuan Direvisi</a><span></span>
        <small>Pengajuan Akta</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info">Total Pending ( <b style="color: red;">{$total|default:0}</b> ) Pengajuan. <u>Mohon segera di perbaiki dan didaftarkan kembali!</u></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<table class="table-view" width="100%">
    <tr>
        <th width='5%'>No</th>
        <th width='10%'>No. Registrasi</th>
        <th width='20%'>Nama Kapal</th>
        <th width='10%'>Pemohon</th>
        <th width='12%'>Tanggal<br/>Pendaftaran</th>
        <th width='12%'>Tanggal<br/>Dikembalikan</th>
        <th width='12%'></th>
    </tr>
    {$no = 1}
    {foreach from=$rs_id item=result}
    <tr {if ($no % 2) <> 1}class="blink-row"{/if}>
        <td align="center">{$no++}.</td>
        <td align="center"><b style="color: #999;">{$result.registrasi_id|upper}</b></td>
        <td align="center"><b style="color: #999;">{$result.nama_kapal|upper}</b></td>
        <td align="center">
            <span style="text-decoration: underline;">{$result.nama_pemohon|upper}</td>
        <td align="center">
            {$dtm->get_full_date($result.tgl_pengajuan)|upper}
        </td>
        <td align="center">
            {$dtm->get_full_date($result.tgl_kembali)|upper}
        </td>
        <td align="center">
            <a href="{$config->site_url('daftar_revisi/akta_pendaftaran/data_pengajuan/'|cat:$result.registrasi_id|default:'')}" class="button">
                {if $result.selisih_hari == 0 && substr($result.selisih_waktu,0,2) == 00}
                {substr($result.selisih_waktu,3,2)} Menit yang lalu
                {else if $result.selisih_hari == 0}
                {substr($result.selisih_waktu,0,2)} Jam yang lalu
                {else}
                {$result.selisih_hari} Hari yang lalu
                {/if}
            </a>
        </td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="7">Data not found!</td>
    </tr>
    {/foreach}
</table>
