<!-- include javascript -->
{include file="task/izin_rute/task_javascript.html"}
<!-- end of include javascript-->
<script type="text/javascript">
    $(document).ready(function () {
        // select all
        $("#proses-all").change(function () {
            var proses = $("#proses-all").val();
            $(".proses-item").val(proses);
        });
    });
</script>
<div class="breadcrum">
    <p>
        <a href="#">Task Manager Izin Rute</a><span></span>
        <a href="#">{$task.task_nm}</a><span></span>
        <small>{$detail.airlines_nm}</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info">
                    <b>{$detail.group_nm|upper}</b> : <br />{$detail.izin_rute_start} / {$detail.izin_rute_end} ( {$detail.izin_season|upper} )
                    <br />
                    Surat Permohonan : {$detail.izin_request_letter|upper|default:'-'}, {$dtm->get_full_date($detail.izin_request_letter_date)|default:'-'}
                    <br />
                    Pengirim : {$detail.pengirim|default:'-'}, {$dtm->get_full_date($detail.izin_request_date)|default:'-'}
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('task/izin_rute')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" /> Back to Waiting List</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="navigation" style="background-color: #eee; padding: 10px;">
    <div class="navigation-button" style="width: 600px;">
        <ul>
            {if $action.action_rollback eq '1'}
            <li><a href="{$config->site_url('task/izin_direktur/back_process/'|cat:$detail.registrasi_id|cat:'/'|cat:$detail.process_id)}" onclick="return confirm('Apakah anda yakin akan mengirimkan data berikut ini ke {$prev.role_nm}?')"><img src="{$BASEURL}resource/doc/images/icon/arrow-left.png" alt="" /> Kirim ke {$prev.role_nm}</a></li>
            {/if}
            {if $action.action_reject eq '1'}
            <li><a href="{$config->site_url('task/izin_direktur/reject_process/'|cat:$detail.registrasi_id|cat:'/'|cat:$detail.process_id)}" onclick="return confirm('Apakah anda yakin akan menolak semua data permohonan dibawah ini?')"><img src="{$BASEURL}resource/doc/images/icon/icon.failed.png" alt="" /> Tolak Semua Permohonan</a></li>
            {/if}
            {if $action.action_send eq '1'}
            <li><a href="{$config->site_url('task/izin_direktur/send_process/'|cat:$detail.registrasi_id|cat:'/'|cat:$detail.process_id)}" onclick="return confirm('Apakah anda yakin akan mengirimkan data berikut ini ke {$next.role_nm}?')"><img src="{$BASEURL}resource/doc/images/icon/arrow-right.png" alt="" /> Kirim ke {$next.role_nm}</a></li>
            {/if}
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            Rute Penerbangan Sebelumnya :
        </a>
    </h5>
    <table class="table-view" width="100%">
        <tr style="font-weight: bold;">
            <td width="4%" align='center'>No</td>
            <td width="8%" align='center'>Rute</td>
            <td width="7%" align='center'>Tipe<br />Pesawat</td>
            <td width="8%" align='center'>Nomor<br />Penerbangan</td>
            <td width="7%" align='center'>ETD <br />( LT )</td>
            <td width="7%" align='center'>ETA <br />( LT )</td>
            <td width="8%" align='center'>Hari <br />Operasi</td>
            <td width="8%" align='center'>Frekuensi</td>
            <td width="8%" align='center'>Total <br />Frekuensi</td>
            <td width="18%" align='center'>Tanggal <br />Efektif</td>
            <td width="17%" align='center'></td>
        </tr>
        {foreach from=$rs_old key=no item=rute}
        {$i = 1}
        {$rowspan = $rute|count}
        {foreach from=$rute item=data}
        <tr {$row_style[$data.rute_all]}>
            {if $rowspan <= 1}
            <td align="center" style="color: black;">{$no}.</td>
            {elseif $i eq 1}
            <td align="center" rowspan="{$rowspan}" style="color: black;">{$no}.</td>
            {/if}
            <td align="center">{$data.rute_all|default:'-'}</td>
            <td align="center">{$data.tipe|default:'-'}</td>
            <td align="center">{$data.flight_no|default:'-'}</td>
            <td align="center">{$data.etd|default:'-'|substr:0:5}</td>
            <td align="center">{$data.eta|default:'-'|substr:0:5}</td>   
            <td align="center">{$data.doop|default:'-'}</td>
            <td align="center">{$data.frekuensi}X</td>
            {if $rowspan <= 1}
            <td align="center" style="color: blue;">
                {$pairing_old[$data.izin_id]} / 
                {$frekuensi_old[$data.izin_id]}X
            </td>
            {elseif $i eq 1}
            <td align="center" rowspan="{$rowspan}" style="color: blue;">
                {$pairing_old[$data.izin_id]} / 
                {$frekuensi_old[$data.izin_id]}X
            </td>
            {/if}
            <td align="center">{$dtm->get_full_date($data.start_date, 'ins')|upper} / {$dtm->get_full_date($data.end_date, 'ins')|upper}</td>
            {if $rowspan <= 1}
            <td align="center"></td>
            {elseif $i eq 1}
            <td align="center" rowspan="{$rowspan}"></td>
            {/if}
        </tr>
        {$i = $i + 1}
        {foreachelse}
        <tr>
            <td align="center" style="color: black;">{$no}.</td>
            <td colspan="10">Data rute tidak ditemukan!</td>
        </tr>
        {/foreach}
        {foreachelse}
        <tr>
            <td colspan="11">Data rute tidak ditemukan!</td>
        </tr>
        {/foreach}
        <tr>
            <td colspan="8" align="right">Jumlah Frekuensi / Minggu</td>
            <td align="center"><b>{$total_old}X</b></td>
            <td align="center"></td>
            <td></td>
        </tr>
    </table>
</div>

<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            Pengurangan Rute Penerbangan Yang Diajukan :
        </a>
    </h5>
    <table class="table-view" width="100%">
        <tr style="font-weight: bold;">
            <td width="4%" align='center'>No</td>
            <td width="8%" align='center'>Rute</td>
            <td width="7%" align='center'>Tipe<br />Pesawat</td>
            <td width="8%" align='center'>Nomor<br />Penerbangan</td>
            <td width="7%" align='center'>ETD <br />( LT )</td>
            <td width="7%" align='center'>ETA <br />( LT )</td>
            <td width="8%" align='center'>Hari <br />Operasi</td>
            <td width="8%" align='center'>Frekuensi</td>
            <td width="8%" align='center'>Total <br />Frekuensi</td>
            <td width="18%" align='center'>Tanggal <br />Efektif</td>
            <td width="17%" align='center'></td>
        </tr>
        {foreach from=$rs_id key=no item=rute}
        {$i = 1}
        {$rowspan = $rute|count}
        {foreach from=$rute item=data}
        <tr {$row_style[$data.rute_all]}>
            {if $rowspan <= 1}
            <td align="center" style="color: black;">{$no}.</td>
            {elseif $i eq 1}
            <td align="center" rowspan="{$rowspan}" style="color: black;">{$no}.</td>
            {/if}
            <td align="center">{$data.rute_all|default:'-'}</td>
            <td align="center">{$data.tipe|default:'-'}</td>
            <td align="center">{$data.flight_no|default:'-'}</td>
            <td align="center">{$data.etd|default:'-'|substr:0:5}</td>
            <td align="center">{$data.eta|default:'-'|substr:0:5}</td>   
            <td align="center">{$data.doop|default:'-'}</td>
            <td align="center">{$data.frekuensi}X</td>
            {if $rowspan <= 1}
            <td align="center" style="color: blue;">
                {$pairing[$data.izin_id]} / 
                {$frekuensi[$data.izin_id]}X
            </td>
            {elseif $i eq 1}
            <td align="center" rowspan="{$rowspan}" style="color: blue;">
                {$pairing[$data.izin_id]} / 
                {$frekuensi[$data.izin_id]}X
            </td>
            {/if}
            <td align="center">{$dtm->get_full_date($data.start_date, 'ins')|upper} / {$dtm->get_full_date($data.end_date, 'ins')|upper}</td>
            {if $rowspan <= 1}
            <td align="center">
                {if $data.izin_approval eq 'approved'}
                <b style="color: blue;">VALID</b>
                {/if}
                {if $data.izin_approval eq 'rejected'}
                <b style="color: red;">REJECT</b>
                {/if}
                {if $data.izin_approval eq 'waiting'}
                <b style="color: tomato;">WAITING</b>
                {/if}
            </td>
            {elseif $i eq 1}
            <td align="center" rowspan="{$rowspan}">
                {if $data.izin_approval eq 'approved'}
                <b style="color: blue;">VALID</b>
                {/if}
                {if $data.izin_approval eq 'waiting'}
                <b style="color: tomato;">WAITING</b>
                {/if}
            </td>
            {/if}
        </tr>
        {$i = $i + 1}
        {foreachelse}
        <tr>
            <td align="center" style="color: black;">{$no}.</td>
            <td colspan="10">Data rute belum diinputkan!</td>
        </tr>
        {/foreach}
        {foreachelse}
        <tr>
            <td colspan="11">Data rute belum diinputkan!</td>
        </tr>
        {/foreach}
        <tr>
            <td colspan="8" align="right">Jumlah Frekuensi / Minggu</td>
            <td align="center"><b>{$total.frekuensi}X</b></td>
            <td align="center">
                <b>{$dtm->get_full_date($total.start_date, 'ins')|upper}</b> / <b>{$dtm->get_full_date($total.end_date, 'ins')|upper}</b>
            </td>
            <td></td>
        </tr>
        <tr style="color: blue; background-color: #FFEFEF;">
            <td colspan="8" align="right">Perhitungan Jumlah Frekuensi / Minggu Yang Disetujui</td>
            <td align="center"><b>{$total_approved.frekuensi}X</b></td>
            <td align="center">
                {if $total_approved.start_date neq $total_approved.valid_start_date}
                <b style="color: red;">
                    {$dtm->get_full_date($total_approved.valid_start_date, 'ins')|upper}
                </b>
                {else}
                <b>
                    {$dtm->get_full_date($total_approved.start_date, 'ins')|upper}
                </b>
                {/if}
                / 
                <b>
                    {$dtm->get_full_date($total_approved.end_date, 'ins')|upper}
                </b>
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="8" align="right">Jumlah Frekuensi / Minggu Keseluruhan</td>
            <td align="center">
                <b style="color: red;">{$total_old - $total_approved.frekuensi}X</b>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
<div class="action">
    <div class="action-button">
        <ul>
            <li><a href="#" title="{$detail.registrasi_id}" id="button-catatan"><img src="{$BASEURL}resource/doc/images/icon/document_edit.png" alt="" />( {$total_catatan} ) Catatan Proses Permohonan</a></li>
            <li><a href="#" title="{$detail.registrasi_id}" id="button-telaah"><img src="{$BASEURL}resource/doc/images/icon/finished_work.png" alt="" /> ( {if $telaah.telaah_file neq ''} telah di-upload {else} belum di-upload {/if} ) Telaah Staff</a></li>
            <li><a href="#" title="{$detail.registrasi_id}" id="button-slot"><img src="{$BASEURL}resource/doc/images/icon/icon.permit.png" alt="" /> Slot Clearance</a></li>
            <li><a href="#" title="{$detail.registrasi_id}" id="button-files"><img src="{$BASEURL}resource/doc/images/icon/todolist.png" alt="" />  Files Attachment</a></li>
            <li><a href="{$config->site_url('task/izin_rute/preview_frekuensi_delete/'|cat:$detail.registrasi_id)}"><img src="{$BASEURL}resource/doc/images/icon/icon.failed.png" /> Draft Surat Penerbitan</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- include html -->
{include file="task/izin_rute/task_form_dialog.html"}
<!-- end of include html -->