<!-- include javascript -->
{include file="task/daftar_kasi_absah/task_javascript.html"}
<!-- end of include javascript-->
<script type="text/javascript">
    $(document).ready(function () {
        // select all
        $("#proses-all").change(function () {
            var proses = $("#proses-all").val();
            $(".proses-item").val(proses);
        });
    });
</script>
<div class="breadcrum">
    <p>
        <a href="#">Task Manager Pengajuan Akta Pendaftaran</a><span></span>
        <a href="#">{$task.task_nm}</a><span></span>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info">
                    <b>{$detail.group_nm|upper}</b>
                    <br />
                    Nama Kapal : {$detail.nama_kapal|upper|default:''}
                    <br />
                    Registrasi : {$detail.registrasi_id|upper|default:''}
                    <br />
                    Pemohon : {$detail.nama_pemohon|default:'-'}, {$dtm->get_full_date($detail.tgl_pengajuan)|default:'-'}
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('task/akta_pendaftaran')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" /> Back to Waiting List</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="navigation" style="background-color: #eee; padding: 10px;">
    <div class="navigation-button">
        <ul>
            {if $action.action_revisi eq '1'}
            <li><a href="{$config->site_url('task/daftar_kasi_absah/pending_process/'|cat:$detail.registrasi_id|cat:'/'|cat:$detail.process_id)}" onclick="return confirm('Apakah anda yakin akan mengirimkan data berikut ke {$detail.nama_pemohon}?')"><img src="{$BASEURL}resource/doc/images/icon/icon.notes.red.png" alt="" /> Koreksi dokumen asli ke {$detail.nama_pemohon}</a></li>
            {/if}
            {if $action.action_send eq '1'}
            <li><a href="{$config->site_url('task/daftar_kasi_absah/send_process/'|cat:$detail.registrasi_id|cat:'/'|cat:$detail.process_id)}" onclick="return confirm('Apakah anda yakin akan mengirimkan data berikut ini ke {$next.role_nm}?')"><img src="{$BASEURL}resource/doc/images/icon/arrow-right.png" alt="" /> Valid dan Kirim ke {$next.role_nm}</a></li>
            {/if}  
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            VERIFIKASI KEABSAHAN DOKUMEN (File Attachment) :
        </a>
    </h5>
    <form action="{$config->site_url('task/daftar_kasi_absah/approved_process')}" method="post">
        <input type="hidden" name="registrasi_id" value="{$detail.registrasi_id|default:''}">
        <table class="table-view" width="100%">
		{$no = 1}
        {foreach from=$rs_files item=data}
        <tr>
            <td width='5%' align="center">
                {$no++}.
            </td>
            <td width='35%'>
                {$data.ref_name}
            </td>
            <td width="60%">
                {if $data.ref_id|in_array:$file_uploaded}
                <a href="{$config->site_url('task/daftar_kasi_absah/files_download/'|cat:$detail.registrasi_id|cat:'/'|cat:$data.ref_id|cat:'/'|cat:$name_uploaded[$data.ref_id])}">{$name_uploaded[$data.ref_id]}</a>
                {else}
                -
                {/if}
            </td>
        </tr>
        {/foreach}
		
		</table>
    </form>
</div>
<div class="action">
    <div class="action-button">
        <ul>
            <li><a href="#" title="{$detail.registrasi_id}" id="button-catatan"><img src="{$BASEURL}resource/doc/images/icon/document_edit.png" alt="" />( {$total_catatan} ) Catatan Proses Permohonan</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div></br>
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            DATA DETAIL PENGAJUAN :
        </a>
    </h5>
	<table class="table-view" width="100%">
		<tr>
            <td width="17%">
                <span style="text-decoration: underline;">Tanggal Surat Permohonan</span><br />
            </td>
            <td width="33%"><b>{$dtm->get_full_date($detail.tgl_surat)|default:''|upper}</b></td>
            <td width='15%'>
                <span style="text-decoration: underline;">Nomor Surat Permohonan</span><br />
            </td>
            <td width='35%'><b>{$detail.no_surat|default:''|upper}</b></td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Nama Pemohon</span><br />
            </td>
            <td><b>{$detail.nama_pemohon|default:''|upper}</b></td>
            <td>
                <span style="text-decoration: underline;">Pemohon Merupakan </span><br />
            </td>
            <td>
			{if $detail.pemilik_st eq 1}
				<b>Pemilik Kapal</b>
			{else}
				<b>Bukan Pemilik Kapal</b>
			{/if}
			</td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Tempat Pendaftaran</span><br />
            </td>
            <td><b>{$detail.pendaftaran_nm} - {$detail.pendaftaran_kd}</b></td>
            
			<td>
                <span style="text-decoration: underline;">Bukti Hak Milik Atas Kapal </span>
            </td>
            <td><b>{$detail.subgroup_nm}</b></td>
        </tr>
    </table>
</div>
<div class="rute-box">
	<h5>
        <a href="#" class="drop-up">
            DATA PEMILIK :
        </a>
    </h5>
	<table class="table-view" width="100%">
        <tr>
            <td width='15%'>
                <span style="text-decoration: underline;">Nama Pemilik</span><br />
            </td>
            <td width='35%'>
                <b>{$detail.nama_pemilik|default:''|upper}</b>
            </td>
			<td width='15%'>
                <span style="text-decoration: underline;">NPWP</span><br />
            </td>
            <td width='35%'>
                <b>{$detail.npwp|default:''|upper}</b>
            </td>
        </tr>
        <tr>
            <td >
                <span style="text-decoration: underline;">Alamat Pemilik</span><br />
            </td>
            <td >
                <b>{$detail.alamat_pemilik|default:''}</b>
            </td>
			<td >
                <span style="text-decoration: underline;">Kota</span><br />
            </td>
            <td >
                <b>{$detail.kota|default:''|upper}</b>
            </td>
        </tr>
	</table>
</div>
<div class="rute-box">
	<h5>
        <a href="#" class="drop-up">
            DATA KAPAL :
        </a>
    </h5>
	<table class="table-view" width="100%">
        <tr>
            <td width='15%'>
                <span style="text-decoration: underline;">Nama Kapal</span><br />
            </td>
            <td width='35%'>
                <b>{$detail.nama_kapal|default:''|upper}</b>
            </td>
			<td width='15%'>
                <span style="text-decoration: underline;">Eks Nama Kapal</span><br /><i></i>
            </td>
            <td width='35%'>
                <b>{$detail.eks_nama_kapal|default:''|upper}</b>
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Jenis Kapal</span><br />
            </td>
            <td>
				<b>{$detail.jenis_ket} - {$detail.jenisdetail_ket}</b>				
			</td>
            <td>
                <span style="text-decoration: underline;">Nomor IMO</span><br /><i></i>
            </td>
            <td>
                <b>{$detail.nomor_imo|default:''}</b>
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Call Sign</span><br /><i></i>
            </td>
            <td>
                <b>{$detail.call_sign|default:''|upper}</b>
            </td>
            <td>
                <span style="text-decoration: underline;">No. CSR</span><br /><i></i>
            </td>
            <td>
                <b>{$detail.no_csr|default:''}</b>
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Harga Kapal</span><br /><i></i>
            </td>
            <td>
                <b>{$detail.harga_kapal|default:''}</b>
            </td>
            <td>
                <span style="text-decoration: underline;">Bendera Asal</span><br /><i></i>
            </td>
            <td>
				<b>{$detail.negara_nm}</b>
			</td>
        </tr>
	</table>
</div>
<div class="rute-box">
	<h5>
        <a href="#" class="drop-up">
            SURAT UKUR & DATA PEMBANGUNAN KAPAL :
        </a>
    </h5>
	<table class="table-view" width="100%">
    	<tr>
            <td width='15%'>
                <span style="text-decoration: underline;">Tempat Terbit</span><br />
            </td>
            <td width='35%'>
				<b>{$detail.penerbitan_nm} - {$detail.penerbitan_kd}</b>
			</td>
            <td width='15%'>
                <span style="text-decoration: underline;">Tempat Pembuatan</span><br /><i></i>
            </td>
            <td width='35%'>
                <b>{$detail.tempat_pembuatan|default:''|upper}</b>
            </td>
            
        </tr>
		<tr>
            <td>
                <span style="text-decoration: underline;">Tanggal Surat Ukur</span><br />
            </td>
            <td>
                <b>{$detail.tgl_surat_ukur|default:''}</b>
            </td>
            <td>
                <span style="text-decoration: underline;">Tanggal Peletakan Lunas</span><br /><i></i>
            </td>
            <td>
                <b>{$detail.tgl_peletakan_lunas|default:''}</b>
            </td>
        </tr>
		<tr>
            <td>
                <span style="text-decoration: underline;">No. Surat Ukur</span><br />
            </td>
            <td>
                <b>{$detail.no_surat_ukur|default:''}</b>
            </td>
        </tr>
	</table>
</div>
<div class="rute-box">
	<h5>
        <a href="#" class="drop-up">
            DIMENSI :
        </a>
    </h5>
	<table class="table-view" width="100%">
    	
        <tr>
            <td width='15%'>
                <span style="text-decoration: underline;">Panjang</span><br />
            </td>
            <td width='35%'>
                <b>{$detail.dimensi_panjang|default:''}</b>
            </td>
            <td width='15%'>
                <span style="text-decoration: underline;">Dalam</span><br /><i></i>
            </td>
            <td width='35%'>
                <b>{$detail.dimensi_dalam|default:''}</b>
            </td>
		</tr>
        <tr>
            <td width='15%'>
                <span style="text-decoration: underline;">Lebar</span><br />
            </td>
            <td width='35%'>
                <b>{$detail.dimensi_lebar|default:''}</b>
            </td>
            <td width='15%'>
                <span style="text-decoration: underline;">LOA</span><br />
            </td>
            <td width='35%'>
                <b>{$detail.dimensi_loa|default:''}</b>
            </td>
		</tr>
        <tr>
            <td width='15%'>
                <span style="text-decoration: underline;">(GT) Isi Kotor</span><br />
            </td>
            <td width='35%'>
                <b>{$detail.dimensi_isikotor|default:''}</b>
            </td>
            <td width='15%'>
                <span style="text-decoration: underline;">(NT) Isi Bersih</span><br />
            </td>
            <td width='35%'>
                <b>{$detail.dimensi_isibersih|default:''}</b>
            </td>
		</tr>
        <tr>
            <td width='15%'>
                <span style="text-decoration: underline;">Tanda Selar</span><br />
            </td>
            <td width='35%'>
                <b>{$detail.tanda_selar|default:''}</b>
            </td>
		</tr>
	</table>
</div>
<div class="rute-box">
	<h5>
        <a href="#" class="drop-up">
            KONSTRUKSI DAN MESIN :
        </a>
    </h5>
	<table class="table-view" width="100%">
        <tr>
            <td width='15%'>
                <span style="text-decoration: underline;">Bahan Utama Kapal</span><br />
            </td>
            <td width='35%'>
                <b>{$detail.bahan_ket}</b>
            </td>
            <td width='15%'>
                <span style="text-decoration: underline;">Jumlah Geladak</span><br />
            </td>
            <td width='35%'>
                <b>{$detail.jml_geladak|default:''}</b>
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Jumlah Cerobong</span><br /><i></i>
            </td>
            <td>
                <b>{$detail.jml_cerobong|default:''}</b>
            </td>
            <td>
                <span style="text-decoration: underline;">Jumlah Baling Baling</span><br /><i></i>
            </td>
            <td>
                <b>{$detail.jml_baling|default:''}</b>
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Penggerak Utama</span><br /><i></i>
            </td>
            <td><b>{$detail.penggerak_ket}</b>
            </td>
            <td>
                <span style="text-decoration: underline;">Mesin Merk</span><br /><i></i>
            </td>
            <td>
                <b>{$detail.mesin_merk|default:''}</b>
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Putaran Mesin</span><br /><i></i>
            </td>
            <td>
                <b>{$detail.putaran_mesin|default:''}</b>
            </td>
            <td>
                <span style="text-decoration: underline;">Type Mesin</span><br /><i></i>
            </td>
            <td>
                <b>{$detail.type_mesin|default:''}</b>
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Serial No. Mesin</span><br /><i></i>
            </td>
            <td>
                <b>{$detail.serial_no_mesin|default:''}</b>
            </td>
        </tr>
	</table>
</div>
<div class="rute-box">
	<h5>
        <a href="#" class="drop-up">
            DAYA MESIN :
        </a>
    </h5>
	<table class="table-view" width="100%">
        <tr>
            <td width='15%'>
                <span style="text-decoration: underline;">Daya Mesin 1</span><br /><i></i>
            </td>
            <td width='35%'>
                <b>{$detail.daya_mesin1|default:''}<b>
				<b>{$detail.satuan_mesin1}<b>
            </td>
            <td width='15%'>
                <span style="text-decoration: underline;">Daya Mesin 2</span><br /><i></i>
            </td>
            <td width='35%'>
                <b>{$detail.daya_mesin2|default:''}<b>
				<b>{$detail.satuan_mesin2}<b>
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Daya Mesin 3</span><br /><i></i>
            </td>
            <td>
                <b>{$detail.daya_mesin3|default:''}<b>
				<b>{$detail.satuan_mesin3}<b>
            </td>
			<td>
                <span style="text-decoration: underline;">Daya Mesin 4</span><br /><i></i>
            </td>
            <td>
                <b>{$detail.daya_mesin4|default:''}<b>
				<b>{$detail.satuan_mesin4}<b>
            </td>
        </tr>
		
    </table>
</div>

<!-- include html -->
{include file="task/daftar_kasi_absah/task_form_dialog.html"}
<!-- end of include html -->