<div class="breadcrum">
    <p>
        <a href="#">Data Monitoring</a><span></span>
        <a href="{$config->site_url('task/monitoring_izin/')}">Izin Rute Penerbangan</a><span></span>
        <a href="#">{$detail.airlines_nm|upper}</a><span></span>
        <small>{$detail.group_nm|upper}</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('task/monitoring_izin/preview_baru/'|cat:$detail.registrasi_id)}"><img src="{$BASEURL}resource/doc/images/icon/icon.normal.png" alt="" /> Preview Surat</a></li>
            <li><a href="{$config->site_url('task/monitoring_izin/')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<table class="table-form" width="100%">
    <tr>
        <td width='50%' colspan="2">
            Dikirim oleh {$detail.pengirim|upper}, <br />Tanggal : {$dtm->get_full_date($detail.izin_request_date)}
        </td>
        <td width='50%' align='right' colspan="2">
            <img src="{$BASEURL}resource/doc/images/icon/icon.waiting.png" alt="" /> Masih dalam proses {$detail.task_nm}
            <br />
            <small style="font-size: 11px; font-family: helvetica; color: #999; font-style: italic; margin-right: 5px;">Last Updates : {$dtm->get_full_date($detail.tanggal_proses)}</small>
        </td>
    </tr>
</table>
<table class="table-form" width="100%">
    <tr>
        <td colspan="4" align='center'>
            <b style="font-size: 16px;">PERMOHONAN {$detail.group_nm|upper}</b>
        </td>
    </tr>
    <tr>
        <td colspan="4" align='center'>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <span style="text-decoration: underline;">Tanggal Surat Permohonan</span><br /><i>Request Letter Date</i>
        </td>
        <td><b>{$dtm->get_full_date($detail.izin_request_letter_date)|default:''|upper}</b></td>
        <td width='20%'>
            <span style="text-decoration: underline;">Nomor Surat Permohonan</span><br /><i>Request Letter Number</i>
        </td>
        <td width='30%'><b>{$detail.izin_request_letter|default:''|upper}</b></td>
    </tr>
    <tr>
        <td width='20%'>
            <span style="text-decoration: underline;">Rute Pairing</span><br /><i>Pair Routes</i>
        </td>
        <td width='30%'><b>{$detail.izin_rute_start} / {$detail.izin_rute_end}</b></td>
        <td><span style="text-decoration: underline;">Penunjukkan Oleh</span><br /><i>Appointment By</i></td>
        <td><b>{$detail.penanggungjawab|default:''|upper}</b></td>
    </tr>   
    <tr>
        <td>
            <span style="text-decoration: underline;">Jenis Penerbangan</span><br /><i>Flight Type</i>
        </td>
        <td><b>{$detail.pax_cargo|upper}</b></td>
        <td><span style="text-decoration: underline;">Jabatan</span><br /><i>Job Title</i></td>
        <td><b>{$detail.jabatan|default:''|upper}</b></td>
    </tr>  
    <tr>
        <td>
            <span style="text-decoration: underline;">Season Code</span><br /><i>For IASM Airport</i>
        </td>
        <td colspan="3"><b>{$detail.izin_season|default:''|upper}</b></td>
    </tr>
</table>
<table class="table-view" width="100%">
    <tr style="font-weight: bold;">
        <td width="5%" align='center'>No</td>
        <td width="11%" align='center'>Rute</td>
        <td width="9%" align='center'>Tipe<br />Pesawat</td>
        <td width="9%" align='center'>Nomor<br />Penerbangan</td>
        <td width="10%" align='center'>ETD <br />(waktu lokal)</td>
        <td width="10%" align='center'>ETA <br />(waktu lokal)</td>
        <td width="8%" align='center'>Hari <br />Operasi</td>
        <td width="8%" align='center'>RON</td>
        <td width="8%" align='center'>Frekuensi</td>
        <td width="11%" align='center'>Tanggal <br />Mulai</td>
        <td width="11%" align='center'>Tanggal <br />Berakhir</td>
    </tr>
    {foreach from=$rs_id key=no item=rute}
    {$i = 1}
    {$rowspan = $rute|count}
    {foreach from=$rute item=data}
    <tr>
        {if $rowspan <= 1}
        <td align="center">{$no}.</td>
        {elseif $i eq 1}
        <td align="center" rowspan="{$rowspan}">{$no}.</td>
        {/if}
        <td align="center">{$data.rute_all|default:'-'}</td>
        <td align="center">{$data.tipe|default:'-'}</td>
        <td align="center">{$data.flight_no|default:'-'}</td>
        <td align="center">{$data.etd|default:'-'|substr:0:5}</td>
        <td align="center">{$data.eta|default:'-'|substr:0:5}</td>   
        <td align="center">{$data.doop|default:'-'}</td>
        <td align="center">{$data.roon|default:'-'}</td>
        <td align="center">{$data.frekuensi}X</td>
        <td align="center">{$dtm->get_full_date($data.start_date, 'ins')|upper}</td>
        <td align="center">{$dtm->get_full_date($data.end_date, 'ins')|upper}</td>
    </tr>
    {if $rowspan eq $i}
    <tr>
        <td colspan="8" align="right">Perhitungan Jumlah Frekuensi / Minggu</td>
        <td align="center">
            <b>{$subtotal[$data.kode_frekuensi]['frekuensi']}X</b>
        </td>
        <td align="center">
            <b>{$dtm->get_full_date($subtotal[$data.kode_frekuensi]['start_date'], 'ins')|upper}</b>
        </td>
        <td align="center">                                
            <b>{$dtm->get_full_date($subtotal[$data.kode_frekuensi]['end_date'], 'ins')|upper}</b>
        </td>
    </tr>
    {/if}
    {$i = $i + 1}
    {foreachelse}
    <tr>
        <td align="center">{$no}.</td>
        <td align="center">{$data.rute_all|default:'-'}</td>
        <td align="center">{$data.tipe|default:'-'}</td>
        <td align="center">{$data.flight_no|default:'-'}</td>
        <td align="center">{$data.etd|default:'-'|substr:0:5}</td>
        <td align="center">{$data.eta|default:'-'|substr:0:5}</td>  
        <td align="center">{$data.doop|default:'-'}</td>
        <td align="center">{$data.roon|default:'-'}</td>
        <td align="center">{$data.frekuensi}X</td>
        <td align="center">{$dtm->get_full_date($data.start_date, 'ins')|upper}</td>
        <td align="center">{$dtm->get_full_date($data.end_date, 'ins')|upper}</td>
    </tr>
    {/foreach}
    {foreachelse}
    <tr>
        <td colspan="11">Data rute belum diinputkan!</td>
    </tr>
    {/foreach}
    <tr>
        <td colspan="8" align="right">Perhitungan Total Jumlah Frekuensi / Minggu</td>
        <td align="center"><b>{$total.frekuensi}X</b></td>
        <td align="center">
            <b>{$dtm->get_full_date($total.start_date, 'ins')|upper}</b>
        </td>
        <td align="center">
            <b>{$dtm->get_full_date($total.end_date, 'ins')|upper}</b>
        </td>
    </tr>
</table>
{if $is_used_score neq 2}
<table class="table-form" width="100%">
    <tr>
        <td colspan="5">
            <b>Slot Clearance Attachment :</b>
        </td>
    </tr>
    <tr>
        <th width="5%" align="center">No</th>
        <th width="30%" align="center">Subject Surat</th>
        <th width="20%" align="center">Nomor Surat</th>
        <th width="25%" align="center">Perihal</th>
        <th width="20%" align="center">File Attachment</th>
    </tr>
    {$no = 1}
    {foreach from=$rs_slot item=data}
    <tr>
        <td align="center">{$no++}.</td>
        <td>{$data.slot_subject}</td>
        <td>
            <span style="text-decoration: underline;">{$data.slot_number}</span><br /> 
            Tanggal : {$dtm->get_full_date($data.slot_date, 'ins')}
        </td>
        <td>{$data.slot_desc}</td>
        <td align="center" style="font-size: 10px;">
            <a href="{$config->site_url('izin_domestik/baru/slot_download/'|cat:$detail.registrasi_id|cat:'/'|cat:$data.slot_id)}">{$data.slot_file_name}</a>
        </td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="5">Data slot clearance belum diinputkan!</td>
    </tr>
    {/foreach}
</table>
{/if}
<table class="table-form" width="100%">
    <tr>
        <td colspan="3">
            <b>File persyaratan yang wajib di sertakan adalah sebagai berikut :</b>
        </td>
    </tr>
    {$no = 1}
    {foreach from=$rs_files item=data}
    <tr>
        <td width='5%' align="center">
            {$no++}.
        </td>
        <td width='35%'>
            {$data.ref_name}
        </td>
        <td width="60%">
            {if $data.ref_id|in_array:$file_uploaded}
            <a href="{$config->site_url('izin_domestik/baru/files_download/'|cat:$detail.registrasi_id|cat:'/'|cat:$data.ref_id)}">{$name_uploaded[$data.ref_id]}</a>
            {else}
            -
            {/if}
        </td>
    </tr>
    {/foreach}
</table>