<div class="breadcrum">
    <p>
        <a href="#">Settings</a><span></span>
        <a href="{$config->site_url('pengaturan/jenis_kapal')}">Jenis Kapal</a><span></span>
        <small>Add Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('pengaturan/jenis_kapal')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" /> Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('pengaturan/jenis_kapal/add_process')}" method="post">
    <table class="table-input" width="100%" border='0'>
        <tr class="headrow">
            <th colspan="4">Tambah Data Jenis Kapal</th>
        </tr>
        <tr>
            <td width="15%">Jenis</td>
            <td width="35%">
                <input name="jenis_ket" type="text" value="{$result.jenis_ket|default:''}" size="30" maxlength="50" />
                <em>* wajib diisi</em>
            </td>
        </tr>  
        <tr>
            <td>Alias</td>
            <td>
                <input name="jenis_alias" type="text" value="{$result.jenis_alias|default:'-'}" size="30" maxlength="50" />
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                <select name="jenis_status" class="jenis_status">
                    <option value="">--- Pilih ---</option>
                    <option value="1" {if {$result.jenis_status|default:''} == "1"}selected="selected"{/if}>AKTIF</option>
                    <option value="0" {if {$result.jenis_status|default:''} == "0"}selected="selected"{/if}>TIDAK AKTIF</option>
                </select>
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr class="submit-box">
            <td colspan="4">
                <input type="submit" name="save" value="Simpan" class="submit-button" />
                <input type="reset" name="save" value="Reset" class="reset-button" />
            </td>
        </tr>
    </table>
</form>