<div class="breadcrum">
    <p>
        <a href="#">Settings</a><span></span>
        <a href="{$config->site_url('pengaturan/file_reference')}">File References</a><span></span>
        <small>Edit Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('pengaturan/file_references')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" /> Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('pengaturan/file_references/edit_process')}" method="post">
    <input name="ref_id" type="hidden" value="{$result.ref_id|default:''}" />
    <table class="table-input" width="100%" border='0'>
        <tr class="headrow">
            <th colspan="4">Edit Data File References</th>
        </tr>
        <tr>
            <td width="15%">File</td>
            <td width="35%">
                <input name="ref_field" type="text" value="{$result.ref_field|default:''}" size="30" maxlength="50" />
                <em>* wajib diisi</em>
            </td>
        </tr>  
        <tr>
            <td>Name</td>
            <td>
                <input name="ref_name" type="text" value="{$result.ref_name|default:''}" size="30" maxlength="50" />
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr>
            <td>Size</td>
            <td>
                <input name="ref_size" type="text" value="{$result.ref_size|default:''}" size="30" maxlength="50" />
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr>
            <td>Allowed</td>
            <td>
                <input name="ref_allowed" type="text" value="{$result.ref_allowed|default:''}" size="30" maxlength="50" />
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr>
            <td>Required</td>
            <td>
                <select name="ref_required" class="ref_required">
                    <option value="">--- Pilih ---</option>
                    <option value="1" {if {$result.ref_required|default:''} == "1"}selected="selected"{/if}>Required</option>
                    <option value="0" {if {$result.ref_required|default:''} == "0"}selected="selected"{/if}>Not required</option>
                </select>
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr class="submit-box">
            <td colspan="4">
                <input type="submit" name="save" value="Simpan" class="submit-button" />
                <input type="reset" name="save" value="Reset" class="reset-button" />
            </td>
        </tr>
    </table>
</form>