<div class="breadcrum">
    <p>
        <a href="#">Settings</a><span></span>
        <small>File References</small>
    </p>
    <div class="clear"></div>
</div>
<div class="search-box">
    <h3><a href="#">Pencarian</a></h3>
    <form action="{$config->site_url('pengaturan/file_references/proses_cari')}" method="post">
        <table class="table-search" width="100%" border="0">
            <tr>
                <th width="10%">File</th>
                <td width="20%">
                    <input id="tags_ref_field" name="ref_field" type="text" value="{$search.ref_field|default:''}" size="35" maxlength="50" />
                </td>
                <td width='40%' align='right'>
                    <input class="blue" name="save" type="submit" value="Tampilkan" />
                    <input class="orange" name="save" type="submit" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info">Total&nbsp;<strong>{$pagination.total|default:0}</strong>&nbsp;Record&nbsp;</li>{$pagination.data|default:''}
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('pengaturan/file_references/add')}"><img src="{$BASEURL}resource/doc/images/icon/add-icon.png" alt="" /> Add Data</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<table class="table-view" width="100%">
    <tr>
        <th width="4%">No</th>
        <th width="20%">File</th>
        <th width="20%">Name</th>
        <th width="5%">Size</th>
        <th width="15%">Allowed</th>
        <th width="5%">Required</th>
        <th width="16%"></th>
    </tr>
    {foreach from=$rs_file_references item=result}
    <tr {if ($no % 2) <> 1}class="blink-row"{/if}>
        <td align="center">{$no++}.</td>
        <td align="center">{$result.ref_field|upper|default:''}</td>
        <td align="center">{$result.ref_name|upper|default:''}</td>
        <td align="center">{$result.ref_size|upper|default:''}</td>
        <td align="center">{$result.ref_allowed|upper|default:''}</td>
		{if $result.ref_required eq '1'}
            <td align="center">Required</td>
        {else}
            <td align="center">Not required</td>
        {/if}
        <td align="center">
            <a href="{$config->site_url('pengaturan/file_references/edit/'|cat:$result.ref_id|default:'')}" class="button-edit">Edit</a>
            <a href="{$config->site_url('pengaturan/file_references/delete/'|cat:$result.ref_id|default:'')}" class="button-hapus">Hapus</a>
        </td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="6">Data not found!</td>
    </tr>
    {/foreach}
</table>