<script type="text/javascript">
    $(document).ready(function() {
        // timepicker
        $('.waktu').not(".stay-readonly").timepicker({
            showPeriodLabels: false
        });
        // date picker
        $(".tanggal").not(".stay-readonly").datepicker({
            showOn: 'both',
            changeMonth: true,
            changeYear: true,
            yearRange: '1940:2015',
            buttonImage: '{$BASEURL}/resource/doc/images/icon/calendar.gif',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd',
        });
    });
</script>
<div class="breadcrum">
    <p>
        <a href="#">Pendaftaran Izin Rute</a><span></span>
        <small>PERMOHONAN {$detail.group_nm|upper}</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('izin_internasional/notam/list_rute/'|cat:$detail.registrasi_id)}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<h3 style="font-family: helvetica; font-size: 12px;">Data Rute Penerbangan Sebelumnya</h3>
<table width="100%" class="table-view" style="font-weight: normal;">
    <tr>
        <td width="12%" align="center">Kode Frekuensi</td>
        <td width="10%" align="center">Rute  <br />Penerbangan</td>
        <td width="10%" align="center">Tipe <br />Pesawat</td>
        <td width="10%" align="center">Kapasitas <br />Pesawat</td>
        <td width="10%" align="center">Nomor Penerbangan</td>
        <td width="9%" align="center">ETD<br />(waktu lokal)</td>
        <td width="9%" align="center">ETA<br />(waktu lokal)</td>
        <td width="10%" align="center">DOS</td>
        <td width="10%" align="center">Frekuensi</td>
        <td width="10%" align="center">Masa Berlaku</td>
    </tr>
    {$no = 0}
    {$temp = ""}
    {$frekuensi = 0}
    {foreach from=$rs_id_lama item=data}
    {if $data.izin_id neq $temp}
    {$no = $no + 1}    
    {/if}
    <tr {if $data.kode_frekuensi|in_array:$izin_selected}class="red-row"{/if} >
        {if $data.izin_id neq $temp}
        <td align="center" rowspan="{$data.rowspan|default:'0'}"><b>{$data.kode_frekuensi}</b></td>
        {/if}

        <td align="center">{$data.rute_all}</td>
        <td align="center">{$data.aircraft_type}</td>
        <td align="center">{$data.aircraft_capacity}</td>
        <td align="center">{$data.flight_no}</td>
        <td align="center">{$data.etd|substr:0:5}</td>
        <td align="center">{$data.eta|substr:0:5}</td>   

        <td align="center">{$data.doop}</td>

        <td align="center" style="color: blue;">{$data.frekuensi}X</td>
        
        <td align="center" style="color: blue;">
            {$dtm->get_full_date($data.start_date, 'ins')|upper}<br />
            {$dtm->get_full_date($data.end_date, 'ins')|upper}
        </td>
    </tr>
	{if $data.izin_id neq $temp}
    {$temp = $data.izin_id}
    {/if}
    {/foreach}
</table>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<h3 style="color: red; font-family: helvetica; font-size: 12px;">Data Rute Penerbangan Yang Akan Diubah</h3>
<form id="formDef" action="{$config->site_url('izin_internasional/notam/edit_rute_process')}" method="post">
    <input type="hidden" name="mode" value="{$mode}">
    <input type="hidden" name="registrasi_id" value="{$detail.registrasi_id|default:''}">
    <input type="hidden" name="kode_izin" value="{$result.kode_izin|default:''}">
    <input type="hidden" name="kode_frekuensi" value="{$result.kode_frekuensi|default:''}">
    <input type="hidden" name="pairing" value="{$result.pairing|default:''}">
    <input type="hidden" name="izin_rute_start" value="{$detail.izin_rute_start|default:''}">
    <input type="hidden" name="izin_rute_end" value="{$detail.izin_rute_end|default:''}">
    <table class="table-form" width="100%">
        <tr>
            <td width="20%">
                <span style="text-decoration: underline;">Tipe Pesawat</span><br /><i>Aircraft Type</i>
            </td>
            <td width="30%">
                <input type="text" name="aircraft_type" value="{$result.aircraft_type}" size="30" maxlength="30" {if $airport1.is_used_score eq '1' or $airport2.is_used_score eq '1'}readonly="1"{/if}/>
            </td>
            <td width="20%">
                <span style="text-decoration: underline;">Kapasitas Pesawat</span><br /><i>Aircraft Capacity</i>
            </td>
            <td width="30%">
                <input type="text" name="aircraft_capacity" value="{$result.aircraft_capacity|default:''|upper}" size="3" maxlength="3" {if $airport1.is_used_score eq '1' or $airport2.is_used_score eq '1'}readonly="1"{/if}/>
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">DOS</span><br /><i>Day of Services</i>
            </td>
            <td>
                {for $i=1 to 7} 
                <label style="float: none;">
                    <input type="checkbox" name="dos[{$i}]" value="{$i}" {if $dos.$i eq $i}checked="checked"{/if} {if $airport1.is_used_score eq '1' or $airport2.is_used_score eq '1'}disabled="1"{/if}>{$i}
                </label>
                {/for}
            </td>
            <td>
                <span style="text-decoration: underline;">RON</span><br /><i>Remains of Overnight</i>
            </td>
            <td>
                <input type="text" name="ron" size="1" maxlength="1" value="{$result.ron|default:'0'}" style="font-weight: bold; text-align: center;" onkeyup="angka(this);" {if $airport1.is_used_score eq '1' or $airport2.is_used_score eq '1'}readonly="1"{/if}/>
            </td>
        </tr>       
        <tr>
            <td>
                <span style="text-decoration: underline;">Sifat Rute</span><br /><i>Rute Status</i>
            </td>
            <td>
                <select name="pairing" class="pairing" {if $airport1.is_used_score eq '1' or $airport2.is_used_score eq '1'}disabled="1"{/if}>
                    <option value="VV" {if $result.pairing eq 'VV'}selected="selected"{/if}>Pergi Pulang (VV)</option>
                    <option value="OW" {if $result.pairing eq 'OW'}selected="selected"{/if}>One Way Services (OW)</option>
                </select>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><span style="text-decoration: underline;">Tanggal Efektif Dimulai</span><br /><i>Effective Start Date</i></td>
            <td>
                <input type="text" name="izin_start_date" size="10" maxlength="10" value="{$result.izin_start_date|default:''}" class="tanggal {if $airport1.is_used_score eq '1' and $airport2.is_used_score eq '1'}stay-readonly{/if}" readonly="readonly" style="text-align: center; font-weight: bold;" {if $airport1.is_used_score eq '1' or $airport2.is_used_score eq '1'}readonly="1"{/if}/>
            </td>
            <td><span style="text-decoration: underline;">Tanggal Efektif Berakhir</span><br /><i>Effective End Date</i></td>
            <td>
                <input type="text" name="izin_expired_date" size="10" maxlength="10" value="{$result.izin_expired_date|default:''}" class="tanggal {if $airport1.is_used_score eq '1' and $airport2.is_used_score eq '1'}stay-readonly{/if}" readonly="readonly" style="text-align: center; font-weight: bold;" />
            </td>
        </tr>       
    </table>    
    <div id="VV" {if $result.pairing neq 'OW'}style="display: block;"{else}style="display: none;"{/if}>
         <table class="table-form" width='100%'>
            <tr>
                <td width='20%'></td>
                <td width='20%'><b>Rute</b></td>
                <td width='20%'><b>Nomor<br />Penerbangan</b></td>
                <td width='20%'><b>ETD<br />(Waktu Lokal)</b></td>
                <td width='20%'><b>ETA<br />(Waktu Lokal)</b></td>
            </tr>
            <tr>
                <td>Pergi</td>
                <td>
                    <input type="text" name="rute_all11" size="20" maxlength="20" value="{$detail.izin_rute_start|default:''|upper}" readonly="readonly" style="text-align: center;" />
                </td>
                <td>
                    <input type="text" name="flight_no11" size="10" maxlength="10" value="{$result.flight_no11|default:''|upper}" style="text-align: center;" {if $airport1.is_used_score eq '1' or $airport2.is_used_score eq '1'}readonly="1"{/if}/>
                </td>
                <td>
                    <input type="text" name="etd11" size="5" maxlength="5" value="{$result.etd11|default:''|substr:0:5}" style="text-align: center;" class="waktu {if $airport1.is_used_score eq '1'}stay-readonly{/if}" readonly="readonly" /> <em>* Local Time</em>
                </td>
                <td>
                    <input type="text" name="eta11" size="5" maxlength="5" value="{$result.eta11|default:''|substr:0:5}" style="text-align: center;" class="waktu {if $airport2.is_used_score eq '1'}stay-readonly{/if}" readonly="readonly" /> <em>* Local Time</em>
                </td>
            </tr>
            <tr>
                <td>Pulang</td>
                <td>
                    <input type="text" name="rute_all12" size="20" maxlength="20" value="{$detail.izin_rute_end|default:''|upper}" readonly="readonly" style="text-align: center;" />
                </td>
                <td>
                    <input type="text" name="flight_no12" size="10" maxlength="10" value="{$result.flight_no12|default:''|upper}" style="text-align: center;" {if $airport1.is_used_score eq '1' or $airport2.is_used_score eq '1'}readonly="1"{/if}/>
                </td>
                <td>
                    <input type="text" name="etd12" size="5" maxlength="5" value="{$result.etd12|default:''|substr:0:5}" style="text-align: center;" class="waktu {if $airport2.is_used_score eq '1'}stay-readonly{/if}" readonly="readonly" /> <em>* Local Time</em>
                </td>
                <td>
                    <input type="text" name="eta12" size="5" maxlength="5" value="{$result.eta12|default:''|substr:0:5}" style="text-align: center;" class="waktu {if $airport1.is_used_score eq '1'}stay-readonly{/if}" readonly="readonly" /> <em>* Local Time</em>
                </td>
            </tr>
        </table>
    </div>
    <div id="OW" {if $result.pairing eq 'OW'}style="display: block;"{else}style="display: none;"{/if}>
         <table class="table-form" width='100%'>
            <tr>
                <td width='20%'></td>
                <td width='20%'><b>Rute</b></td>
                <td width='20%'><b>Nomor<br />Penerbangan</b></td>
                <td width='20%'><b>ETD<br />(Waktu Lokal)</b></td>
                <td width='20%'><b>ETA<br />(Waktu Lokal)</b></td>
            </tr>
            <tr>
                <td>Pergi / Pulang</td>
                <td>
                    <select name="rute_all" {if $airport1.is_used_score eq '1' or $airport2.is_used_score eq '1'}disabled="1"{/if}>
                        <option value="{$detail.izin_rute_start}" {if $detail.izin_rute_start eq $result.rute_all}selected="selected"{/if}>{$detail.izin_rute_start}</option>
                        <option value="{$detail.izin_rute_end}" {if $detail.izin_rute_end eq $result.rute_all}selected="selected"{/if}>{$detail.izin_rute_end}</option>
                    </select>
                </td>
                <td>
                    <input type="text" name="flight_no" size="10" maxlength="10" value="{$result.flight_no|default:''|upper}" style="text-align: center;" {if $airport1.is_used_score eq '1' or $airport2.is_used_score eq '1'}readonly="1"{/if}/>
                </td>
                <td>
                    <input type="text" name="etd" size="5" maxlength="5" value="{$result.etd|default:''|substr:0:5}" style="text-align: center;" class="waktu {if $airport1.is_used_score eq '1'}stay-readonly{/if}" readonly="readonly" /> <em>* Local Time</em>
                </td>
                <td>
                    <input type="text" name="eta" size="5" maxlength="5" value="{$result.eta|default:''|substr:0:5}" style="text-align: center;" class="waktu {if $airport2.is_used_score eq '1'}stay-readonly{/if}" readonly="readonly" /> <em>* Local Time</em>
                </td>
            </tr>
        </table>
    </div>
    <table class="table-form" width='100%'>
        <tr class="submit-box">
            <td colspan="2">
                Apakah anda yakin dengan data diatas?
            </td>
            <td colspan="2" align='right'>
                <input type="submit" name="save" value="Simpan" class="submit-button" />
            </td>
        </tr>
    </table>
</form>
<script>
$(document).ready(function() {
    $("#formDef").submit(function(e) {
        $("input:disabled").removeAttr("disabled");
        $("select:disabled").removeAttr("disabled");
    });
});
</script>