<div class="breadcrum">
    <p>
        <a href="#">Settings</a><span></span>
        <small>Preferences</small>
    </p>
    <div class="clear"></div>
</div>
<div class="sub-nav-content">
    <ul>
        <li><a href="{$config->site_url('pengaturan/preferences/')}">Surat Izin Rute - Tembusan</a></li>
        <li><a href="{$config->site_url('pengaturan/preferences/kepada')}">Surat Izin Rute - Kepada</a></li>
        <li><a href="{$config->site_url('pengaturan/preferences/mail/')}">Email Settings</a></li>
        <li><a href="{$config->site_url('pengaturan/preferences/invoices/')}" class="active">Invoices Settings</a></li>
        <li><a href="{$config->site_url('pengaturan/preferences/tarif/')}">Tarif Settings</a></li>
        <li><a href="{$config->site_url('pengaturan/preferences/peraturan/')}">Undang - undang</a></li>
    </ul>
    <div class="clear"></div>
    <div class="sub-content">
        <br />
        <p style="color: #666; font-family: helvetica; font-size: 12px;">Masih dalam pengembangan!</p>
    </div>
</div>