<h3>{$org_title}</h3>
<div class="content">
    <h4>Mengapa Wajib Menggunakan Sistem Flight Approval Online?</h4>
    <p>
        <img src="{$BASEURL}resource/doc/images/icon/document_edit.png" style="height: 48px; width: auto;" />
        <b>Bebas Antre</b>
        <br />
        Tidak perlu mengantre di stasiun lagi untuk mendapatkan tiket kereta api, karena dengan mengakses Tiket.com melalui komputer, laptop, maupun telepon genggam yang terhubung dengan internet di mana saja dan kapan saja, pelanggan atau calon penumpang dapat melakukan reservasi tiket kereta api dengan cepat dan mudah.
    </p>
    <p>
        <img src="{$BASEURL}resource/doc/images/icon/document_edit.png" style="height: 48px; width: auto;" />
        <b>Bebas Antre</b>
        <br />
        Tidak perlu mengantre di stasiun lagi untuk mendapatkan tiket kereta api, karena dengan mengakses Tiket.com melalui komputer, laptop, maupun telepon genggam yang terhubung dengan internet di mana saja dan kapan saja, pelanggan atau calon penumpang dapat melakukan reservasi tiket kereta api dengan cepat dan mudah.
    </p>
</div>