<div class="breadcrum">
    <p>
        <a href="#">Web Management</a><span></span>
        <small>FAQ</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info"><strong>{$total} Records</strong></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('web/faq/add/')}"><img src="{$BASEURL}resource/doc/images/icon/add-icon.png" alt="" /> Add Data</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<table class="table-view" width="100%">
    <tr>
        <th width="4%">No</th>
        <th width="36%">Nama Kategori</th>
        <th width="39%">Deskripsi Kategori</th>
        <th width="5%">Urutan</th>
        <th width="16%"></th>
    </tr>
    {$no = 1}
    {foreach from=$rs_id item=result}
    <tr {if ($no % 2) <> 1}class="blink-row"{/if}>
        <td align='center'>{$no++}.</td>
        <td><b>{$result.category_nm|upper}</b></td>
        <td align="center">{$result.category_desc|upper}</td>
        <td align="center">{$result.category_seq}</td>
        <td align="center">
            <a href="{$config->site_url('web/faq/detail/'|cat:$result.category_id)}" class="button-edit">Pertanyaan</a>
            <a href="{$config->site_url('web/faq/edit/'|cat:$result.category_id)}" class="button-edit">Edit</a>
            <a href="{$config->site_url('web/faq/delete_process/'|cat:$result.category_id)}" class="button-hapus" onclick="return confirm('Apakah anda yakin akan menghapus data berikut ini?');">Hapus</a>
        </td>
    </tr>    
    {foreachelse}
    <tr>
        <td colspan="5">Data not found!</td>
    </tr>
    {/foreach}
</table>