<script type="text/javascript">
    $(function () {
        $(".login").jCryption({
            getKeysURL: "{$config->site_url('login/stakeholderlogin/crypt?getPublicKey=true')}",
            handshakeURL: "{$config->site_url('login/stakeholderlogin/crypt?handshake=true')}"
        });
    });
</script>
{if $login_st|default:'' eq ''}
<div class="content">
    <form action="{$config->site_url('login/stakeholderlogin/login_process')}" method="post" autocomplete="off" class="login">
        <div class="input">
            <input name="username" maxlength="30" type="text" placeholder="Username" autocomplete="off"/>
            <br/>
            <input name="pass" maxlength="30" type="password" placeholder="Password" autocomplete="off"/>
        </div>
        <div class="action">
            <input value="" name="save" type="submit"/>
        </div>
        <div class="clear"></div>            
    </form>
</div>
{elseif $login_st|default:'' eq 'error'}
<div class="alert red"><b>Your account is not found!</b> <p>Please Try Again or contact your administrator</p></div>
<div class="content">
    <form action="{$config->site_url('login/stakeholderlogin/login_process')}" method="post" autocomplete="off" class="login">
        <div class="input">
            <input name="username" maxlength="30" type="text" placeholder="Username" autocomplete="off"/>
            <br/>
            <input name="pass" maxlength="30" type="password" placeholder="Password" autocomplete="off"/>
        </div>
        <div class="action">
            <input value="" name="save" type="submit"/>
        </div>
        <div class="clear"></div>            
    </form>
</div>
{elseif $login_st|default:'' eq 'locked'}
<div class="alert red"><b>Your account has been locked!</b> <p>Please Try Again or contact your administrator</p></div>
<div class="content">
    <form action="{$config->site_url('login/stakeholderlogin/login_process')}" method="post" autocomplete="off" class="login">
        <div class="input">
            <input name="username" maxlength="30" type="text" placeholder="Username" autocomplete="off"/>
            <br/>
            <input name="pass" maxlength="30" type="password" placeholder="Password" autocomplete="off"/>
        </div>
        <div class="action">
            <input value="" name="save" type="submit"/>
        </div>
        <div class="clear"></div>            
    </form>
</div>
{elseif $login_st|default:'' eq 'still'}
<div class="alert red"><b>You are still login!</b> <p>Please Try Again or contact your administrator</p></div>
{else}
<div class="content">
    <form action="{$config->site_url('login/stakeholderlogin/login_process')}" method="post" autocomplete="off" class="login">
        <div class="input">
            <input name="username" maxlength="30" type="text" placeholder="Username" autocomplete="off"/>
            <br/>
            <input name="pass" maxlength="30" type="password" placeholder="Password" autocomplete="off"/>
        </div>
        <div class="action">
            <input value="" name="save" type="submit"/>
        </div>
        <div class="clear"></div>            
    </form>
</div>
{/if}