<div class="head-content">
    <h3>System Preferences</h3>
    <div class="head-content-nav">
        <ul>
            <li><a href="{$config->site_url('settings/adminpreferences/add')}" class="active"><img src="{$BASEURL}resource/doc/images/icon/add-icon.png" alt="" /> Add Data</a></li>
            <li><a href="{$config->site_url('settings/adminpreferences/')}">List Data</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('settings/adminpreferences/process_add')}" method="post">
    <table class="table-input" width="100%">
        <tr class="headrow">
            <th colspan="2">Tambah System Preferences</th>
        </tr>
        <tr>
            <td width="25%">Group *</td>
            <td width="75%"><input type="text" name="pref_group" maxlength="50" size="30" value="{$result.pref_group|default:''}" /> </td>
        </tr>
        <tr>
            <td>Name *</td>
            <td><input type="text" name="pref_nm" maxlength="50" size="30" value="{$result.pref_nm|default:''}" /></td>
        </tr>
        <tr>
            <td>Value *</td>
            <td><input type="text" name="pref_value" maxlength="255" size="60" value="{$result.pref_value|default:''}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" name="save" value="Simpan" class="edit-button" /> </td>
        </tr>
    </table>
</form>
