<div class="head-content">
    <h3>System Preferences</h3>
    <div class="head-content-nav">
        <ul>
            <li><a href="{$config->site_url('settings/adminpreferences/add')}"><img src="{$BASEURL}resource/doc/images/icon/add-icon.png" alt="" /> Add Data</a></li>
            <li><a href="{$config->site_url('settings/adminpreferences/')}" class="active">List Data</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<table class="table-view" width="100%">
    <tr>
        <th width="5%">No</th>
        <th width="25%">Group</th>
        <th width="25%">Name</th>
        <th width="30%">Value</th>
        <th width="15%"></th>
    </tr>
    {foreach from=$rs_id key=no item=result}
    <tr {if ($no % 2) <> 0}class="blink-row"{/if}>
        <td>{$no + 1}.</td>
        <td>{$result.pref_group}</td>
        <td>{$result.pref_nm}</td>
        <td>{$result.pref_value}</td>
        <td align="center">
            <a href="{$config->site_url({'settings/adminpreferences/edit/'|cat:$result.pref_id})}" class="button-edit">Edit</a>
            <a href="{$config->site_url({'settings/adminpreferences/hapus/'|cat:$result.pref_id})}" class="button-hapus">Hapus</a>
        </td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="5">Data not found!</td>
    </tr>
    {/foreach}
</table>