<div class="breadcrum">
    <p>
        <a href="#">Pengajuan Ditolak</a><span></span>
        <a href="{$config->site_url('member/reject_daftar/')}">Pengajuan Akta</a><span></span>
        <small>{$detail.group_nm} [{$detail.registrasi_id}]</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('member/reject_daftar/')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Back to List</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
	<table class="table-form" width="100%">
		<tr>
			<td width='50%' colspan="2">
            Dikirim oleh {$detail.pengirim|upper}, <br />Tanggal : {$dtm->get_full_date($detail.tgl_pengajuan)}
			</td>
			<td width='50%' align='right' colspan="2">
				<img src="{$BASEURL}resource/doc/images/icon/icon.reject.png" alt="" />  
				<b>Proses Pengajuan Ditolak!</b>
				<br />
				<small style="font-size: 11px; font-family: helvetica; color: #999; font-style: italic; margin-right: 5px;">Update Terakhir : {$dtm->get_full_date($detail.tanggal_proses)}</small>
			</td>
		</tr>
	</table>
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            PENOLAKAN {$detail.group_nm|upper}
        </a>
    </h5>
	<table class="table-view" width="100%">
		<tr>
            <td width="15%">
                Tanggal Surat Permohonan
            </td width="26">
            <td><b>{$dtm->get_full_date($detail.tgl_surat)|default:''|upper}</b></td>
            <td width='15%'>
                Nomor Surat Permohonan
            </td>
            <td width='35%'><b>{$detail.no_surat|default:''|upper}</b></td>
        </tr>
        <tr>
            <td>
                Nama Pemohon
            </td>
            <td><b>{$detail.nama_pemohon|default:''|upper}</b></td>
            <td>
                Pemohon Merupakan 
            </td>
            <td>
			{if $detail.pemilik_st eq 1}
				<b>Pemilik Kapal</b>
			{else}
				<b>Bukan Pemilik Kapal</b>
			{/if}
			</td>
        </tr>
        <tr>
            <td>
                Tempat Pendaftaran
            </td>
            <td><b>{$detail.pendaftaran_nm} - {$detail.pendaftaran_kd}</b></td>
            
			<td>
                Bukti Hak Milik Atas Kapal </span>
            </td>
            <td><b>{$detail.subgroup_nm}</b></td>
        </tr>
    </table>
</div>	
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            DATA PEMILIK
        </a>
    </h5>
	<table class="table-view" width="100%">
        <tr>
            <td width='15%'>
                Nama Pemilik
            </td>
            <td width='35%'>
                <b>{$detail.nama_pemilik|default:''|upper}</b>
            </td>
			<td width='15%'>
                NPWP
            </td>
            <td width='35%'>
                <b>{$detail.npwp|default:''|upper}</b>
            </td>
        </tr>
        <tr>
            <td >
                Alamat Pemilik
            </td>
            <td >
                <b>{$detail.alamat_pemilik|default:''}</b>
            </td>
			<td >
                Kota
            </td>
            <td >
                <b>{$detail.kota|default:''|upper}</b>
            </td>
        </tr>
	</table>
</div>	
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            DATA KAPAL
        </a>
    </h5>
	<table class="table-view" width="100%">
        <tr>
            <td width='15%'>
                Nama Kapal
            </td>
            <td width='35%'>
                <b>{$detail.nama_kapal|default:''|upper}</b>
            </td>
			<td width='15%'>
                Eks Nama Kapal<i></i>
            </td>
            <td width='35%'>
                <b>{$detail.eks_nama_kapal|default:''|upper}</b>
            </td>
        </tr>
        <tr>
            <td>
                Jenis Kapal
            </td>
            <td>
				<b>{$detail.jenis_ket} - {$detail.jenisdetail_ket}</b>				
			</td>
            <td>
                Nomor IMO<i></i>
            </td>
            <td>
                <b>{$detail.nomor_imo|default:''}</b>
            </td>
        </tr>
        <tr>
            <td>
                Call Sign<i></i>
            </td>
            <td>
                <b>{$detail.call_sign|default:''|upper}</b>
            </td>
            <td>
                No. CSR<i></i>
            </td>
            <td>
                <b>{$detail.no_csr|default:''}</b>
            </td>
        </tr>
        <tr>
            <td>
                Harga Kapal<i></i>
            </td>
            <td>
                <b>{$detail.harga_kapal|default:''}</b>
            </td>
            <td>
                Bendera Asal<i></i>
            </td>
            <td>
				<b>{$detail.negara_nm}</b>
			</td>
        </tr>
	</table>	
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            SURAT UKUR & DATA PEMBANGUNAN KAPAL
        </a>
    </h5>
	<table class="table-view" width="100%">
        <tr>
            <td width='15%'>
                Tempat Terbit
            </td>
            <td width='35%'>
				<b>{$detail.penerbitan_nm} - {$detail.penerbitan_kd}</b>
			</td>
            <td width='15%'>
                Tempat Pembuatan<i></i>
            </td>
            <td width='35%'>
                <b>{$detail.tempat_pembuatan|default:''|upper}</b>
            </td>
            
        </tr>
		<tr>
            <td>
                Tanggal Surat Ukur
            </td>
            <td>
                <b>{$detail.tgl_surat_ukur|default:''}</b>
            </td>
            <td>
                Tanggal Peletakan Lunas<i></i>
            </td>
            <td>
                <b>{$detail.tgl_peletakan_lunas|default:''}</b>
            </td>
        </tr>
		<tr>
            <td>
                No. Surat Ukur
            </td>
            <td>
                <b>{$detail.no_surat_ukur|default:''}</b>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
	</table>
</div>	
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            DIMENSI
        </a>
    </h5>
	<table class="table-view" width="100%">
        <tr>
            <td width='15%'>
                Panjang
            </td>
            <td width='35%'>
                <b>{$detail.dimensi_panjang|default:''}</b>
            </td>
            <td width='15%'>
                Dalam<i></i>
            </td>
            <td width='35%'>
                <b>{$detail.dimensi_dalam|default:''}</b>
            </td>
		</tr>
        <tr>
            <td width='15%'>
                Lebar
            </td>
            <td width='35%'>
                <b>{$detail.dimensi_lebar|default:''}</b>
            </td>
            <td width='15%'>
                LOA
            </td>
            <td width='35%'>
                <b>{$detail.dimensi_loa|default:''}</b>
            </td>
		</tr>
        <tr>
            <td width='15%'>
                (GT) Isi Kotor
            </td>
            <td width='35%'>
                <b>{$detail.dimensi_isikotor|default:''}</b>
            </td>
            <td width='15%'>
                (NT) Isi Bersih
            </td>
            <td width='35%'>
                <b>{$detail.dimensi_isibersih|default:''}</b>
            </td>
		</tr>
        <tr>
            <td width='15%'>
                Tanda Selar
            </td>
            <td width='35%'>
                <b>{$detail.tanda_selar|default:''}</b>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
		</tr>
	</table>
</div>
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            KONSTRUKSI DAN MESIN
        </a>
    </h5>
	<table class="table-view" width="100%">
        <tr>
            <td width='15%'>
                Bahan Utama Kapal
            </td>
            <td width='35%'>
                <b>{$detail.bahan_ket}</b>
            </td>
            <td width='15%'>
                Jumlah Geladak
            </td>
            <td width='35%'>
                <b>{$detail.jml_geladak|default:''}</b>
            </td>
        </tr>
        <tr>
            <td>
                Jumlah Cerobong<i></i>
            </td>
            <td>
                <b>{$detail.jml_cerobong|default:''}</b>
            </td>
            <td>
                Jumlah Baling Baling<i></i>
            </td>
            <td>
                <b>{$detail.jml_baling|default:''}</b>
            </td>
        </tr>
        <tr>
            <td>
                Penggerak Utama<i></i>
            </td>
            <td><b>{$detail.penggerak_ket}</b>
            </td>
            <td>
                Mesin Merk<i></i>
            </td>
            <td>
                <b>{$detail.mesin_merk|default:''}</b>
            </td>
        </tr>
        <tr>
            <td>
                Putaran Mesin<i></i>
            </td>
            <td>
                <b>{$detail.putaran_mesin|default:''}</b>
            </td>
            <td>
                Type Mesin<i></i>
            </td>
            <td>
                <b>{$detail.type_mesin|default:''}</b>
            </td>
        </tr>
        <tr>
            <td>
                Serial No. Mesin<i></i>
            </td>
            <td>
                <b>{$detail.serial_no_mesin|default:''}</b>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
	</table>
</div>	
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            DAYA MESIN
        </a>
    </h5>
	<table class="table-view" width="100%">
        <tr>
            <td width='15%'>
                Daya Mesin 1<i></i>
            </td>
            <td width='35%'>
                <b>{$detail.daya_mesin1|default:''}<b>
				<b>{$detail.satuan_mesin1}<b>
            </td>
            <td width='15%'>
                Daya Mesin 2<i></i>
            </td>
            <td width='35%'>
                <b>{$detail.daya_mesin2|default:''}<b>
				<b>{$detail.satuan_mesin2}<b>
            </td>
        </tr>
        <tr>
            <td>
                Daya Mesin 3<i></i>
            </td>
            <td>
                <b>{$detail.daya_mesin3|default:''}<b>
				<b>{$detail.satuan_mesin3}<b>
            </td>
			<td>
                Daya Mesin 4<i></i>
            </td>
            <td>
                <b>{$detail.daya_mesin4|default:''}<b>
				<b>{$detail.satuan_mesin4}<b>
            </td>
        </tr>
    </table>
</div>
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            FILE ATTACHMENT:
        </a>
    </h5>
    <table class="table-view" width="100%">
        {$no = 1}
        {foreach from=$rs_files item=data}
        <tr>
            <td width='5%' align="center">
                {$no++}.
            </td>
            <td width='35%'>
                {$data.ref_name}
            </td>
            <td width="60%">
                {if $data.ref_id|in_array:$file_uploaded}
                <a href="{$config->site_url('member/reject_daftar/files_download/'|cat:$detail.registrasi_id|cat:'/'|cat:$data.ref_id|cat:'/'|cat:$name_uploaded[$data.ref_id])}">{$name_uploaded[$data.ref_id]}</a>
                {else}
                -
                {/if}
            </td>
        </tr>
        {/foreach}
	</table>
</div>