<script type="text/javascript">
    function delete_data() {
        if (confirm("Apakah anda yakin akan menghapus data ini?")) {
            return true;
        } else {
            return false;
        }
    }
</script>
<div class="breadcrum">
    <p>
        <a href="#">Settings</a><span></span>
        <small>Preferences</small>
    </p>
    <div class="clear"></div>
</div>
<div class="sub-nav-content">
    <div class="sub-content">
        <div class="navigation">
            <div class="navigation-button">
                <ul>
                    <li><a href="{$config->site_url('pengaturan/pengajuan/pengajuan_add/')}"><img src="{$BASEURL}resource/doc/images/icon/add-icon.png" alt="" /> Add Data</a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <!-- notification template -->
        {include file="base/templates/notification.html"}
        <!-- end of notification template-->
        <table class="table-view" width="100%">
            <tr>
                <th width="5%">No</th>
                <th width="35%">Jenis Penerbangan</th>
                <th width="35%">Remark</th>
                <th width="10%">Batas Pengajuan</th>
                <th width="15%"></th>
            </tr>
            {foreach from=$rs_id key=no item=result}
            <tr {if ($no % 2) <> 0}class="blink-row"{/if}>
                <td align='center'>{$no + 1}.</td>
                <td>{$result.data_type|upper} - {$result.data_flight|upper}</td>
                <td>{$result.services_nm|upper}</td>
                <td align="center">{$result.batasan|upper}</td>
                <td align="center">
                    <a href="{$config->site_url('pengaturan/pengajuan/pengajuan_edit/'|cat:$result.field_id)}" class="button-edit">Edit</a>
                    <a href="{$config->site_url('pengaturan/pengajuan/pengajuan_hapus_process/'|cat:$result.field_id)}" class="button-hapus" onclick="return delete_data();">Hapus</a>
                </td>
            </tr>    
            {foreachelse}
            <tr>
                <td colspan="3">Data tidak ditemukan!</td>
            </tr>
            {/foreach}
        </table>
    </div>
</div>