<div class="breadcrum">
    <p>
        <a href="#">Settings</a><span></span>
        <small>Services Code</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('pengaturan/services_code/')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" /> Back</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('pengaturan/services_code/svc_add_process')}" method="post">
    <table class="table-input" width="100%">
        <tr class="headrow">
            <th colspan="2">Tambah Data</th>
        </tr>
        <tr>
            <td width='20%'>Services Code</td>
            <td width='80%'>
                <input type="text" name="services_cd" maxlength="1" size="1" value="{$result.services_cd|default:''}" /> 
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr>
            <td width='20%'>Services Name</td>
            <td width='80%'>
                <input type="text" name="services_nm" maxlength="50" size="50" value="{$result.services_nm|default:''}" /> 
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr class="submit-box">
            <td colspan="2">
                <input type="submit" name="save" value="Simpan" class="submit-button" />
                <input type="reset" name="save" value="Reset" class="reset-button" />
            </td>
        </tr>
    </table>
</form>