<h3>Statistik Pelayanan Persetujuan Terbang (<em>Flight Approval</em>) Tahun {$tanggal_statistik.tahun}</h3>
<div class="statistik-box">
    <table class="table-view" width='100%'>
        <tr style="text-align: center;">
            <td rowspan="2" width='25%'>
                Status<br />Permohonan FA
            </td>
            <td colspan="2"><b>BERJADWAL</b></td>
            <td colspan="2"><b>TIDAK<br />BERJADWAL</b></td>
            <td colspan="2"><b>BUKAN<br />NIAGA</b></td>
            <td rowspan="2"><b>TOTAL</b></td>
        </tr>
        <tr style="text-align: center;">
            <td width='11%'>Dalam<br />Negeri</td>
            <td width='11%'>Luar<br />Negeri</td>
            <td width='11%'>Dalam<br />Negeri</td>
            <td width='11%'>Luar<br />Negeri</td>
            <td width='11%'>Dalam<br />Negeri</td>
            <td width='11%'>Luar<br />Negeri</td>
        </tr>
        <tr>
            <td>Belum diproses</td>
            <td align='center'>{$data_belum.berjadwal.domestik|number_format:0:'.':','|default:'0'}</td>
            <td align='center'>{$data_belum.berjadwal.internasional|number_format:0:'.':','}</td>
            <td align='center'>{$data_belum.tidak_berjadwal.domestik|number_format:0:'.':','}</td>
            <td align='center'>{$data_belum.tidak_berjadwal.internasional|number_format:0:'.':','}</td>
            <td align='center'>{$data_belum.bukan_niaga.domestik|number_format:0:'.':','}</td>
            <td align='center'>{$data_belum.bukan_niaga.internasional|number_format:0:'.':','}</td>
            <td align='center'>{$total_belum|number_format:0:'.':','}</td>
        </tr>
        <tr>
            <td>Sedang dalam proses</td>
            <td align='center'>{$data.waiting.berjadwal.domestik - $data_belum.berjadwal.domestik|number_format:0:'.':','}</td>
            <td align='center'>{$data.waiting.berjadwal.internasional - $data_belum.berjadwal.internasional|number_format:0:'.':','}</td>
            <td align='center'>{$data.waiting.tidak_berjadwal.domestik - $data_belum.tidak_berjadwal.domestik|number_format:0:'.':','}</td>
            <td align='center'>{$data.waiting.tidak_berjadwal.internasional - $data_belum.tidak_berjadwal.internasional|number_format:0:'.':','}</td>
            <td align='center'>{$data.waiting.bukan_niaga.domestik - $data_belum.bukan_niaga.domestik|number_format:0:'.':','}</td>
            <td align='center'>{$data.waiting.bukan_niaga.internasional - $data_belum.bukan_niaga.internasional|number_format:0:'.':','}</td>
            <td align='center'>{$total_awaiting - $total_belum|number_format:0:'.':','}</td>
        </tr>
        <tr>
            <td>Telah diterbitkan</td>
            <td align='center'>{$data.approved.berjadwal.domestik|number_format:0:'.':','}</td>
            <td align='center'>{$data.approved.berjadwal.internasional|number_format:0:'.':','}</td>
            <td align='center'>{$data.approved.tidak_berjadwal.domestik|number_format:0:'.':','}</td>
            <td align='center'>{$data.approved.tidak_berjadwal.internasional|number_format:0:'.':','}</td>
            <td align='center'>{$data.approved.bukan_niaga.domestik|number_format:0:'.':','}</td>
            <td align='center'>{$data.approved.bukan_niaga.internasional|number_format:0:'.':','}</td>
            <td align='center'>{$total_approved|number_format:0:'.':','}</td>
        </tr>
        <tr>
            <td>Ditolak</td>
            <td align='center'>{$data.rejected.berjadwal.domestik|number_format:0:'.':','}</td>
            <td align='center'>{$data.rejected.berjadwal.internasional|number_format:0:'.':','}</td>
            <td align='center'>{$data.rejected.tidak_berjadwal.domestik|number_format:0:'.':','}</td>
            <td align='center'>{$data.rejected.tidak_berjadwal.internasional|number_format:0:'.':','}</td>
            <td align='center'>{$data.rejected.bukan_niaga.domestik|number_format:0:'.':','}</td>
            <td align='center'>{$data.rejected.bukan_niaga.internasional|number_format:0:'.':','}</td>
            <td align='center'>{$total_rejected|number_format:0:'.':','}</td>
        </tr>
        <tr class="blink-row" style="font-weight: bold;">
            <td>TOTAL</td>
            <td align='center'>{$data.waiting.berjadwal.domestik + $data.approved.berjadwal.domestik + $data.rejected.berjadwal.domestik}</td>
            <td align='center'>{$data.waiting.berjadwal.internasional + $data.approved.berjadwal.internasional + $data.rejected.berjadwal.internasional}</td>
            <td align='center'>{$data.waiting.tidak_berjadwal.domestik + $data.approved.tidak_berjadwal.domestik + $data.rejected.tidak_berjadwal.domestik}</td>
            <td align='center'>{$data.waiting.tidak_berjadwal.internasional + $data.approved.tidak_berjadwal.internasional + $data.rejected.tidak_berjadwal.internasional}</td>
            <td align='center'>{$data.waiting.bukan_niaga.domestik + $data.approved.bukan_niaga.domestik + $data.rejected.bukan_niaga.domestik}</td>
            <td align='center'>{$data.waiting.bukan_niaga.internasional + $data.approved.bukan_niaga.internasional + $data.rejected.bukan_niaga.internasional}</td>
            <td align='center'>{$total|number_format:0:'.':','}</td>
        </tr>
    </table>
    <p style="font-size: 11px; font-family: helvetica; color: #999;">
        Pelayanan Persetujuan Terbang Selama Tahun {$tanggal_statistik.tahun}
    </p>
    <div id="chart_pelayanan">
        <script type="text/javascript">
            var chart = new FusionCharts("{$BASEURL}resource/doc/charts/StackedColumn2D.swf", "chart_pelayanan", "100%", "252", "0", "1");
            chart.setDataURL("{$config->site_url('information/statistik/data_chart')}");
            chart.render("chart_pelayanan");
        </script> 
    </div>
</div>
<div class="info-box">
    <h4>Live Update Pelayanan Persetujuan Terbang</h4>
    <div id="chart_permohonan">
        <script type="text/javascript">
            var chart = new FusionCharts("{$BASEURL}resource/doc/charts/Pie2D.swf", "chart_permohonan", "100%", "275", "0", "1");
            chart.setDataURL("{$config->site_url('information/statistik/data_chart_pie')}");
            chart.render("chart_permohonan");
        </script> 
    </div>
    <br />
    <h4>Flight Approval</h4>
    <form action="{$config->site_url('/information/document/proses_cari/')}" method="post">
        <input type="hidden" name="{$token_nm}" value="{$token}"/>
        <table class="table-input" width="100%">
            <tr>
                <td colspan="2">
                    {$home_info_cek}
                </td>
            </tr>
            <tr>
                <td width="80%">
                    <input name="published_no" maxlength="30" size="30" type="text" style="text-align: center;" placeholder="{$home_published_number}" />
                </td>
                <td width="20%">
                    <!--<input name="save" value="{$home_button_find}" class="submit-button" type="submit"  />-->
                    <button type="submit" name="save" class="submit-button">{$home_button_find}</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="clear"></div>
<br />