<div class="loginBox-body">
    {if $login_st|default:'' eq ''}
    <p>
        <img src="{$BASEURL}resource/doc/images/icon/alert.png" alt="" />You are enter restricted area, <strong>Please Login</strong> First to acces this page !!
    </p>
    <form action="{$config->site_url('login/adminlogin/login_process')}" method="post">
        <label for="aid_username">Username :</label>
        <input type="text" name="username" maxlength="30" />
        <br />
        <label for="aid_password">Password :</label>
        <input type="password" name="pass" maxlength="30" />
        <br />
        <label> </label>
        <input class="button" type="submit" value="" name="save[login]" />
    </form>
    {elseif $login_st|default:'' eq 'error'}
    <p>
        <img src="{$BASEURL}resource/doc/images/icon/alert.png" alt="" /><strong>Username or password</strong> not found, Please Try Again or contact your administrator
    </p>
    <form action="{$config->site_url('login/adminlogin/login_process')}" method="post">
        <label for="aid_username">Username :</label>
        <input type="text" name="username" maxlength="30" />
        <br />
        <label for="aid_password">Password :</label>
        <input type="password" name="pass" maxlength="30" />
        <br />
        <label> </label>
        <input class="button" type="submit" value="" name="save[login]" />
    </form>
    {elseif $login_st|default:'' eq 'locked'}
    <p>
        <img src="{$BASEURL}resource/doc/images/icon/alert.png" alt="" />You account has been <strong>locked</strong>, Please contact your administrator to activate your account
    </p>
    <form action="{$config->site_url('login/adminlogin/login_process')}" method="post">
        <label for="aid_username">Username :</label>
        <input type="text" name="username" maxlength="30" />
        <br />
        <label for="aid_password">Password :</label>
        <input type="password" name="pass" maxlength="30" />
        <br />
        <label> </label>
        <input class="button" type="submit" value="" name="save[login]" />
    </form>
    {elseif $login_st|default:'' eq 'still'}
    <p>
        <img src="{$BASEURL}resource/doc/images/icon/alert.png" alt="" /> You are still login. 
        Back to <a href="{$config->site_url('home/adminwelcome')}">administrator menu</a><br />Or <a href="{$config->site_url('login/adminlogin/logout_process')}"><strong>logout</strong></a> to end your session
    </p>
    {/if}
</div>