<div class="breadcrum">
    <p>
        <a href="#">Data Monitoring</a><span></span>
        <small>Flight Approval</small>
    </p>
    <div class="clear"></div>
</div>
<div class="search-box">
    <h3><a href="#">Search</a></h3>
    <form action="{$config->site_url('task/pembayaran/proses_cari')}" method="post">
        <table class="table-search" width="100%" border="0">
            <tr>
                <th width="10%">Nomor</th>
                <td width="15%">
                    <input name="published_no" type="text" value="{$search.published_no|default:''}" size="40" maxlength="40" />
                </td>
                <th width="10%">Operator</th>
                <td width="15%">
                    <input name="airlines_nm" type="text" value="{$search.airlines_nm|default:''}" size="20" maxlength="50" />
                </td>
                <td>
                    <input name="save" type="submit" value="Tampilkan" />
                    <input name="save" type="submit" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info">{$pagination.data|default:''}&nbsp;Total&nbsp;<strong>{$pagination.total|default:0}</strong>&nbsp;Record&nbsp;</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<table class="table-view" width="100%">
    <tr>
        <th width='4%'>No</th>
        <th width='23%'>Nomor</th>
        <th width='20%'>Operator</th>
        <th width='20%'>Berjadwal / <br />Tidak Berjadwal</th>
        <th width='20%'>Domestik / <br />Internasional</th>
        <th width='13%'></th>
    </tr>
    {$no = 1}
    {foreach from=$rs_id item=result}
    <tr {if ($no % 2) <> 1}class="blink-row"{/if}>
        <td align="center">{$no++}.</td>
        <td align="center">{$result.published_no}</td>
        <td>{$result.airlines_nm|upper}</td>
        <td align="center">{$result.data_type|upper}</td>
        <td align="center">{$result.data_flight|upper}</td>
        <td align="center">
            <a href="{$config->site_url('task/pembayaran/proses_pembayaran/'|cat:$result.data_id|default:'')}" class="button-edit" onclick="return confirm('Apakah Anda Yakin Akan Memproses Pembayaran FA {$result.published_no|default:''} ?')">
                Proses
            </a>
        </td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="8">Data not found!</td>
    </tr>
    {/foreach}
</table>