<div class="breadcrum">
    <p>
        <a href="#">Settings</a><span></span>
        <a href="{$config->site_url('pengaturan/jenisdetail_kapal')}">Jenis Detail Kapal</a><span></span>
        <small>Edit Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('pengaturan/jenisdetail_kapal')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" /> Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('pengaturan/jenisdetail_kapal/edit_process')}" method="post">
    <input name="jenisdetail_id" type="hidden" value="{$result.jenisdetail_id|default:''}" />
    <table class="table-input" width="100%" border='0'>
        <tr class="headrow">
            <th colspan="4">Edit Data Jenis Detail Kapal</th>
        </tr>
        <tr>
            <td width="15%">Jenis Detail</td>
            <td width="35%">
                <input name="jenisdetail_ket" type="text" value="{$result.jenisdetail_ket|default:''}" size="30" maxlength="50" />
                <em>* wajib diisi</em>
            </td>
        </tr>  
        <tr>
            <td>Jenis</td>
            <td>
                <select name="jenis_id" class="jenis_id">
                    <option value="">--- Pilih ---</option>
					{foreach from=$rs_namajenis_kapal item=datajns}
						<option value="{$datajns.jenis_id}" {if $datajns.jenis_id eq $result.jenis_id} selected="selected" {/if}>{$datajns.jenis_ket}</option>
					{/foreach}
                </select>
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr class="submit-box">
            <td colspan="4">
                <input type="submit" name="save" value="Simpan" class="submit-button" />
                <input type="reset" name="save" value="Reset" class="reset-button" />
            </td>
        </tr>
    </table>
</form>