<script type="text/javascript">
    $(document).ready(function () {
        // date picker
        $(".tanggal").datepicker({
            showOn: 'both',
            changeMonth: true,
            changeYear: true,
            buttonImage: '{$BASEURL}/resource/doc/images/icon/calendar.gif',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd',
        });
        
        /*
         * COMBO BOX
         */
        $(".jenisdetailkapal").select2({
            placeholder: "Pilih Jenis Kapal",
            allowClear: true,
            width: 270
        });
        $(".benderaasal").select2({
            placeholder: "Pilih Bendera Asal",
            allowClear: true,
            width: 270
        });
    });
</script>
<style type="text/css">
    .select2-choice {
        width: 270px !important;
    }
    .select2-default {
        width: 270px !important;
    }
</style>
<div class="breadcrum">
    <p>
     <a href="#">Pengajuan Akta Pendaftaran</a><span></span>
        <small>{$detail.group_nm}</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('member/akta_pendaftaran/')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Back to Draft List</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="step-box">
    <ul>
        <li>
            <a href="{$config->site_url('pendaftaran_kapal/akta/data_pengajuan/'|cat:$detail.registrasi_id)}" class="normal"><b>Langkah 1</b><br />Data Pengajuan</a>
        </li>
        <li>
            <a href="#" class="active"><b>Langkah 2</b><br />Data Kapal</a>
        </li>
        <li>
            <a href="#" class="normal"><b>Langkah 3</b><br />Data Pemilik</a>
        </li>
        <li>
            <a href="#" class="normal"><b>Langkah 4</b><br />Upload File</a>
        </li>
        <li>
            <a href="#" class="normal"><b>Langkah 5</b><br />Review Pengajuan</a>
        </li>
    </ul>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('pendaftaran_kapal/akta/add_process')}" method="post">
    <input type="hidden" name="registrasi_id" value="{$result.registrasi_id|default:''}">
    <table class="table-form" width="100%">
        <tr>
            <td colspan="4" align="center">
                <b style="font-size: 16px;">DATA KAPAL</b>
            </td>
        </tr>
        <tr>
            <td colspan="4" align='center'>&nbsp;</td>
        </tr>
        <tr>
            <td width='15%'>
                <span style="text-decoration: underline;">Nama Kapal</span><br /><i></i>
            </td>
            <td width='35%'>
                <input type="text" name="no_surat" size="30" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
			<td width='15%'>
                <span style="text-decoration: underline;">Eks Nama Kapal</span><br /><i></i>
            </td>
            <td width='35%'>
                <input type="text" name="no_surat" size="30" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Jenis Kapal</span><br /><i></i>
            </td>
            <td>
				<select name="jenisdetail_id" class="jenisdetailkapal">
					<option value=""></option>
					{foreach from=$rs_jeniskapal item=data}
					<option value="{$data.jenisdetail_id}" {if ($data.jenisdetail_id) eq $result.jenisdetail_id}selected="selected"{/if}>{$data.jenis_ket} - {$data.jenisdetail_ket}</option>
					{/foreach}
				</select>
			</td>
            <td>
                <span style="text-decoration: underline;">Nomor IMO</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_surat" size="20" maxlength="30" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Call Sign</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_surat" size="10" maxlength="20" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
            <td>
                <span style="text-decoration: underline;">No. CSR</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_surat" size="15" maxlength="20" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Harga Kapal</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_surat" size="20" maxlength="30" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
            <td>
                <span style="text-decoration: underline;">Bendera Asal</span><br /><i></i>
            </td>
            <td>
				<select name="negara_id" class="benderaasal">
					<option value=""></option>
					{foreach from=$rs_benderaasal item=data}
					<option value="{$data.negara_id}" {if ($data.negara_id) eq $result.negara_id}selected="selected"{/if}>{$data.negara_nm} </option>
					{/foreach}
				</select>
			</td>
        </tr>
        <tr>
            <td colspan="4" align='center'>&nbsp;</td>
        </tr>
        </tr>
	<table class="table-form" width="100%">
    	<tr>
            <td colspan="4" align="center">
                <b style="font-size: 16px;">SURAT UKUR & DATA PEMBANGUNAN KAPAL</b>
            </td>
        </tr>
        <tr>
            <td colspan="4" align='center'>&nbsp;</td>
        </tr>
        
        <tr>
            <td>
                <span style="text-decoration: underline;">Tempat Terbit</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
            <td>
                <span style="text-decoration: underline;">Tempat Pembuatan</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
            
        </tr>
		<tr>
            <td>
                <span style="text-decoration: underline;">Tanggal Surat Ukur</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="tgl_surat" size="10" maxlength="10" value="{$result.tgl_surat|default:''}" class="tanggal" readonly="readonly" style="text-align: center; font-weight: bold;" />
            </td>
            <td>
                <span style="text-decoration: underline;">Tanggal Peletakan Lunas</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="tgl_surat" size="10" maxlength="10" value="{$result.tgl_surat|default:''}" class="tanggal" readonly="readonly" style="text-align: center; font-weight: bold;" />
            </td>
        </tr>
		<tr>
            <td>
                <span style="text-decoration: underline;">No. Surat Ukur</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td colspan="4" align='center'>&nbsp;</td>
        </tr>
        </tr>
	</table>
	<table class="table-form" width="100%">
    	<tr>
            <td colspan="4" align="center">
                <b style="font-size: 16px;">DIMENSI</b>
            </td>
        </tr>
        <tr>
            <td colspan="4" align='center'>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Bahan Utama Kapal</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
            <td>
                <span style="text-decoration: underline;">Jumlah Geladak</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Jumlah Cerobong</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
            <td>
                <span style="text-decoration: underline;">Jumlah Baling Baling</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Penggerak Utama</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
            <td>
                <span style="text-decoration: underline;">Mesin Merk</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Putaran Mesin</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
            <td>
                <span style="text-decoration: underline;">Type Mesin</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Serial No. Mesin</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td colspan="4" align='center'>&nbsp;</td>
        </tr>
	</table>
	<table class="table-form" width="100%">
    	<tr>
            <td colspan="4" align="center">
                <b style="font-size: 16px;">DAYA MESIN</b>
            </td>
        </tr>
        <tr>
            <td colspan="4" align='center'>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Daya Mesin 1</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
            <td>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Daya Mesin 2</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
            <td>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Daya Mesin 3</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
            <td>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Daya Mesin 4</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
            <td>
                <input type="text" name="no_surat" size="25" maxlength="50" value="{$result.no_surat|default:''|upper}" style="font-weight: bold;" />
            </td>
        </tr>
    </table>
    <table class="table-form" width='100%'>
        <tr class="submit-box">
            <td></td>
            <td align='right'>
                <input type="submit" name="save" value="Simpan dan Lanjutkan" class="submit-button" />
            </td>
        </tr>
    </table>
</form>