<script type="text/javascript">
    $(document).ready(function () {
        // date picker
        $(".tanggal").datepicker({
            showOn: 'both',
            changeMonth: true,
            changeYear: true,
            buttonImage: '{$BASEURL}/resource/doc/images/icon/calendar.gif',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd',
        });
        
    });
</script>
<div class="breadcrum">
    <p>
     <a href="#">Pengajuan Akta Pendaftaran</a><span></span>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('member/akta_pendaftaran/')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Back to Draft List</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="step-box">
    <ul>
        <li>
            <a href="{$config->site_url('pendaftaran_kapal/akta/data_pengajuan/'|cat:$result.registrasi_id)}" class="normal"><b>Langkah 1</b><br />Data Pengajuan</a>
        </li>
        <li>
            <a href="{$config->site_url('pendaftaran_kapal/akta/data_kapal/'|cat:$result.registrasi_id)}" class="normal"><b>Langkah 2</b><br />Data Kapal</a>
        </li>
        <li>
            <a href="#" class="active"><b>Langkah 3</b><br />Data Pemilik</a>
        </li>
        <li>
            <a href="#" class="normal"><b>Langkah 4</b><br />Upload File</a>
        </li>
        <li>
            <a href="#" class="normal"><b>Langkah 5</b><br />Review Pengajuan</a>
        </li>
    </ul>
    <div class="clear"></div>
</div>

<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('pendaftaran_kapal/akta/data_kapal/'|cat:$result.registrasi_id)}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Langkah Sebelumnya</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('pendaftaran_kapal/akta/data_pemilik_process')}" method="post">
    <input type="hidden" name="registrasi_id" value="{$result.registrasi_id|default:''}">
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            DATA PEMILIK
        </a>
    </h5>
    <table class="table-form" width="100%">
        <tr>
            <td width='10%'>
                <span style="text-decoration: underline;">Nama Pemilik</span><br /><i></i><em>* wajib diisi</em>
            </td>
            <td width='52%'>
                <input type="text" name="nama_pemilik" size="30" maxlength="50" value="{$result.nama_pemilik|default:''|upper}" style="font-weight: bold;" />
            </td>
			<td width='10%'>
                <span style="text-decoration: underline;">NPWP</span><br /><i></i><em>* wajib diisi</em>
            </td>
            <td width='28%'>
                <input type="text" name="npwp" size="25" maxlength="30" value="{$result.npwp|default:''|upper}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td >
                <span style="text-decoration: underline;">Alamat Pemilik</span><br /><i></i><em>* wajib diisi</em>
            </td>
            <td >
                <input type="text" name="alamat_pemilik" size="60" maxlength="100" value="{$result.alamat_pemilik|default:''}" style="font-weight: bold;" />
            </td>
			<td >
                <span style="text-decoration: underline;">Kota</span><br /><i></i><em>* wajib diisi</em>
            </td>
            <td >
                <input type="text" name="kota" size="25" maxlength="25" value="{$result.kota|default:''|upper}" style="font-weight: bold;" />
            </td>
        </tr>
	</table>
</div>	
<div>
    <table class="table-form" width='100%'>
        <tr class="submit-box">
            <td></td>
            <td align='right'>
                <input type="submit" name="save" value="Simpan dan Lanjutkan" class="submit-button" />
            </td>
        </tr>
    </table>
</div>	
</form>