<script type="text/javascript">
    $(document).ready(function () {
        // date picker
        $(".tanggal").datepicker({
            showOn: 'both',
            changeMonth: true,
            changeYear: true,
            buttonImage: '{$BASEURL}/resource/doc/images/icon/calendar.gif',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd',
        });
        
        /*
         * COMBO BOX
         */
        $(".jenisdetailkapal").select2({
            placeholder: "Pilih Jenis Kapal",
            allowClear: true,
            width: 270
        });
        $(".benderaasal").select2({
            placeholder: "Pilih Bendera Asal",
            allowClear: true,
            width: 270
        });
        $(".tempatterbit").select2({
            placeholder: "Pilih Tempat Terbit",
            allowClear: true,
            width: 270
        });
        $(".bahankapal").select2({
            placeholder: "Pilih Bahan Kapal",
            allowClear: true,
            width: 270
        });
        $(".penggerakkapal").select2({
            placeholder: "Pilih Penggerak Utama",
            allowClear: true,
            width: 270
        });
    });
</script>
<style type="text/css">
    .select2-choice {
        width: 270px !important;
    }
    .select2-default {
        width: 270px !important;
    }
</style>
<div class="breadcrum">
    <p>
     <a href="#">Pengajuan Akta Pendaftaran</a><span></span>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('member/akta_pendaftaran/')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Back to Draft List</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="step-box">
    <ul>
        <li>
            <a href="{$config->site_url('pendaftaran_kapal/akta/data_pengajuan/'|cat:$result.registrasi_id)}" class="normal"><b>Langkah 1</b><br />Data Pengajuan</a>
        </li>
        <li>
            <a href="#" class="active"><b>Langkah 2</b><br />Data Kapal</a>
        </li>
        <li>
            <a href="#" class="normal"><b>Langkah 3</b><br />Data Pemilik</a>
        </li>
        <li>
            <a href="#" class="normal"><b>Langkah 4</b><br />Upload File</a>
        </li>
        <li>
            <a href="#" class="normal"><b>Langkah 5</b><br />Review Pengajuan</a>
        </li>
    </ul>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('pendaftaran_kapal/akta/data_pengajuan/'|cat:$result.registrasi_id)}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Langkah Sebelumnya</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('pendaftaran_kapal/akta/data_kapal_process')}" method="post">
    <input type="hidden" name="registrasi_id" value="{$result.registrasi_id|default:''}">
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            DATA KAPAL
        </a>
    </h5>
    <table class="table-form" width="100%">
        <tr>
            <td width='15%'>
                <span style="text-decoration: underline;">Nama Kapal</span><br /><i></i><em>* wajib diisi</em>
            </td>
            <td width='35%'>
                <input type="text" name="nama_kapal" size="30" maxlength="50" value="{$result.nama_kapal|default:''|upper}" style="font-weight: bold;" />
            </td>
			<td width='15%'>
                <span style="text-decoration: underline;">Eks Nama Kapal</span><br /><i></i>
            </td>
            <td width='35%'>
                <input type="text" name="eks_nama_kapal" size="30" maxlength="50" value="{$result.eks_nama_kapal|default:''|upper}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Jenis Kapal</span><br /><i></i><em>* wajib diisi</em>
            </td>
            <td>
				<select name="jenisdetail_kapal" class="jenisdetailkapal">
					<option value=""></option>
					{foreach from=$rs_jeniskapal item=data}
					<option value="{$data.jenisdetail_id}" {if ($data.jenisdetail_id) eq $result.jenisdetail_kapal}selected="selected"{/if}>{$data.jenis_ket} - {$data.jenisdetail_ket}</option>
					{/foreach}
				</select>
			</td>
            <td>
                <span style="text-decoration: underline;">Nomor IMO</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="nomor_imo" size="20" maxlength="30" value="{$result.nomor_imo|default:''}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Call Sign</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="call_sign" size="10" maxlength="20" value="{$result.call_sign|default:''|upper}" style="font-weight: bold;" />
            </td>
            <td>
                <span style="text-decoration: underline;">No. CSR</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="no_csr" size="15" maxlength="20" value="{$result.no_csr|default:''}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Harga Kapal</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="harga_kapal" size="20" maxlength="30" value="{$result.harga_kapal|default:''}" style="font-weight: bold;" />
            </td>
            <td>
                <span style="text-decoration: underline;">Bendera Asal</span><br /><i></i>
            </td>
            <td>
				<select name="bendera_asal" class="benderaasal">
					<option value=""></option>
					{foreach from=$rs_benderaasal item=data}
					<option value="{$data.negara_id}" {if ($data.negara_id) eq $result.bendera_asal}selected="selected"{/if}>{$data.negara_nm} </option>
					{/foreach}
				</select>
			</td>
        </tr>
	</table>	
</div>	
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            SURAT UKUR & DATA PEMBANGUNAN KAPAL
        </a>
    </h5>
	<table class="table-form" width="100%">
    	<tr>
        <tr>
            <td width='15%'>
                <span style="text-decoration: underline;">Tempat Terbit</span><br /><i></i><em>* wajib diisi</em>
            </td>
            <td width='35%'>
				<select name="tempat_terbit" class="tempatterbit">
					<option value=""></option>
					{foreach from=$rs_tempatterbit item=data}
					<option value="{$data.pelabuhan_id}" {if ($data.pelabuhan_id) eq $result.tempat_terbit}selected="selected"{/if}>{$data.pelabuhan_nm} - {$data.pelabuhan_kd} </option>
					{/foreach}
				</select>
			</td>
            <td width='15%'>
                <span style="text-decoration: underline;">Tempat Pembuatan</span><br /><i></i>
            </td>
            <td width='35%'>
                <input type="text" name="tempat_pembuatan" size="25" maxlength="50" value="{$result.tempat_pembuatan|default:''|upper}" style="font-weight: bold;" />
            </td>
            
        </tr>
		<tr>
            <td>
                <span style="text-decoration: underline;">Tanggal Surat Ukur</span><br /><i></i><em>* wajib diisi</em>
            </td>
            <td>
                <input type="text" name="tgl_surat_ukur" size="10" maxlength="10" value="{$result.tgl_surat_ukur|default:''}" class="tanggal" readonly="readonly" style="text-align: center; font-weight: bold;" />
            </td>
            <td>
                <span style="text-decoration: underline;">Tanggal Peletakan Lunas</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="tgl_peletakan_lunas" size="10" maxlength="10" value="{$result.tgl_peletakan_lunas|default:''}" class="tanggal" readonly="readonly" style="text-align: center; font-weight: bold;" />
            </td>
        </tr>
		<tr>
            <td>
                <span style="text-decoration: underline;">No. Surat Ukur</span><br /><i></i><em>* wajib diisi</em>
            </td>
            <td>
                <input type="text" name="no_surat_ukur" size="25" maxlength="50" value="{$result.no_surat_ukur|default:''}" style="font-weight: bold;" />
            </td>
        </tr>
	</table>
</div>	
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            DIMENSI
        </a>
    </h5>
	<table class="table-form" width="100%">
        <tr>
            <td width='15%'>
                <span style="text-decoration: underline;">Panjang</span><br /><i></i><em>* wajib diisi</em>
            </td>
            <td width='35%'>
                <input type="text" name="dimensi_panjang" size="10" maxlength="10" value="{$result.dimensi_panjang|default:''}" style="font-weight: bold;" />
            </td>
            <td width='15%'>
                <span style="text-decoration: underline;">Dalam</span><br /><i></i>
            </td>
            <td width='35%'>
                <input type="text" name="dimensi_dalam" size="10" maxlength="10" value="{$result.dimensi_dalam|default:''}" style="font-weight: bold;" />
            </td>
		</tr>
        <tr>
            <td width='15%'>
                <span style="text-decoration: underline;">Lebar</span><br /><i></i><em>* wajib diisi</em>
            </td>
            <td width='35%'>
                <input type="text" name="dimensi_lebar" size="10" maxlength="10" value="{$result.dimensi_lebar|default:''}" style="font-weight: bold;" />
            </td>
            <td width='15%'>
                <span style="text-decoration: underline;">LOA</span><br /><i></i><em>* wajib diisi</em>
            </td>
            <td width='35%'>
                <input type="text" name="dimensi_loa" size="10" maxlength="10" value="{$result.dimensi_loa|default:''}" style="font-weight: bold;" />
            </td>
		</tr>
        <tr>
            <td width='15%'>
                <span style="text-decoration: underline;">(GT) Isi Kotor</span><br /><i></i><em>* wajib diisi</em>
            </td>
            <td width='35%'>
                <input type="text" name="dimensi_isikotor" size="10" maxlength="10" value="{$result.dimensi_isikotor|default:''}" style="font-weight: bold;" />
            </td>
            <td width='15%'>
                <span style="text-decoration: underline;">(NT) Isi Bersih</span><br /><i></i><em>* wajib diisi</em>
            </td>
            <td width='35%'>
                <input type="text" name="dimensi_isibersih" size="10" maxlength="10" value="{$result.dimensi_isibersih|default:''}" style="font-weight: bold;" />
            </td>
		</tr>
        <tr>
            <td width='15%'>
                <span style="text-decoration: underline;">Tanda Selar</span><br /><i></i><em>* wajib diisi</em>
            </td>
            <td width='35%'>
                <input type="text" name="tanda_selar" size="25" maxlength="30" value="{$result.tanda_selar|default:''}" style="font-weight: bold;" />
            </td>
		</tr>
	</table>
</div>
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            KONSTRUKSI DAN MESIN
        </a>
    </h5>
	<table class="table-form" width="100%">
        <tr>
            <td width='15%'>
                <span style="text-decoration: underline;">Bahan Utama Kapal</span><br /><i></i><em>* wajib diisi</em>
            </td>
            <td width='35%'>
                <select name="bahan_kapal" class="bahankapal">
					<option value=""></option>
					{foreach from=$rs_bahankapal item=data}
					<option value="{$data.bahan_id}" {if ($data.bahan_id) eq $result.bahan_kapal}selected="selected"{/if}>{$data.bahan_ket} </option>
					{/foreach}
				</select>
            </td>
            <td width='15%'>
                <span style="text-decoration: underline;">Jumlah Geladak</span><br /><i></i><em>* wajib diisi</em>
            </td>
            <td width='35%'>
                <input type="text" name="jml_geladak" size="10" maxlength="20" value="{$result.jml_geladak|default:''}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Jumlah Cerobong</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="jml_cerobong" size="10" maxlength="20" value="{$result.jml_cerobong|default:''}" style="font-weight: bold;" />
            </td>
            <td>
                <span style="text-decoration: underline;">Jumlah Baling Baling</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="jml_baling" size="10" maxlength="20" value="{$result.jml_baling|default:''}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Penggerak Utama</span><br /><i></i>
            </td>
            <td>
                <select name="penggerak_kapal" class="penggerakkapal">
					<option value=""></option>
					{foreach from=$rs_penggerakkapal item=data}
					<option value="{$data.penggerak_id}" {if ($data.penggerak_id) eq $result.penggerak_kapal}selected="selected"{/if}>{$data.penggerak_ket} </option>
					{/foreach}
				</select>
            </td>
            <td>
                <span style="text-decoration: underline;">Mesin Merk</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="mesin_merk" size="25" maxlength="30" value="{$result.mesin_merk|default:''}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Putaran Mesin</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="putaran_mesin" size="20" maxlength="20" value="{$result.putaran_mesin|default:''}" style="font-weight: bold;" />
            </td>
            <td>
                <span style="text-decoration: underline;">Type Mesin</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="type_mesin" size="25" maxlength="30" value="{$result.type_mesin|default:''}" style="font-weight: bold;" />
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Serial No. Mesin</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="serial_no_mesin" size="25" maxlength="30" value="{$result.serial_no_mesin|default:''}" style="font-weight: bold;" />
            </td>
        </tr>
	</table>
</div>	
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            DAYA MESIN
        </a>
    </h5>
	<table class="table-form" width="100%">
        <tr>
            <td width='15%'>
                <span style="text-decoration: underline;">Daya Mesin 1</span><br /><i></i>
            </td>
            <td width='35%'>
                <input type="text" name="daya_mesin1" size="20" maxlength="20" value="{$result.daya_mesin1|default:''}" style="font-weight: bold;" />
				<select name="satuan_mesin1">
					<option value="HP" {if ($result.satuan_mesin1) eq 'HP'}selected="selected"{/if} >HP</option>
					<option value="KW" {if ($result.satuan_mesin1) eq 'KW'}selected="selected"{/if} >KW</option>
				</select>
            </td>
            <td width='15%'>
                <span style="text-decoration: underline;">Daya Mesin 2</span><br /><i></i>
            </td>
            <td width='35%'>
                <input type="text" name="daya_mesin2" size="20" maxlength="20" value="{$result.daya_mesin2|default:''}" style="font-weight: bold;" />
				<select name="satuan_mesin2">
					<option value="HP" {if ($result.satuan_mesin2) eq 'HP'}selected="selected"{/if} >HP</option>
					<option value="KW" {if ($result.satuan_mesin2) eq 'KW'}selected="selected"{/if} >KW</option>
				</select>
            </td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Daya Mesin 3</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="daya_mesin3" size="20" maxlength="20" value="{$result.daya_mesin3|default:''}" style="font-weight: bold;" />
				<select name="satuan_mesin3">
					<option value="HP" {if ($result.satuan_mesin3) eq 'HP'}selected="selected"{/if} >HP</option>
					<option value="KW" {if ($result.satuan_mesin3) eq 'KW'}selected="selected"{/if} >KW</option>
				</select>
            </td>
			<td>
                <span style="text-decoration: underline;">Daya Mesin 4</span><br /><i></i>
            </td>
            <td>
                <input type="text" name="daya_mesin4" size="20" maxlength="20" value="{$result.daya_mesin4|default:''}" style="font-weight: bold;" />
				<select name="satuan_mesin4">
					<option value="HP" {if ($result.satuan_mesin4) eq 'HP'}selected="selected"{/if} >HP</option>
					<option value="KW" {if ($result.satuan_mesin4) eq 'KW'}selected="selected"{/if} >KW</option>
				</select>
            </td>
        </tr>
    </table>
</div>	
    <table class="table-form" width='100%'>
        <tr class="submit-box">
            <td></td>
            <td align='right'>
                <input type="submit" name="save" value="Lanjutkan" class="submit-button" />
            </td>
        </tr>
    </table>
</form>