<div class="breadcrum">
    <p>
        <a href="#">Pengajuan Akta Pendaftaran</a><span></span>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('member/akta_pendaftaran/')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Back to Draft List</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="step-box">
    <ul>
        <li>
            <a href="{$config->site_url('pendaftaran_kapal/akta/data_pengajuan/'|cat:$result.registrasi_id)}" class="normal"><b>Langkah 1</b><br />Data Pengajuan</a>
        </li>
        <li>
            <a href="{$config->site_url('pendaftaran_kapal/akta/data_kapal/'|cat:$result.registrasi_id)}" class="normal"><b>Langkah 2</b><br />Data Kapal</a>
        </li>
        <li>
            <a href="{$config->site_url('pendaftaran_kapal/akta/data_pemilik/'|cat:$result.registrasi_id)}" class="normal"><b>Langkah 3</b><br />Data Pemilik</a>
        </li>
        <li>
            <a href="#" class="active"><b>Langkah 4</b><br />Upload File</a>
        </li>
        <li>
            <a href="#" class="normal"><b>Langkah 5</b><br />Review Pengajuan</a>
        </li>
    </ul>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('pendaftaran_kapal/akta/data_pemilik/'|cat:$result.registrasi_id)}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Previous Step</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('pendaftaran_kapal/akta/files_process')}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="registrasi_id" value="{$result.registrasi_id|default:''}">
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            FILE ATTACHMENT
        </a>
    </h5>
    <table class="table-form" width="100%">
        <tr>
            <td colspan="5">
                File persyaratan yang wajib di sertakan adalah sebagai berikut :
            </td>
        </tr>
        {$no = 1}
        {foreach from=$rs_files item=data}
        <tr>
            <td width='5%' align="center">
                {$no++}.
            </td>
            <td width='30%'>
                {$data.ref_name}
            </td>
            <td width='20%'>
                <input type="file" name="{$data.ref_field}" />
            </td>
            <td width='15%'>
                <small style="color: #999;">Maksimal {$data.ref_size}KB ({$data.ref_allowed|upper})</small>
            </td>
            <td width="30%">
                {if $data.ref_id|in_array:$file_uploaded}
                <a href="{$config->site_url('pendaftaran_kapal/akta/files_download/'|cat:$result.registrasi_id|cat:'/'|cat:$data.ref_id|cat:'/'|cat:$name_uploaded[$data.ref_id])}" style="font-size: 10px;">{$name_uploaded[$data.ref_id]}</a>
                {else}
				{if $data.ref_id neq '3'}
                {if $data.ref_required eq '1'}
                <span style="color: red">Belum ada file yang di upload!</span>
                {else}
                <span style="color: blue;">* Optional atau sesuai arahan dari regulator</span>
                {/if}
				{else}
				{if $result.pemilik_st eq '0'}
				<span style="color: red">Belum ada file yang di upload!</span>
                {else}
				<span style="color: blue;">* Optional atau sesuai arahan dari regulator</span>
                {/if}
				{/if}
				{/if}
            </td>
        </tr>
        {/foreach}
        <tr>
            <td colspan="5"></td>
        </tr>
        <tr>
            <td colspan="5" align="center">
                <input type="submit" name="save" value="Upload Berkas" class='button-upload' />
            </td>
        </tr>
        <tr>
            <td colspan="5"></td>
        </tr>
    </table>
</div>	
</form>
<form action="{$config->site_url('pendaftaran_kapal/akta/files_next')}" method="post">
    <input type="hidden" name="registrasi_id" value="{$result.registrasi_id|default:''}">
    <input type="hidden" name="pemilik_st" value="{$result.pemilik_st|default:''}">
<div>
    <table class="table-form" width='100%'>
        <tr class="submit-box">
            <td>
                Klik Upload Berkas untuk mengupload semua file
            </td>
            <td align='right'>
                <input type="submit" name="save" value="Lanjutkan" class="submit-button" />
            </td>
        </tr>
    </table>
</div>	
</form>