<div class="breadcrum">
    <p>
        <a href="#">Pengajuan Akta Pendaftaran</a><span></span>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('member/akta_pendaftaran/')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Back to Draft List</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="step-box">
    <ul>
        <li>
            <a href="{$config->site_url('pendaftaran_kapal/akta/data_pengajuan/'|cat:$result.registrasi_id)}" class="normal"><b>Langkah 1</b><br />Data Pengajuan</a>
        </li>
        <li>
            <a href="{$config->site_url('pendaftaran_kapal/akta/data_kapal/'|cat:$result.registrasi_id)}" class="normal"><b>Langkah 2</b><br />Data Kapal</a>
        </li>
        <li>
            <a href="{$config->site_url('pendaftaran_kapal/akta/data_pemilik/'|cat:$result.registrasi_id)}" class="normal"><b>Langkah 3</b><br />Data Pemilik</a>
        </li>
        <li>
            <a href="{$config->site_url('pendaftaran_kapal/akta/list_files/'|cat:$result.registrasi_id)}" class="normal"><b>Langkah 4</b><br />Upload File</a>
        </li>
        <li>
            <a href="#" class="active"><b>Langkah 5</b><br />Review Pengajuan</a>
        </li>
    </ul>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('pendaftaran_kapal/akta/list_files/'|cat:$result.registrasi_id)}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Previous Step</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('pendaftaran_kapal/akta/send_process')}" method="post">
    <input type="hidden" name="registrasi_id" value="{$result.registrasi_id|default:''}">
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            REVIEW PENGAJUAN
        </a>
    </h5>
    <table class="table-view" width="100%">
        <tr>
            <td width="15%">
                Tanggal Surat Permohonan
            </td width="26">
            <td><b>{$dtm->get_full_date($result.tgl_surat)|default:''|upper}</b></td>
            <td width='15%'>
                Nomor Surat Permohonan
            </td>
            <td width='35%'><b>{$result.no_surat|default:''|upper}</b></td>
        </tr>
        <tr>
            <td>
                Nama Pemohon
            </td>
            <td><b>{$result.nama_pemohon|default:''|upper}</b></td>
            <td>
                Pemohon Merupakan 
            </td>
            <td>
			{if $result.pemilik_st eq 1}
				<b>Pemilik Kapal</b>
			{else}
				<b>Bukan Pemilik Kapal</b>
			{/if}
			</td>
        </tr>
        <tr>
            <td>
                Tempat Pendaftaran
            </td>
            <td><b>{$result.pendaftaran_nm} - {$result.pendaftaran_kd}</b></td>
            
			<td>
                Bukti Hak Milik Atas Kapal </span>
            </td>
            <td><b>{$result.subgroup_nm}</b></td>
        </tr>
    </table>
</div>	
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            DATA PEMILIK
        </a>
    </h5>
	<table class="table-view" width="100%">
        <tr>
            <td width='15%'>
                Nama Pemilik
            </td>
            <td width='35%'>
                <b>{$result.nama_pemilik|default:''|upper}</b>
            </td>
			<td width='15%'>
                NPWP
            </td>
            <td width='35%'>
                <b>{$result.npwp|default:''|upper}</b>
            </td>
        </tr>
        <tr>
            <td >
                Alamat Pemilik
            </td>
            <td >
                <b>{$result.alamat_pemilik|default:''}</b>
            </td>
			<td >
                Kota
            </td>
            <td >
                <b>{$result.kota|default:''|upper}</b>
            </td>
        </tr>
	</table>
</div>
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            DATA KAPAL
        </a>
    </h5>
	<table class="table-view" width="100%">
        <tr>
            <td width='15%'>
                Nama Kapal
            </td>
            <td width='35%'>
                <b>{$result.nama_kapal|default:''|upper}</b>
            </td>
			<td width='15%'>
                Eks Nama Kapal<i></i>
            </td>
            <td width='35%'>
                <b>{$result.eks_nama_kapal|default:''|upper}</b>
            </td>
        </tr>
        <tr>
            <td>
                Jenis Kapal
            </td>
            <td>
				<b>{$result.jenis_ket} - {$result.jenisdetail_ket}</b>				
			</td>
            <td>
                Nomor IMO<i></i>
            </td>
            <td>
                <b>{$result.nomor_imo|default:''}</b>
            </td>
        </tr>
        <tr>
            <td>
                Call Sign<i></i>
            </td>
            <td>
                <b>{$result.call_sign|default:''|upper}</b>
            </td>
            <td>
                No. CSR<i></i>
            </td>
            <td>
                <b>{$result.no_csr|default:''}</b>
            </td>
        </tr>
        <tr>
            <td>
                Harga Kapal<i></i>
            </td>
            <td>
                <b>{$result.harga_kapal|default:''}</b>
            </td>
            <td>
                Bendera Asal<i></i>
            </td>
            <td>
				<b>{$result.negara_nm}</b>
			</td>
        </tr>
	</table>
</div>	
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            SURAT UKUR & DATA PEMBANGUNAN KAPAL
        </a>
    </h5>
	<table class="table-view" width="100%">
        <tr>
            <td width='15%'>
                Tempat Terbit
            </td>
            <td width='35%'>
				<b>{$result.penerbitan_nm} - {$result.penerbitan_kd}</b>
			</td>
            <td width='15%'>
                Tempat Pembuatan<i></i>
            </td>
            <td width='35%'>
                <b>{$result.tempat_pembuatan|default:''|upper}</b>
            </td>
            
        </tr>
		<tr>
            <td>
                Tanggal Surat Ukur
            </td>
            <td>
                <b>{$result.tgl_surat_ukur|default:''}</b>
            </td>
            <td>
                Tanggal Peletakan Lunas<i></i>
            </td>
            <td>
                <b>{$result.tgl_peletakan_lunas|default:''}</b>
            </td>
        </tr>
		<tr>
            <td>
                No. Surat Ukur
            </td>
            <td>
                <b>{$result.no_surat_ukur|default:''}</b>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
	</table>
</div>	
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            DIMENSI
        </a>
    </h5>
	<table class="table-view" width="100%">
        <tr>
            <td width='15%'>
                Panjang
            </td>
            <td width='35%'>
                <b>{$result.dimensi_panjang|default:''}</b>
            </td>
            <td width='15%'>
                Dalam<i></i>
            </td>
            <td width='35%'>
                <b>{$result.dimensi_dalam|default:''}</b>
            </td>
		</tr>
        <tr>
            <td width='15%'>
                Lebar
            </td>
            <td width='35%'>
                <b>{$result.dimensi_lebar|default:''}</b>
            </td>
            <td width='15%'>
                LOA
            </td>
            <td width='35%'>
                <b>{$result.dimensi_loa|default:''}</b>
            </td>
		</tr>
        <tr>
            <td width='15%'>
                (GT) Isi Kotor
            </td>
            <td width='35%'>
                <b>{$result.dimensi_isikotor|default:''}</b>
            </td>
            <td width='15%'>
                (NT) Isi Bersih
            </td>
            <td width='35%'>
                <b>{$result.dimensi_isibersih|default:''}</b>
            </td>
		</tr>
        <tr>
            <td width='15%'>
                Tanda Selar
            </td>
            <td width='35%'>
                <b>{$result.tanda_selar|default:''}</b>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
		</tr>
	</table>
</div>	
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            KONSTRUKSI DAN MESIN
        </a>
    </h5>
	<table class="table-view" width="100%">
        <tr>
            <td width='15%'>
                Bahan Utama Kapal
            </td>
            <td width='35%'>
                <b>{$result.bahan_ket}</b>
            </td>
            <td width='15%'>
                Jumlah Geladak
            </td>
            <td width='35%'>
                <b>{$result.jml_geladak|default:''}</b>
            </td>
        </tr>
        <tr>
            <td>
                Jumlah Cerobong<i></i>
            </td>
            <td>
                <b>{$result.jml_cerobong|default:''}</b>
            </td>
            <td>
                Jumlah Baling Baling<i></i>
            </td>
            <td>
                <b>{$result.jml_baling|default:''}</b>
            </td>
        </tr>
        <tr>
            <td>
                Penggerak Utama<i></i>
            </td>
            <td><b>{$result.penggerak_ket}</b>
            </td>
            <td>
                Mesin Merk<i></i>
            </td>
            <td>
                <b>{$result.mesin_merk|default:''}</b>
            </td>
        </tr>
        <tr>
            <td>
                Putaran Mesin<i></i>
            </td>
            <td>
                <b>{$result.putaran_mesin|default:''}</b>
            </td>
            <td>
                Type Mesin<i></i>
            </td>
            <td>
                <b>{$result.type_mesin|default:''}</b>
            </td>
        </tr>
        <tr>
            <td>
                Serial No. Mesin<i></i>
            </td>
            <td>
                <b>{$result.serial_no_mesin|default:''}</b>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
	</table>
</div>	
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            DAYA MESIN
        </a>
    </h5>
	<table class="table-view" width="100%">
        <tr>
            <td width='15%'>
                Daya Mesin 1<i></i>
            </td>
            <td width='35%'>
                <b>{$result.daya_mesin1|default:''}<b>
				<b>{$result.satuan_mesin1}<b>
            </td>
            <td width='15%'>
                Daya Mesin 2<i></i>
            </td>
            <td width='35%'>
                <b>{$result.daya_mesin2|default:''}<b>
				<b>{$result.satuan_mesin2}<b>
            </td>
        </tr>
        <tr>
            <td>
                Daya Mesin 3<i></i>
            </td>
            <td>
                <b>{$result.daya_mesin3|default:''}<b>
				<b>{$result.satuan_mesin3}<b>
            </td>
			<td>
                Daya Mesin 4<i></i>
            </td>
            <td>
                <b>{$result.daya_mesin4|default:''}<b>
				<b>{$result.satuan_mesin4}<b>
            </td>
        </tr>
    </table>
</div>	
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            FILE PERSYARATAN YANG WAJIB DISERTAKAN ADALAH SEBAGAI BERIKUT:
        </a>
    </h5>
    <table class="table-view" width="100%">
        {$no = 1}
        {foreach from=$rs_files item=data}
        <tr>
            <td width='5%' align="center">
                {$no++}.
            </td>
            <td width='35%'>
                {$data.ref_name}
            </td>
            <td width="60%">
                {if $data.ref_id|in_array:$file_uploaded}
                <a href="{$config->site_url('pendaftaran_kapal/akta/files_download/'|cat:$result.registrasi_id|cat:'/'|cat:$data.ref_id|cat:'/'|cat:$name_uploaded[$data.ref_id])}">{$name_uploaded[$data.ref_id]}</a>
                {else}
                -
                {/if}
            </td>
        </tr>
        {/foreach}
    </table>
</div>
<div>	
    <table class="table-form" width='100%'>
        <tr class="submit-box">
            <td colspan="2">
                Apakah anda yakin dengan data permohonan diatas?
            </td>
            <td colspan="2" align='right'>
                <input type="submit" name="save" value="Kirim Permohonan" class="reset-button" onclick="return confirm('Apakah anda yakin akan mengirim data permohonan diatas?')" />
            </td>
        </tr>
    </table>
</div>	
</form>