<!-- include javascript -->
{include file="task/daftar_kasubdit_tglttd/task_javascript.html"}
<!-- end of include javascript-->
<script type="text/javascript">
    $(document).ready(function () {
        // select all
        $("#proses-all").change(function () {
            var proses = $("#proses-all").val();
            $(".proses-item").val(proses);
        });
    });
</script>
<div class="breadcrum">
    <p>
        <a href="#">Task Manager Pengajuan Akta Pendaftaran</a><span></span>
        <a href="#">{$task.task_nm}</a><span></span>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info">
                    <b>{$detail.group_nm|upper}</b>
                    <br />
                    Nama Kapal : {$detail.nama_kapal|upper|default:''}
                    <br />
                    Registrasi : {$detail.registrasi_id|upper|default:''}
                    <br />
                    Pemohon : {$detail.nama_pemohon|default:'-'}, {$dtm->get_full_date($detail.tgl_pengajuan)|default:'-'}
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('task/akta_pendaftaran')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" /> Back to Waiting List</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="navigation" style="background-color: #eee; padding: 10px;">
    <div class="navigation-button">
        <ul>
            {if $action.action_revisi eq '1'}
            <li><a href="{$config->site_url('task/daftar_kasubdit_tglttd/pending_process/'|cat:$detail.registrasi_id|cat:'/'|cat:$detail.process_id)}" onclick="return confirm('Apakah anda yakin akan mengirimkan data berikut ke {$prev.role_nm}?')"><img src="{$BASEURL}resource/doc/images/icon/icon.notes.red.png" alt="" /> Koreksi Penentuan Tanggal ke {$prev.role_nm}</a></li>
            {/if}
            {if $action.action_send eq '1'}
            <li><a href="{$config->site_url('task/daftar_kasubdit_tglttd/send_process/'|cat:$detail.registrasi_id|cat:'/'|cat:$detail.process_id)}" onclick="return confirm('Apakah anda yakin akan mengirimkan data berikut ini ke {$detail.nama_pemohon}?')"><img src="{$BASEURL}resource/doc/images/icon/arrow-right.png" alt="" />Approve: Kirim ke {$detail.nama_pemohon}</a></li>
            {/if}  
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            KONFIRMASI PENENTUAN TANGGAL PENANDATANGANAN MINUTE AKTA & DAFTAR INDUK
        </a>
    </h5>
    <form action="{$config->site_url('task/daftar_kasubdit_tglttd/approved_process')}" method="post">
        <input type="hidden" name="registrasi_id" value="{$detail.registrasi_id|default:''}">
        <table class="table-view" width="100%">
			<td width="20%">
			    Tanggal Penandatanganan
			</td>
			<td><b>
			     {$dtm->get_full_date($detail.tgl_ttd_akta)|default:''|upper}
			</td></b>
		</table>
    </form>
</div>
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            MINUTE AKTA & DAFTAR INDUK
        </a>
    </h5>
    <form action="{$config->site_url('task/daftar_kasubdit_tglttd/approved_process')}" method="post">
        <input type="hidden" name="registrasi_id" value="{$detail.registrasi_id|default:''}">
        <table class="table-view" width="100%">
		</table>
    </form>
</div>

<!-- include html -->
{include file="task/daftar_kasubdit_approve/task_form_dialog.html"}
<!-- end of include html -->