<div class="breadcrum">
    <p>
        <a href="#">Pendaftaran</a><span></span>
        <small>Akta</small>
    </p>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<div class="content-dashboard">
    <h4>
        <a href="#">
            Daftar Pengajuan Akta Pendaftaran
        </a>
    </h4>
    <div class="clear"></div>
    <div class="group-box">
        {foreach from=$rs_group item=data}
        <div class="map-box">
            <p>
                <a href="{$config->site_url('pendaftaran_kapal/akta')}">
                    <img src="{$BASEURL}resource/doc/images/icon/baru.icon.png" alt="" />
                    Buat {$data.group_nm}
                </a>
            </p>
        </div>
        {/foreach}
    </div>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info">Total ( <b style="color: red;">Belum Dikirim</b> ) <u>{$total|default:0} Pengajuan Akta Pendaftaran</u></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<table class="table-view" width="100%">
    <tr>
        <th width='5%'>No</th>
        <th width='5%'>Registrasi</th>
        <th width='25%'>Nama Kapal</th>
        <th width='25%'>Pemohon</th>
        <th width='10%'>Didaftarkan Oleh</th>
        <th width='15%'></th>
    </tr>
    {$no = 1}
    {foreach from=$rs_id item=result}
    <tr {if ($no % 2) <> 1}class="blink-row"{/if}>
        <td align="center">{$no++}.</td>
        <td><b style="color: #999;">{$result.registrasi_id|upper}</b></td>
        <td align="center"><b style="color: #999;">{$result.nama_kapal|upper}</b></td>
        <td align="center">
            <span style="text-decoration: underline;">{$result.nama_pemohon|upper}
        </td>
        <td align="center">
            <span style="text-decoration: underline;">{$result.operator_name|default:'-'}</span><br />
            {$dtm->get_full_date($result.mdd)|default:''}
        </td>
        <td align="center">
            <a href="{$config->site_url($result.group_link|cat:'/'|cat:$result.registrasi_id|default:'')}" class="button-edit">
                {if $result.selisih_hari == 0 && substr($result.selisih_waktu,0,2) == 00}
                {substr($result.selisih_waktu,3,2)} minutes
                {else if $result.selisih_hari == 0}
                {substr($result.selisih_waktu,0,2)} hour
                {else}
                {$result.selisih_hari} day
                {/if}
            </a>
            <a href="{$config->site_url('member/akta_pendaftaran/delete_process/'|cat:$result.registrasi_id|default:'')}" class="button-hapus" onclick="return confirm('Apakah anda yakin akan menghapus data ini?')">
                Delete
            </a>
        </td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="6">Data not found!</td>
    </tr>
    {/foreach}
</table>