<!-- include javascript -->
{include file="task/daftar_staff_minute/task_javascript.html"}
<!-- end of include javascript-->
<script type="text/javascript">
    $(document).ready(function () {
        // select all
        $("#proses-all").change(function () {
            var proses = $("#proses-all").val();
            $(".proses-item").val(proses);
        });
    });
</script>

<div class="breadcrum">
    <p>
        <a href="#">Task Manager Pengajuan Akta Pendaftaran</a><span></span>
        <a href="#">{$task.task_nm}</a><span></span>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info">
                    <b>{$detail.group_nm|upper}</b>
                    <br /><br />
                    Nama Kapal : {$detail.nama_kapal|upper|default:''}
                    <br />
                    Registrasi : {$detail.registrasi_id|upper|default:''}
                    <br />
                    Pemohon : {$detail.nama_pemohon|default:'-'}, {$dtm->get_full_date($detail.tgl_pengajuan)|default:'-'}
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('task/akta_pendaftaran')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" /> Back to Waiting List</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="navigation" style="background-color: #eee; padding: 10px;">
    <div class="navigation-button">
        <ul>
            {if $action.action_send eq '1'}
            <li><a href="{$config->site_url('task/daftar_staff_minute/send_process/'|cat:$detail.registrasi_id|cat:'/'|cat:$detail.process_id)}" onclick="return confirm('Apakah anda yakin akan mengirimkan data berikut ini ke {$next.role_nm}?')"><img src="{$BASEURL}resource/doc/images/icon/arrow-right.png" alt="" /> Kirim ke {$next.role_nm}</a></li>
            {/if}  
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            PENYUSUNAN MINUTE AKTA & DAFTAR INDUK
        </a>
    </h5>
    <form action="{$config->site_url('task/daftar_staff_minute/approved_process')}" method="post">
        <input type="hidden" name="registrasi_id" value="{$detail.registrasi_id|default:''}">
        <table class="table-view" width="100%">
		</table>
    </form>
</div>

<table style="line-height: 25px;" class="table-form" width="100%">
    <tr>
        <td align="center" colspan="2"><b>AKTA PENDAFTARAN KAPAL</b> </br> Nomor</br></br></td>
    </tr>
	<tr>
        <td style="padding-left: 90px; vertical-align: top;" width='10%'>Akta Tanggal : </br> {$dtm->get_full_date(date('Y-m-d'))|upper} 
		</br> Nomor : </br> ___________________
		</br> Mengenai kapal {$detail.jenis_ket|upper} bernama {$detail.nama_kapal|upper} </br>Milik : {$detail.nama_pemilik|upper} </br>berkedudukan di {$detail.kota|upper}
		
		</td >
        <td style="padding-right: 90px;"><p style="	text-indent: 40px;">
		Pendaftaran sebuah kapal tongkang bernama {$detail.nama_kapal|upper} seperti diuraikan dalam Surat Ukur tertanggal {$detail.penerbitan_nm|upper}, 
		{$dtm->get_full_date($detail.tgl_surat_ukur)|upper}, {$detail.no_surat_ukur}, dengan ukuran-ukuran ;
		
		<table width="100%">
		<tr>
			<td width="20%">
			Panjang
			</td >
			<td width="10%" align="center">:
			</td>
			<td>{$detail.dimensi_panjang} meter ;
			</td>
		</tr>
		<tr>
			<td>
			Lebar
			</td>
			<td align="center">:
			</td>
			<td>{$detail.dimensi_lebar} meter ;
			</td>
		</tr>
		<tr>
			<td>
			Dalam
			</td>
			<td align="center">:
			</td>
			<td>{$detail.dimensi_dalam} meter ;
			</td>
		</tr>
		<tr>
			<td >
			Tonase Kotor (GT)
			</td>
			<td align="center">:
			</td>
			<td>{$detail.dimensi_isikotor} ;
			</td>
		</tr>
		<tr>
			<td>
			Tonase Bersih (NT)
			</td>
			<td align="center">:
			</td>
			<td>{$detail.dimensi_isibersih} ;
			</td>
		</tr>
		<tr>
			<td >
			Tanda Selar
			</td>
			<td align="center">:
			</td>
			<td>{$detail.tanda_selar} ;
			</td>
		</tr>
		</table>
		
		Kapal dibuat di {$detail.tempat_pembuatan|upper} dalam tanggal {$dtm->get_full_date($detail.tgl_peletakan_lunas)|upper} terutama dari {$detail.bahan_ket|upper} dengan
		{$detail.jml_geladak} geladak dan dipergunakan dalam pelayaran di laut ;
		</br> Kapal belum didaftarkan dalam Daftar Kapal Indonesia ;
		</p></td>
    </tr>
	<tr>
	<td style="padding-left: 90px; padding-right: 90px;" colspan="2">
		<p style="	text-indent: 180px;" >Pada Hari Ini {$dtm->get_day_indonesia(date('Y-m-d'))} tanggal {$dtm->get_full_date(date('Y-m-d'))|upper} telah menghadap kepada kami, 
		</p>
	</td>
	</tr>
</table>

<!-- include html -->
{include file="task/daftar_staff_minute/task_form_dialog.html"}
<!-- end of include html -->