<h3>Lupa Password?</h3>
<div class="content">
    <div style="font-family: tahoma; line-height: 18px;">
        <!-- notification template -->
        {include file="base/templates/notification.html"}
        <!-- end of notification template-->
    </div>
    <form action="{$config->site_url('information/member/forget_process')}" method="post" autocomplete="off">
        <table class="table-input" width="100%">
            <tbody>
                <tr>
                    <td colspan="5">
                        Masukkan email anda dibawah ini untuk me-reset password anda! Password baru akan dikirimkan melalui email yang terdaftar didalam database!
                    </td>
                </tr>
                <tr>
                    <td width="10%">Alamat Email</td>
                    <td width="90%">
                        <input name="email_address" maxlength="50" size="40" type="text" autocomplete="off"/>
                    </td>
                </tr>
                <tr>
                    <td width="10%"></td>
                    <td width="40%">
                        <div class="captcha">{$captcha.image|default:''}</div>
                    </td>
                </tr>
                <tr>
                    <td width="10%">Kode Verifikasi</td>
                    <td width="40%">
                        <input type="text" name="captcha" size="10" width="10" autocomplete="off"/>
                    </td>
                </tr>
                <tr>
                    <td width="10%"></td>
                    <td width="50%">
                        <button name="save" class="submit-button">Kirim</button>
                        <a href="{$config->site_url('information/member')}">Ingin masuk? Klik Disini!</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">

                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<br />