<!-- include javascript -->
{include file="member/daftar_member_tglttd/task_javascript.html"}
<!-- end of include javascript-->
<script type="text/javascript">
    $(document).ready(function () {
        // select all
        $("#proses-all").change(function () {
            var proses = $("#proses-all").val();
            $(".proses-item").val(proses);
        });
    });
</script>
<div class="breadcrum">
    <p>
        <a href="#">Task Manager Pengajuan Akta Pendaftaran</a><span></span>
        <a href="#">{$task.task_nm}</a><span></span>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info">
                    <b>{$detail.group_nm|upper}</b>
                    <br />
                    Nama Kapal : {$detail.nama_kapal|upper|default:''}
                    <br />
                    Registrasi : {$detail.registrasi_id|upper|default:''}
                    <br />
                    Pemohon : {$detail.nama_pemohon|default:'-'}, {$dtm->get_full_date($detail.tgl_pengajuan)|default:'-'}
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('member/jadwal_ttd')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" /> Back to Waiting List</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="navigation" style="background-color: #eee; padding: 10px;">
    <div class="navigation-button">
        <ul>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            KONFIRMASI PENENTUAN TANGGAL PENANDATANGANAN MINUTE AKTA & DAFTAR INDUK
        </a>
    </h5>
        <table class="table-view" width="100%">
			<td width="20%">
			    Tanggal Penandatanganan
			</td>
			<td><b>
			     {$dtm->get_full_date($detail.tgl_ttd_akta)|default:''|upper}
			</td></b>
		</table>
</div>
<div>
    <form action="{$config->site_url('member/daftar_member_tglttd/send_process/'|cat:$detail.registrasi_id|cat:'/'|cat:$detail.process_id)}" method="post">
        <input type="hidden" name="registrasi_id" value="{$detail.registrasi_id|default:''}">
		<table class="table-form" width='100%'>
			<tr class="submit-box">
				<td width="95%" align='right'>
					<input type="submit" name="save" value="Jadwal Ulang" class="reset-button" />
				</td>
				<td align='right'>
					<input type="submit" name="save" value="Lanjutkan" class="submit-button" onclick="return confirm('Apakah anda yakin telah menyetujui jadwal?');" />
				</td>
			</tr>
		</table>
    </form>
</div>	

<!-- include html -->
{include file="member/daftar_member_tglttd/task_form_dialog.html"}
<!-- end of include html -->