<div class="breadcrum">
    <p>
        <a href="#">Settings</a><span></span>
        <a href="{$config->site_url('pengaturan/pelabuhan')}">Pelabuhan</a><span></span>
        <small>Add Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('pengaturan/pelabuhan')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" /> Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('pengaturan/pelabuhan/add_process')}" method="post">
    <table class="table-input" width="100%" border='0'>
        <tr class="headrow">
            <th colspan="4">Tambah Data Pelabuhan</th>
        </tr>
        <tr>
            <td width="15%">Nama Pelabuhan</td>
            <td width="35%">
                <input name="pelabuhan_nm" type="text" value="{$result.pelabuhan_nm|default:''}" size="30" maxlength="50" />
                <em>* wajib diisi</em>
            </td>
        </tr>  
        <tr>
            <td>Kode Pelabuhan</td>
            <td>
                <input name="pelabuhan_kd" type="text" value="{$result.pelabuhan_kd|default:''}" size="30" maxlength="3" />
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr>
            <td>Tempat Pendaftaran</td>
            <td>
                <select name="st_daftar" class="st_daftar">
                    <option value="">--- Pilih ---</option>
                    <option value="1" {if {$result.st_daftar|default:''} == "1"}selected="selected"{/if}>YA</option>
                    <option value="0" {if {$result.st_daftar|default:''} == "0"}selected="selected"{/if}>TIDAK</option>
                </select>
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr>
            <td>Tempat Pengukuran</td>
            <td>
                <select name="st_ukur" class="st_ukur">
                    <option value="">--- Pilih ---</option>
                    <option value="1" {if {$result.st_ukur|default:''} == "1"}selected="selected"{/if}>YA</option>
                    <option value="0" {if {$result.st_ukur|default:''} == "0"}selected="selected"{/if}>TIDAK</option>
                </select>
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr class="submit-box">
            <td colspan="4">
                <input type="submit" name="save" value="Simpan" class="submit-button" />
                <input type="reset" name="save" value="Reset" class="reset-button" />
            </td>
        </tr>
    </table>
</form>