<div class="breadcrum">
    <p>
        <a href="#">Settings</a><span></span>
        <small>Pelabuhan</small>
    </p>
    <div class="clear"></div>
</div>
<div class="search-box">
    <h3><a href="#">Pencarian</a></h3>
    <form action="{$config->site_url('pengaturan/pelabuhan/proses_cari')}" method="post">
        <table class="table-search" width="100%" border="0">
            <tr>
                <th width="10%">Nama Pelabuhan</th>
                <td width="20%">
                    <input id="tags_pelabuhan_nm" name="pelabuhan_nm" type="text" value="{$search.pelabuhan_nm|default:''}" size="35" maxlength="50" />
                </td>
                <td width='40%' align='right'>
                    <input class="blue" name="save" type="submit" value="Tampilkan" />
                    <input class="orange" name="save" type="submit" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info">Total&nbsp;<strong>{$pagination.total|default:0}</strong>&nbsp;Record&nbsp;</li>{$pagination.data|default:''}
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('pengaturan/pelabuhan/add')}"><img src="{$BASEURL}resource/doc/images/icon/add-icon.png" alt="" /> Add Data</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<table class="table-view" width="100%">
    <tr>
        <th width="4%">No</th>
        <th width="20%">Nama Pelabuhan</th>
        <th width="20%">Kode Pelabuhan</th>
        <th width="20%">Tempat Pendaftaran</th>
        <th width="20%">Tempat Pengukuran</th>
        <th width="16%"></th>
    </tr>
    {foreach from=$rs_pelabuhan item=result}
    <tr {if ($no % 2) <> 1}class="blink-row"{/if}>
        <td align="center">{$no++}.</td>
        <td align="center">{$result.pelabuhan_nm|upper|default:''}</td>
        <td align="center">{$result.pelabuhan_kd|default:''}</td>
		{if $result.st_daftar eq '1'}
            <td align="center">YA</td>
        {else}
            <td align="center">TIDAK</td>
        {/if}
		
		{if $result.st_ukur eq '1'}
            <td align="center">YA</td>
        {else}
            <td align="center">TIDAK</td>
        {/if}
		<td align="center">
            <a href="{$config->site_url('pengaturan/pelabuhan/edit/'|cat:$result.pelabuhan_id|default:'')}" class="button-edit">Edit</a>
            <a href="{$config->site_url('pengaturan/pelabuhan/delete/'|cat:$result.pelabuhan_id|default:'')}" class="button-hapus">Hapus</a>
        </td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="6">Data not found!</td>
    </tr>
    {/foreach}
</table>