<div class="content-home">
    <div class="login-box">
        <h4>{$home_login_title}</h4>
        {if !empty($com_user)}
        <form action="#" method="post">
            <table width="100%">
                <tr>
                    <td colspan="2" align="center">
                        <img src="{$com_user.operator_photo}" style="height: 64px; width: auto; padding-bottom: 10px;" alt="" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center" style="font-family: tahoma; font-size: 11px;">
                        <b>{$com_user.operator_name|upper}, <br />({$com_user.airlines_nm})</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center" style="font-family: tahoma; font-size: 11px;">
                        {$com_user.operator_phone}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center" style="font-family: tahoma; font-size: 11px;">
                        {$com_user.user_mail}
                    </td>
                </tr>
                <tr>
                    <td width="100%" align="right" colspan="2" style="padding-top: 10px;">
                        <a href="{$config->site_url('member/welcome')}" style="color: #FF00BA;">Back to your private menu? Click Here!</a>
                    </td>
                </tr>
            </table>
        </form>
        {else}
        <form action="{$config->site_url('information/member/login_process')}" method="post" autocomplete="off" class="login" accept-charset="utf-8">
            <input type="hidden" name="{$token_nm}" value="{$token}"/>
            <table width="100%">
                <tr>
                    <td colspan="2">
                        Username :
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="text" name="username" style="width: 200px;" autocomplete="off"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Password :
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="password" name="pass" style="width: 200px;" autocomplete="off"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        {$captcha.image|default:''} <br/><br/><input type="text" name="captcha" size="10" maxlength="10" style="background-color:#f7ecbc;color:#000" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Masukkan kode diatas
                        <br>
                        
                    </td>
                </tr>
                <tr>
                    <td width="30%">
                        <a href="{$config->site_url('information/member/forget_password')}">{$home_forget}</a>
                    </td>
                    <td align="right">
                        <input type="submit" value="{$home_button_signin}" class="submit-button" style=""/>
                    </td>
                </tr>
            </table>
        </form>
        {/if}
    </div>
    <div class="info-box">
        <div class="list-subcorp">
            <div class="list-subcorp bdr-inside">
                <ul>
                    <li>
                        <a href="https://aol.dephub.go.id/siuau">
                            <img src="{$BASEURL}resource/doc/images/icon/izin.usaha.icon.png" alt="" /><br />
                            Izin Badan Usaha
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{$BASEURL}resource/doc/images/icon/izin.rute.icon.png" alt="" /><br />
                            Izin Rute Penerbangan (<em>Flight Route Permit</em>)
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{$BASEURL}resource/doc/images/icon/izin.terbang.icon.png" alt="" /><br />
                            Persetujuan Terbang <br />(<em>Flight Approval</em>)
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{$BASEURL}resource/doc/images/icon/report.produksi.png" alt="" /><br />
                            Pelaporan Data Produksi (<em>Reporting of Production</em>)
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{$BASEURL}resource/doc/images/icon/ontime.icon.png" alt="" /><br />
                            Pelaporan Data On-time Performance
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{$BASEURL}resource/doc/images/icon/perintis.icon.png" alt="" /><br />
                            Pelaporan Data Angkutan Udara Perintis
                        </a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="info-box">
        <h4>Flight Approval</h4>
        <form action="{$config->site_url('/information/document/proses_cari/')}" method="post" autocomplete="false">
            <input type="hidden" name="{$token_nm}" value="{$token}"/>
            <table class="table-input" width="100%">
                <tr>
                    <td colspan="2">
                        {$home_info_cek}
                    </td>
                </tr>
                <tr>
                    <td width="80%">
                        <input name="published_no" maxlength="30" size="30" type="text" style="text-align: center;" placeholder="{$home_published_number}" autocomplete="off"/>
                    </td>
                    <td width="20%">
                        <button class="submit-button">{$home_button_find}</button>
                    </td>
                </tr>
            </table>
        </form>
        <div class="clear"></div>
        <br />
        <h4>Izin Rute</h4>
        <form action="{$config->site_url('/information/document_izin/proses_cari/')}" method="post" autocomplete="false">
            <input type="hidden" name="{$token_nm}" value="{$token}"/>
            <table class="table-input" width="100%">
                <tr>
                    <td colspan="2">
                        {$home_info_izin}
                    </td>
                </tr>
                <tr>
                    <td width="80%">
                        <input name="izin_published_letter" maxlength="30" size="30" type="text" style="text-align: center;" placeholder="{$home_published_number}" autocomplete="false"/>
                    </td>
                    <td width="20%">
                        <button class="submit-button">{$home_button_find}</button>
                    </td>
                </tr>
            </table>
        </form>
        <div class="clear"></div>
        <br />
        <h4>{$home_info_title}</h4>
        <ul>
            {foreach from=$rs_news item=news}
            <li>
                <a href="{$config->site_url('information/news/index/'|cat:$news.news_id|default:'')}">
                    <small>{$dtm->get_full_date($news.news_post_date)}</small><br />
                    {$news.news_lang_title}<br />
                    <small style="color: #555;">{$news.news_lang_content|substr:0:200}...</small>
                </a>
            </li>
            {foreachelse}
            <li>
                <a href="#">
                    Sorry , there are no updates
                </a>
            </li>
            {/foreach}
        </ul>
    </div>
    <div class="clear"></div>
</div>
