<div class="breadcrum">
    <p>
        <a href="#">Monitoring Pengajuan</a><span></span>
        <small>Pengajuan Akta</small>
    </p>
    <div class="clear"></div>
</div>
						
<div class="search-box">
    <h3><a href="#">Search</a></h3>
    <form action="{$config->site_url('member/monitoring_daftar/proses_cari')}" method="post">
        <table class="table-search" width="100%" border="0">
            <tr>
                <th width="15%">No. Registrasi</th>
                <td width="15%">
                    <input name="registrasi_id" type="text" value="{$search.registrasi_id|default:''}" size="20" maxlength="50" placeholder="-- semua --" style="text-align: center;" />
                </td>
                <th width="15%">Jenis Pengajuan Akta</th>
                <td width="55%">
                    <select name="daftar_group">
                        <option value="">-- semua --</option>
						{foreach from=$rs_group item=data}
						{if (isset($search.daftar_group))}
						<option value="{$data.group_id}" {if ($data.group_id) eq $search.daftar_group}selected="selected"{/if}>{$data.group_nm}</option>
						{else}
						<option value="{$data.group_id}" >{$data.group_nm}</option>
						{/if}
                        {/foreach}
                    </select>  
                </td>
			</tr>
			<tr>
				<th width="10%">Nama Kapal</th>
                <td width="10%">
                    <input name="nama_kapal" type="text" value="{$search.nama_kapal|default:''}" size="20" maxlength="50" placeholder="-- semua --" style="text-align: center;" />
                </td>
                <th>&nbsp;</th>
                <td align='right'>
                    <input name="save" type="submit" value="Tampilkan" />
                    <input name="save" type="submit" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info">Total ( <b style="color: red;">{$total|default:0}</b> ) Pengajuan Yang Sedang Diproses!</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<table class="table-view" width="100%">
    <tr>
        <th width='5%'>No</th>
        <th width='15%'>Jenis Pengajuan</th>
        <th width='15%'>Registrasi</th>
        <th width='25%'>Nama Kapal</th>
        <th width='25%'>Pemohon</th>
        <th width='15%'></th>
    </tr>
    {$no = 1}
    {foreach from=$rs_id item=result}
    <tr {if ($no % 2) <> 1}class="blink-row"{/if}>
        <td align="center">{$no++}.</td>
        <td align="center">{$result.group_nm|upper}</td>
        <td align="center"><b style="color: #999;">{$result.registrasi_id|upper}</b></td>
        <td align="center"><b style="color: #999;">{$result.nama_kapal|upper}</b></td>
        <td align="center">
            <span style="text-decoration: underline;">{$result.nama_pemohon|upper}
        </td>
        <td align="center">
            <a href="{$config->site_url('member/monitoring_daftar/'|cat:$result.group_alias|cat:'/'|cat:$result.registrasi_id|default:'')}" class="button">
                {if $result.selisih_hari == 0 && substr($result.selisih_waktu,0,2) == 00}
                {substr($result.selisih_waktu,3,2)} Menit yang lalu
                {else if $result.selisih_hari == 0}
                {substr($result.selisih_waktu,0,2)} Jam yang lalu
                {else}
                {$result.selisih_hari} Hari yang lalu
                {/if}
            </a>
        </td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="7">Belum ada Permohonan Akta Yang Diajukan!</td>
    </tr>
    {/foreach}
</table>