<div class="breadcrum">
    <p>
        <a href="#">Settings</a><span></span>
        <small>Bahan Kapal</small>
    </p>
    <div class="clear"></div>
</div>
<div class="search-box">
    <h3><a href="#">Pencarian</a></h3>
    <form action="{$config->site_url('pengaturan/bahan_kapal/proses_cari')}" method="post">
        <table class="table-search" width="100%" border="0">
            <tr>
                <th width="10%">Bahan</th>
                <td width="20%">
                    <input id="tags_bahan_ket" name="bahan_ket" type="text" value="{$search.bahan_ket|default:''}" size="35" maxlength="50" />
                </td>
                <td width='40%' align='right'>
                    <input class="blue" name="save" type="submit" value="Tampilkan" />
                    <input class="orange" name="save" type="submit" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info">Total&nbsp;<strong>{$pagination.total|default:0}</strong>&nbsp;Record&nbsp;</li>{$pagination.data|default:''}
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('pengaturan/bahan_kapal/add')}"><img src="{$BASEURL}resource/doc/images/icon/add-icon.png" alt="" /> Add Data</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<table class="table-view" width="100%">
    <tr>
        <th width="4%">No</th>
        <th width="20%">Bahan</th>
        <th width="20%">Bahan (Eng)</th>
        <th width="16%"></th>
    </tr>
    {foreach from=$rs_bahan_kapal item=result}
    <tr {if ($no % 2) <> 1}class="blink-row"{/if}>
        <td align="center">{$no++}.</td>
        <td align="center">{$result.bahan_ket|upper|default:''}</td>
        <td align="center">{$result.bahan_ket_eng|upper|default:''}</td>
        <td align="center">
            <a href="{$config->site_url('pengaturan/bahan_kapal/edit/'|cat:$result.bahan_id|default:'')}" class="button-edit">Edit</a>
            <a href="{$config->site_url('pengaturan/bahan_kapal/delete/'|cat:$result.bahan_id|default:'')}" class="button-hapus">Hapus</a>
        </td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="6">Data not found!</td>
    </tr>
    {/foreach}
</table>