<div class="breadcrum">
    <p>
        <a href="#">Pendaftaran</a><span></span>
        <a href="#">Rute Dalam Negeri</a><span></span>
        <small>{$group.group_nm|upper}</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('member/registration_domestik/')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<div class="dashboard-welcome">
    <div class="dashboard-profile">
        <div class="dashboard-profile-disclaimer">
            <h4>SYARAT DAN KETENTUAN PERMOHONAN {$group.group_nm|upper} {$group.data_flight|upper}</h4>
            <div class="list">
                <div>
                    {foreach from=$rs_id item=data}
                    <p>
                        <a>{$data.disclaimer_content|default:''|upper}</a>
                    </p>
                    {/foreach}
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <form action="{$config->site_url('member/registration_domestik/disclaimer_process')}" method="post">
            <input type="hidden" name="group_id" value="{$group.group_id}" />
            <table class="table-input" width="100%">
                <tr>
                    <td>
                        {$captcha.image|default:''}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Masukkan kode diatas</b>
                        <br>
                        <input type="text" name="captcha" size="20" maxlength="10" style="background-color:#CDD0D9" />
                    </td>
                </tr>
                <tr>
                    <td><h4><label style="width: auto;"><input type="checkbox" name="agree" /> Saya setuju dengan persyaratan yang ada pada sistem pelayanan permohonan izin rute penerbangan ini!</label></h4></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" name="save" value="Lanjutkan" class="submit-button" />
                    </td>
                </tr>
            </table>
        </form>
        <div class="clear"></div>
    </div>
</div>
