<div class="breadcrum">
    <p>
        <a href="#">Permohonan Direvisi</a><span></span>
        <a href="{$config->site_url('member/pending_izin')}">Izin Rute Penerbangan</a><span></span>
        <small>{$detail.group_nm}</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('member/pending_izin')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Back to Waiting List</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="step-box">
    <ul>
        <li>
            <a href="{$config->site_url('izin_pending_internasional/penghentian/index/'|cat:$detail.registrasi_id)}" class="normal"><b>Step 1</b><br />Data Permohonan</a>
        </li>
        <li>
            <a href="{$config->site_url('izin_pending_internasional/penghentian/list_rute/'|cat:$detail.registrasi_id)}" class="normal"><b>Step 2</b><br />Data Rute Penerbangan</a>
        </li>
        <li>
            <a href="{$config->site_url('izin_pending_internasional/penghentian/list_files/'|cat:$detail.registrasi_id)}"><b>Step 3</b><br />File Attachment</a>
        </li>
        <li>
            <a href="{$config->site_url('izin_pending_internasional/penghentian/review/'|cat:$detail.registrasi_id)}" class="active"><b>Step 4</b><br />Review Permohonan</a>
        </li>
    </ul>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('izin_pending_internasional/penghentian/list_files/'|cat:$detail.registrasi_id)}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Previous Step</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('izin_pending_internasional/penghentian/send_process')}" method="post">
    <input type="hidden" name="registrasi_id" value="{$detail.registrasi_id|default:''}">
    <table class="table-form" width="100%">
        <tr>
            <td colspan="4" align='center'>
                <b style="font-size: 16px;">PERMOHONAN {$detail.group_nm|upper}</b>
            </td>
        </tr>
        <tr>
            <td colspan="4" align='center'>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <span style="text-decoration: underline;">Tanggal Surat Permohonan</span><br /><i>Request Letter Date</i>
            </td>
            <td><b>{$dtm->get_full_date($detail.izin_request_letter_date)|default:''|upper}</b></td>
            <td width='20%'>
                <span style="text-decoration: underline;">Nomor Surat Permohonan</span><br /><i>Request Letter Number</i>
            </td>
            <td width='30%'><b>{$detail.izin_request_letter|default:''|upper}</b></td>
        </tr>
        <tr>
            <td width='20%'>
                <span style="text-decoration: underline;">Rute Pairing</span><br /><i>Pair Routes</i>
            </td>
            <td width='30%'><b>{$detail.izin_rute_start} / {$detail.izin_rute_end}</b></td>
            <td><span style="text-decoration: underline;">Penunjukkan Oleh</span><br /><i>Appointment By</i></td>
            <td><b>{$detail.penanggungjawab|default:''|upper}</b></td>
        </tr>   
        <tr>
            <td>
                <span style="text-decoration: underline;">Jenis Penerbangan</span><br /><i>Flight Type</i>
            </td>
            <td><b>{$detail.pax_cargo|upper}</b></td>
            <td><span style="text-decoration: underline;">Jabatan</span><br /><i>Job Title</i></td>
            <td><b>{$detail.jabatan|default:''|upper}</b></td>
        </tr>  
        <tr>
            <td>
                <span style="text-decoration: underline;">Season Code</span><br /><i>For IASM Airport</i>
            </td>
            <td colspan="3"><b>{$detail.izin_season|default:''|upper}</b></td>
        </tr>
    </table>
    <div style="margin: 0 0 5px 0; padding: 10px; border: 1px solid #ddd; font-size: 11px; font-family: helvetica;">
        <h3 style="font-family: helvetica; font-size: 12px;">Data Rute Penerbangan Yang Akan Dicabut</h3>
        <table class="table-view" width="100%">
            <tr style="font-weight: bold;">
                <td width="4%" align='center'>No</td>
                <td width="9%" align='center'>Rute</td>
                <td width="9%" align='center'>Tipe<br />Pesawat</td>
                <td width="9%" align='center'>Nomor<br />Penerbangan</td>
                <td width="9%" align='center'>ETD <br /><small>Waktu Lokal</small></td>
                <td width="9%" align='center'>ETA <br /><small>Waktu Lokal</small></td>
                <td width="9%" align='center'>Hari <br />Operasi</td>
                <td width="9%" align='center'>Frekuensi</td>
                <td width="9%" align='center'>Total <br />Frekuensi</td>
                <td width="12%" align='center'>Tanggal <br />Mulai</td>
                <td width="12%" align='center'>Tanggal <br />Berakhir</td>
            </tr>
            {foreach from=$rs_id key=no item=rute}
            {$i = 1}
            {$rowspan = $rute|count}
            {foreach from=$rute item=data}

            <tr {$row_style[$data.rute_all]}>
                {if $rowspan <= 1}
                <td align="center" style="color: black;">{$no}.</td>
                {elseif $i eq 1}
                <td align="center" rowspan="{$rowspan}" style="color: black;">{$no}.</td>
                {/if}
                <td align="center">{$data.rute_all|default:'-'}</td>
                <td align="center">{$data.tipe|default:'-'}</td>
                <td align="center">{$data.flight_no|default:'-'}</td>
                <td align="center">{$data.etd|default:'-'|substr:0:5}</td>
                <td align="center">{$data.eta|default:'-'|substr:0:5}</td>   
                <td align="center">{$data.doop|default:'-'}</td>
                <td align="center">{$data.frekuensi}X</td>
                {if $rowspan <= 1}
                <td align="center" style="color: blue;">
                    {$pairing[$data.izin_id]} / 
                    {$frekuensi[$data.izin_id]}X
                </td>
                {elseif $i eq 1}
                <td align="center" rowspan="{$rowspan}" style="color: blue;">
                    {$pairing[$data.izin_id]} / 
                    {$frekuensi[$data.izin_id]}X
                </td>
                {/if}
                <td align="center">{$dtm->get_full_date($data.start_date, 'ins')|upper}</td>
                <td align="center">{$dtm->get_full_date($data.end_date, 'ins')|upper}</td>
            </tr>
            {$i = $i + 1}
            {/foreach}
            {foreachelse}
            <tr>
                <td colspan="11">Data rute belum diinputkan!</td>
            </tr>
            {/foreach}
            <tr>
                <td colspan="8" align="right">Perhitungan Total Jumlah Frekuensi / Minggu</td>
                <td align="center"><b>{$total.frekuensi}X</b></td>
                <td align="center">                    
                </td>
                <td align="center">
                </td>
            </tr>
        </table>
    </div>
    <table class="table-form" width="100%">
        <tr>
            <td colspan="3">
                <b>File persyaratan yang wajib di sertakan adalah sebagai berikut :</b>
            </td>
        </tr>
        {$no = 1}
        {foreach from=$rs_files item=data}
        <tr>
            <td width='5%' align="center">
                {$no++}.
            </td>
            <td width='35%'>
                {$data.ref_name}
            </td>
            <td width="60%">
                {if $data.ref_id|in_array:$file_uploaded}
                <a href="{$config->site_url('member/monitoring_izin/files_download/'|cat:$detail.registrasi_id|cat:'/'|cat:$data.ref_id)}">{$name_uploaded[$data.ref_id]}</a>
                {else}
                -
                {/if}
            </td>
        </tr>
        {/foreach}
    </table>
    <table class="table-form" width='100%'>
        <tr class="submit-box">
            <td colspan="2">
                Apakah anda yakin dengan data permohonan diatas?
            </td>
            <td colspan="2" align='right'>
                <input type="submit" name="save" value="Kirim Permohonan" class="reset-button" onclick="return confirm('Apakah anda yakin akan mengirim data permohonan diatas?')" />
            </td>
        </tr>
    </table>
</form>