<div class="dashboard-welcome">
    <h3>{$tanggal.hari}, {$tanggal.tanggal}</h3>
    <div class="dashboard-profile">
        <div style="float: left;">
            <div class="dashboard-profile-sidebar">
                <h4>Selamat Datang</h4>
                
            </div>
        </div>
        <div class="dashboard-profile-content">
            <img src="{$com_user.operator_photo}" alt="" class="user-img" />
            <ul>
                <li><b>{$com_user.operator_name}, <br />({$com_user.role_nm})</b><br />{$com_user.sub_direktorat}</li>
                <li><img src="{$BASEURL}resource/doc/images/icon/phone.icon.png" alt="" />{$com_user.operator_phone}</li>
                <li><img src="{$BASEURL}resource/doc/images/icon/address.icon.png" alt="" />{$com_user.operator_address}</li>
                <li><img src="{$BASEURL}resource/doc/images/icon/email.icon.png" alt="" />{$com_user.user_mail}</li>
                <li><a href="{$config->site_url('dashboard/account_settings/data_pribadi')}">Update my profile</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="dashboard-profile-content">
            <br />
            <h5>Statistik Pelayanan {$tanggal.tahun}</h5>
            <div id="chart">
                <script type="text/javascript">
                    var chart = new FusionCharts("{$BASEURL}resource/doc/charts/StackedColumn2D.swf", "chart", "100%", "285", "0", "1");
                    chart.setDataURL("{$config->site_url('dashboard/welcome/data_chart')}");
                    chart.render("chart");
                </script> 
            </div>

            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
