/* CSS Document */
/* created by chow-2011 */

.sidebar {
    float: left;
    margin: 0;
    padding: 5px 0 0 0;
    width: 17%;
    overflow: hidden;
    background-color: #222d32;
}

/* sidebar menu */

.side-menu {
    margin: 0;
    padding: 0;
    width: auto;
}

.side-menu ul {
    margin: 0;
    padding: 0;
}

side-menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.side-menu a {
    margin: 0;
    padding: 14px 20px;
    color: #B8C7CE;
    display: block;
    text-decoration: none;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
}

.side-menu a:hover {
    color: #FFF;
    background-color: #1E282C;
}

.side-menu a.side-active {
    color: #FFF;
    background-color: #1E282C;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}

.side-menu a.parent {
    background-image: url("../img/arrow-right-menu.png");
    background-position: 210px center;
    background-repeat: no-repeat;
}

.side-menu a.down {
    background-image: url("../img/arrow-right-menu-down.png");
    background-position: 210px center;
    background-repeat: no-repeat;
}

.side-menu a img {
    margin: 0 12px 0 0;
    padding: 0;
    border: none;
    vertical-align: bottom;
    height: 16px;
}

.side-menu ul.side-menu-child {
    display: none;
}

.side-menu ul.show {
    display: block;
}

.side-menu ul.side-menu-child li {

}

.side-menu ul.side-menu-child li a {
    display: block;
    margin: 0;
    padding: 8px 10px 8px 35px;
    color: #B8C7CE;
    text-decoration: none;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    background-image: url("../img/side-menu-a-child.png");
    background-position: 15px center;
    background-repeat: no-repeat;
	background-color: #2C3B41;
}

.side-menu ul.side-menu-child li a:hover {
    background-color: #2C3B41;
	color: #FFF;
}

.side-menu ul.side-menu-child li a.side-active {
    color: #FFF;
    background-image: url("../img/side-menu-a-child-active.png");
    background-position: 15px center;
    background-repeat: no-repeat;
    background-color: #2C3B41;
    border: none;
}