/* CSS Document */
/* created by chow-2011 */

/* TABLE INPUT */

.table-input {
    margin: 0 0 5px 0;
    padding: 0;
    background-color: #fff;
    border-collapse: collapse;
    color: #666;
    font-size: 13px;
    text-align: left;
    vertical-align: top;
}

.table-input th {
    margin: 0;
    padding: 5px 10px;
    background-color: #4EA1D3;
    border-bottom: 1px solid #5699C3;
    border-top: 1px solid #7EA9BA;
    color: #fff;
    font-size: 13px;
    vertical-align: top;
	height: 18px;
}

.table-input .headrow th  {
    background-color: #4C81A1;
    border-bottom: 1px solid #427797;
    border-top: 1px solid #467C98;
    color: #FFFFFF;
}

.table-input td {
    margin: 0;
    padding: 5px 5px 5px 10px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D8DAD9;
    vertical-align: middle;
	height: 23px;
}

.table-input td label {
    float: left;
    margin: 0;
    padding: 5px 0;
    width: 185px;
    cursor: pointer;
    margin: 0 10px 0 0;
}
.table-input td label:hover {
    text-decoration: underline;
}
.table-input td label span {
    overflow: hidden;
}

.table-input td input, textarea {
    margin: 0 2px 0 0;
    padding: 5px;
    font-size: 12px;
    font-family: tahoma;
    border: 1px solid #3C8DBC;
    background-color: #EBEEF5;
    color: #000;
}

.table-input input[type="radio"] {
    margin: 0 2px 0 0;
    padding: 0;
    border: none;
    vertical-align: middle;
}

.table-input input[type="checkbox"] {
    margin: 0 2px 0 0;
    padding: 0;
    border: none;
    vertical-align: middle;
}

.table-input td select {
    margin: 0 4px 1px 0;
    padding: 4px 2px;
    border: 1px solid #3C8DBC;
    background-color: #EBEEF5;
    font-size: 13px;
    vertical-align: middle;
	height: 30px;
}

.table-input td em {
    color: #666666;
    font-size: 10px;
}

.table-input input.submit-button {
    margin: 0 3px 0 0;
    padding: 4px 10px;
    background-image: url("../img/table-input-submit-bg.png");
    background-position: top center;
    background-repeat: repeat-x;
    background-color: #BD6108;
    border: 1px solid #BD6108;
    border-top: 1px solid #BD5D08;
    border-bottom: 1px solid #BD6108;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 28px;
}

.table-input input.submit-button:hover {
    cursor: pointer;
    border: 1px solid #BD6108;
}

.table-input input.reset-button {
    margin: 0 3px 0 0;
    padding: 4px 10px;
    background-image: url("../img/table-input-reset-bg.png");
    background-position: top center;
    background-repeat: repeat-x;
    background-color: #9C2C29;
    border: 1px solid #9C2C29;
    border-top: 1px solid #842829;
    border-bottom: 1px solid #9C2C29;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 28px;
}

.table-input input.reset-button:hover {
    cursor: pointer;
    border: 1px solid #9C2C29;
}

.table-input ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
/* Table view ----------------------------------------- */

.table-view.small td {
    font-size: 10px;
}

.table-view {
    margin: 0 0 5px 0;
    padding: 0;
    border-collapse: collapse;
    color: #515151;
    font-size: 13px;
    background-color: #fff;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.table-view th {
    margin: 0;
    padding: 10px 0;
    background: #ffffed;
    border: 1px solid #cdcdcd;
    color: #272727;
    font-weight: bold;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.table-view td {
    margin: 0;
    padding: 10px 10px;
    border: 1px solid #edebeb;
    border-left: 1px solid #edebeb;
    border-right: 1px solid #edebeb;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.table-view a {
    margin: 0;
    padding: 0;
    color: #3e6ba7;
    text-decoration: none !important;
    background-color:  transparent;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.table-view a:hover {
    color: #3e6ba7;
    background-color:  transparent;
    border: none;
}

.table-view tr:hover {
}

.table-view img {
    float: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.table-view .blink-row {
    background-color: #f9f9f9;
}

.table-view .red-row {
    background-color: #ffffed;
    color: #FF0000;
}

.table-view .blue-row {
    background-color: #1D53EF;
    color: #ffffff;
}

.table-view .start-row {
    color: #368EE0;
}

.table-view .end-row {
    color: #a9302a;
}

.table-view a.button {
    margin: 0 1px;
    padding: 2px 4px;
    background-color: #fff;
    border: 1px solid #F9EBD7;
    color: #8D4F00;
    display: inline;
    text-align: center;
    text-decoration: none;
}

.table-view a.button:hover {
    background-color: #F39C12;
    border: 1px solid #E08E0B;
	color: #FFF;
}

.table-view a.blue {
    background-color: #e1f9d1;
    border: 1px solid #c9f5ac;
    color: #000;
}

.table-view a.red {
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
    color: #000;
}

.table-view a.button-edit {
    margin: 0 1px;
    padding: 1px 4px 1px 19px;
    background-image: url("../img/edit-icon.png");
    background-position: 4px 2px;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid #F9EBD7;
    color: #8D4F00;
    display: inline;
    text-align: center;
    text-decoration: none;
}

.table-view a.button-edit:hover {
    background-color: #FFF6C4;
    border: 1px solid #F9EBD7;
}

.table-view a.button-hapus {
    margin: 0 1px;
    padding: 1px 4px 1px 19px;
    background-image: url("../img/delete-icon.png");
    background-position: 4px 3px;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid #F9EBD7;
    color: #8D4F00;
    display: inline;
    text-align: center;
    text-decoration: none;
}

.table-view a.button-hapus:hover {
    background-color: #FFF6C4;
    border: 1px solid #F9EBD7;
}

.table-view a.button-waiting {
    margin: 0 1px;
    padding: 1px 4px 1px 19px;
    background-image: url("../img/icon.waiting.png");
    background-size: 12px;
    background-position: 4px 3px;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid #F9EBD7;
    color: #8D4F00;
    display: inline;
    text-align: center;
    text-decoration: none;
}

.table-view a.button-waiting:hover {
    background-color: #FFF6C4;
    border: 1px solid #F9EBD7;
}

.table-view a.button-approve {
    margin: 0 1px;
    padding: 1px 4px 1px 19px;
    background-image: url("../img/icon.approve.png");
    background-size: 12px;
    background-position: 4px 3px;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid #F9EBD7;
    color: #8D4F00;
    display: inline;
    text-align: center;
    text-decoration: none;
}

.table-view a.button-approve:hover {
    background-color: #FFF6C4;
    border: 1px solid #F9EBD7;
}

.table-view a.button-reject {
    margin: 0 1px;
    padding: 1px 4px 1px 19px;
    background-image: url("../img/icon.reject.png");
    background-size: 12px;
    background-position: 4px 3px;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid #F9EBD7;
    color: #8D4F00;
    display: inline;
    text-align: center;
    text-decoration: none;
}

.table-view a.button-reject:hover {
    background-color: #FFF6C4;
    border: 1px solid #F9EBD7;
}

.table-view td select {
    margin: 0 4px 1px 0;
    padding: 4px 2px;
    border: 1px solid #E4EBF3;
    background-color: #EBF3F6;
    font-size: 12px;
    vertical-align: middle;
}

.table-view input.submit-button {
    margin: 0 3px 0 0;
    padding: 4px 10px;
    background-image: url("../img/table-input-submit-bg.png");
    background-position: top center;
    background-repeat: repeat-x;
    background-color: #BD6108;
    border: 1px solid #BD6108;
    border-top: 1px solid #BD5D08;
    border-bottom: 1px solid #BD6108;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 28px;
}

.table-view input.submit-button:hover {
    cursor: pointer;
    border: 1px solid #BD6108;
}

.table-view a.button-notes {
    margin: 0 1px;
    padding: 1px 10px;
    background-image: url("../img/edit-icon.png");
    background-position: 4px 2px;
    background-repeat: no-repeat;
    background-color: #FFF6C4;
    border: 1px solid #F9EBD7;
    color: #8D4F00;
    display: inline;
    text-align: center;
    text-decoration: none;
}

.table-view a.button-notes-red {
    margin: 0 1px;
    padding: 1px 10px;
    background-image: url("../img/edit-icon.png");
    background-position: 4px 2px;
    background-repeat: no-repeat;
    background-color: #FF5B5B;
    border: 1px solid #DB1A1A;
    color: #8D4F00;
    display: inline;
    text-align: center;
    text-decoration: none;
}

/* Table search ------------------------------------------------ */

.table-search {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    font-size: 13px;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.table-search th {
    margin: 0;
    padding: 4px 6px;
    color: #333;
    font-weight: bold;
    text-align: right;
	line-height: 20px;
}

.table-search td {
    margin: 0;
    padding: 6px 10px;
    color: #333;
    font-weight: bold;
}

.table-search td label {
    margin: 0 10px 0 0;
    padding: 0;
    vertical-align: middle;
}

.table-search input {
    margin: 0;
    padding: 4px 6px;
    font-size: 13px;
    color: #555;
    background-color: #EBEEF5;
    border: 1px solid #3C8DBC;
}

.table-search select {
    margin: 0;
    padding: 4px 6px;
    font-size: 13px;
    color: #555;
    background-color: #EBEEF5;
    border: 1px solid #3C8DBC;
}

.table-search input[type="radio"] {
    margin: 0 2px 0 0;
    padding: 0;
    border: none;
    vertical-align: middle;
}

.table-search input[type="checkbox"] {
    margin: 0 2px 0 0;
    padding: 0;
    border: none;
    vertical-align: middle;
}

.table-search input[type="submit"] {    
    margin: 0 3px 0 0;
    padding: 4px 10px;
    background-color: #3C8DBC;
    border: 1px solid #BBBBBB;
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #777777;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 35px;
}

.table-search input[type="submit"]:hover {
    cursor: pointer;
    border: 1px solid #777777;
	background-color: #367fa9;
}

.table-search input[type="submit"]:active {
    cursor: pointer;
    border: 1px solid #777777;
	background-color: #204d74;
}

.table-search img {
    margin: 0 0 0 3px;
    padding: 0;
    border: none;
    vertical-align: middle;
}

.table-search .submit-box td {
    text-align: right;
    border-top: 1px solid #DBDBDB;
    background-color: #E9E9E9;
}

/* table info */

.table-info-box {
    margin: 0 0 5px 0;
    padding: 1%;
    background-color: #DDF0F8;
    border-top: 1px solid #99CCE6;
    float: left;
    font-size: 12px;
    width: 98%;
}

.table-info-box h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #193061;
    font-size: 12px;
}

.table-info {
    margin: 0 0 5px 0;
    padding: 0;
    border-collapse: collapse;
    font-size: 11px;
    background-color: #FFF;
    border-bottom: 3px solid #C8E4F1;
    border-right: 2px solid #C8E4F1;
    border-left: 2px solid #C8E4F1;
    border-top: 1px solid #C8E4F1;
    color: #193061;
}

.table-info th {
    padding: 6px;
    text-align: left;
    vertical-align: middle;
    background-color: #C8E4F1;
    color: #000;
    text-transform: uppercase;
    border-bottom: 1px solid #C8E4F1;
}

.table-info tr {
    margin: 0;
    padding: 0;
}

.table-info tr.blink-row {
    background-color: #FEF7DB;
}

.table-info td {
    margin: 0;
    padding: 6px;
    vertical-align: top;
    border-bottom: 1px solid #C8E4F1;
}

.table-info td em {
    display: block;
    color: #666;
}

.table-info tr.submit-box {
    background-color: #C8E4F1;
}

.table-info a.button-edit {
    margin: 0 1px;
    padding: 1px 4px 1px 19px;
    background-image: url("../img/edit-icon.png");
    background-position: 4px 2px;
    background-repeat: no-repeat;
    background-color: #FFF6C4;
    border: 1px solid #F9EBD7;
    color: #8D4F00;
    display: inline;
    text-align: center;
    text-decoration: none;
}

.table-info a.button-edit:hover {
    background-color: #fff;
    border: 1px solid #F9EBD7;
}

.table-info a {
    margin: 0;
    padding: 0;
    color: #8D4F00;
    text-decoration: none;
}

.table-info a:hover {
    text-decoration: underline;
}

.table-info td img {
    margin: 0 2px;
    padding: 0;
    border: none;
    vertical-align: top;
}

.table-info .button-approve {
    margin: 0;
    padding: 5px 10px; 
    border: none;
    background-color: #FFB627;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
    color: #333333;
    font-family: sans-serif;
    cursor: pointer;
    border: 1px solid #FA693D;
}

.table-info .button-reject {
    margin: 0;
    padding: 5px 10px; 
    border: none;
    background-color: #FF2E65;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
    color: #FFF;
    font-family: sans-serif;
    cursor: pointer;
    border: 1px solid #DD3159;
}

/* tabel calendar */

.table-calendar {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    color: #515151;
    font-size: 12px;
    background-color: #fff;
    font-family: tahoma;
}

.table-calendar th {
    margin: 0;
    padding: 4px 0;
    border: 1px solid #cdcdcd;
    color: #272727;
    vertical-align: middle;
}

.table-calendar td {
    margin: 0;
    padding: 4px;
    border: 1px solid #edebeb;
    font-size: 11px;
    height: 100px;
    vertical-align: top;
}

.table-calendar td b {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.table-calendar td p {
    margin: 0;
    padding: 2px;
    font-size: 11px;
    text-align: right;
    line-height: 16px;
    font-weight: normal;
}

.table-calendar td a {
    display: block;
    margin: 0;
    padding: 2px 6px;
    background-color: #eee;
    color: #333;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.table-calendar td a:hover {
    text-decoration: none;
    background-color: #ddd;
    color: #000;
}

.table-calendar td.holiday {
    color: #DD0000;
    font-size: 16px;
    font-weight: bold;
}

.table-calendar td.workingday {
    color: #258F43;
    font-size: 16px;
    font-weight: bold;
}

.table-calendar td.current{
    color: #258F43;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff4b9;
    border: 1px solid #fae364;
}

.table-calendar a.blue {
    background-color: #368EE0;
    color: #fff;
}

.table-calendar a.green {
    background-color: #56AF45;
    color: #fff;
}

.table-calendar a.red {
    background-color: #E63A3A;
    color: #fff;
}

.table-calendar a.orange {
    background-color: #ffa10d;
    color: #fff;
}

/*
TABLE DASHBOARD
*/

.table-dashboard {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    color: #747675;
    font-size: 11px;
    background-color: #fff;
    font-family: tahoma;
}

.table-dashboard td {
    margin: 0;
    padding: 10px 5px;
    border-bottom: 1px solid #EFEFEF;
    border-top: 1px solid #F6F6F6;
    vertical-align: top;
}

.table-dashboard a {    
    margin: 0;
    padding: 0;
    color: #FF0764;
}

.table-dashboard a:hover {
    color: #FF6096;
    text-decoration: none;
}

.table-dashboard img {
    float: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    height: 32px;
}

.table-dashboard small {
    margin: 0;
    padding: 0;
    color: #999;
    font-size: 11px;
}

.table-dashboard tr.blink-row {
    background-color: #FEF7DB;
}

/*
table activity
*/

.table-activity {
    margin: 0;
    padding: 10px 0;
    background-color: #fff;
    border-collapse: collapse;
    color: #666;
    font-size: 11px;
}

.table-activity td {
    margin: 0;
    padding: 5px 10px;
}

.table-activity .blink-row {
    background-color: #F7ECBC;
    color: #424242;
    border-top: 1px solid #EFCF8F;
    border-bottom: 1px solid #EFCF8F;
}

/* TABLE FORM FA */

.table-form {
    margin: 0 0 5px 0;
    padding: 0;
    background-color: #fff;
    border-collapse: collapse;
    color: #666;
    text-align: left;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 1px solid #ddd;
    font-size: 12px;
}

.table-form th {
    margin: 0;
    padding: 5px 10px;
    font-size: 12px;
    vertical-align: top;
}

.table-form td {
    margin: 0;
    padding: 5px 5px 5px 10px;
    background-color: #FFFFFF;
    font-size: 13px;
	font-weight: bold;
}

.table-form p {
    margin: 0;
    /* padding: 5px 5px 5px 10px; */
    color: #666;
    vertical-align: middle;
    font-size: 12px;
	line-height: 25px;
}

.table-form td label {
    float: left;
    margin: 0;
    padding: 5px 0;
    width: 185px;
    cursor: pointer;
    margin: 0 10px 0 0;
}

.table-form td label:hover {
    text-decoration: underline;
}

.table-form td label span {
    overflow: hidden;
}

.table-form td input, textarea {
    margin: 0 2px 0 0;
    padding: 7px;
    border: 1px solid #3C8DBC;
    font-size: 12px;
    font-family: tahoma;
    background-color: #EBEEF5;
    color: #000;
}

.table-form input[type="radio"] {
    margin: 0 2px 0 0;
    padding: 0;
    border: none;
    vertical-align: middle;
}

.table-form input[type="checkbox"] {
    margin: 0 2px 0 0;
    padding: 0;
    border: none;
    vertical-align: middle;
}

.table-form td select {
    margin: 0 4px 1px 0;
    padding: 4px 2px;
    border: 1px solid #3C8DBC;
    background-color: #EBEEF5;
    font-size: 11px;
    vertical-align: middle;
}

.table-form td em {
    color: #666666;
    font-size: 10px;
}

.table-form input.submit-button {
    margin: 0 3px 0 0;
    padding: 4px 10px;
    background-image: url("../img/table-input-submit-bg.png");
    background-position: top center;
    background-repeat: repeat-x;
    background-color: #BD6108;
    border: 1px solid #BD6108;
    border-top: 1px solid #BD5D08;
    border-bottom: 1px solid #BD6108;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 31px;
}

.table-form input.submit-button:hover {
    cursor: pointer;
    border: 1px solid #BD6108;
}

.table-form input.reset-button {
    margin: 0 3px 0 0;
    padding: 4px 10px;
    background-image: url("../img/table-input-reset-bg.png");
    background-position: top center;
    background-repeat: repeat-x;
    background-color: #9C2C29;
    border: 1px solid #9C2C29;
    border-top: 1px solid #842829;
    border-bottom: 1px solid #9C2C29;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 35px;
}

.table-form input.reset-button:hover {
    cursor: pointer;
    border: 1px solid #9C2C29;
}

.table-form .button-upload {
    margin: 0 3px 0 0;
    padding: 4px 10px;
    background-color: #3C8DBC;
    border: 1px solid #BBBBBB;
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #777777;
    color: #FFF;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 35px;
}

.table-form .button-upload:hover {
    cursor: pointer;
    border: 1px solid #777777;
	background-color: #367fa9;
}

.table-form .button-upload:active {
    cursor: pointer;
    border: 1px solid #777777;
	background-color: #204d74;
}
.table-form a.button {
    margin: 0 1px;
    padding: 1px 4px;
    background-color: #fff;
    border: 1px solid #F9EBD7;
    color: #8D4F00;
    display: inline;
    text-align: center;
    text-decoration: none;
}

.table-form a.button:hover {
    background-color: #FFF6C4;
    border: 1px solid #F9EBD7;
}

.table-form img{
    margin: 0;
    padding: 0;
    vertical-align: middle;

}