<!-- include javascript -->
{include file="task/daftar_kasi_tglttd/task_javascript.html"}
<!-- end of include javascript-->
<script type="text/javascript">
    $(document).ready(function () {
        // select all
        $("#proses-all").change(function () {
            var proses = $("#proses-all").val();
            $(".proses-item").val(proses);
        });
		
		// date picker
        $(".tanggal").datepicker({
            showOn: 'both',
            changeMonth: true,
            changeYear: true,
            buttonImage: '{$BASEURL}/resource/doc/images/icon/calendar.gif',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd',
			minDate: 0,
        });
	
	});
	    
</script>
<style type="text/css">
    .select2-choice {
        width: 270px !important;
    }
    .select2-default {
        width: 270px !important;
    }
</style>
<div class="breadcrum">
    <p>
        <a href="#">Task Manager Pengajuan Akta Pendaftaran</a><span></span>
        <a href="#">{$task.task_nm}</a><span></span>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info">
                    <b>{$detail.group_nm|upper}</b>
                    <br />
                    Nama Kapal : {$detail.nama_kapal|upper|default:''}
                    <br />
                    Registrasi : {$detail.registrasi_id|upper|default:''}
                    <br />
                    Pemohon : {$detail.nama_pemohon|default:'-'}, {$dtm->get_full_date($detail.tgl_pengajuan)|default:'-'}
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('task/akta_pendaftaran')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" /> Back to Waiting List</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<div class="rute-box">
    <h5>
        <a href="#" class="drop-up">
            PENENTUAN TANGGAL PENANDATANGANAN MINUTE AKTA & DAFTAR INDUK
        </a>
    </h5>
    <form action="{$config->site_url('task/daftar_kasi_tglttd/send_process/'|cat:$detail.registrasi_id|cat:'/'|cat:$detail.process_id)}" method="post" >
        <input type="hidden" name="registrasi_id" value="{$detail.registrasi_id|default:''}">
        <table class="table-form" width="100%">
			<tr>
				<td width="20%">
					<span style="text-decoration: underline;">Tanggal Penandatanganan</span><br /><i></i><em>* wajib diisi</em>
				</td>
				<td>
					<input type="text" name="tgl_ttd_akta" size="10" maxlength="10" value="{$result.tgl_ttd_akta|default:''}" class="tanggal" readonly="readonly" style="text-align: center; font-weight: bold;" />
				</td>
				<td align="right"><input value="Konfirmasi Tanggal Ke {$next.role_nm}" class="submit-button" type="submit" onclick="return confirm('Apakah anda yakin akan mengirimkan data berikut ini ke {$next.role_nm}?')"></td>
			</tr>
		</table>
    </form>
</div>
<!-- include html -->
{include file="task/daftar_kasi_tglttd/task_form_dialog.html"}
<!-- end of include html -->