<div class="breadcrum">
    <p>
        <a href="#">Task Manager Pengajuan Akta Pendaftaran</a><span></span>
        <small>{$com_user.role_nm|upper}</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info">Total ( <b style="color: red;">{$total|default:0}</b> ) Pengajuan Yang Harus Diproses!</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="navigation">
        <div class="navigation-button">
            <ul>
                <li>
                    <form action="{$config->site_url('task/akta_pendaftaran/proses_cari')}" method="post">
						<input type="text" name="nama_kapal" {if (isset($search.nama_kapal))} value="{$search.nama_kapal}" {/if} placeholder="Semua Nama Kapal" size="30" maxlength="50" style="height: 20px; vertical-align: bottom; font-size: 14px; padding: 3px; text-align: center; border: 1px solid #3C8DBC; background-color: #FFF; color: #666;" />
                        <input type="text" name="group_nm" {if (isset($search.nama_kapal))} value="{$search.group_nm}" {/if} placeholder="Semua Jenis Permohonan" size="30" maxlength="50" style="height: 20px; vertical-align: bottom; font-size: 14px; padding: 3px; text-align: center; border: 1px solid #3C8DBC; background-color: #FFF; color: #666;" />
                        <input type="submit" name="save" style="margin: 0px 3px 0px 0px; padding: 6px 10px; background-color: #3C8DBC; border-width: 1px; border-style: solid; border-color: #BBB #BBB #777; -moz-border-top-colors: none; -moz-border-right-colors: none;
						-moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: #FFF; font-size: 11px; font-weight: bold; text-align: center; border-radius: 4px; height: 29px;" value="Cari" />
                        <input type="submit" name="save" style=" margin: 0px 3px 0px 0px; padding: 6px 10px; background-color: #3C8DBC; border-width: 1px; border-style: solid; border-color: #BBB #BBB #777; -moz-border-top-colors: none; -moz-border-right-colors: none;
						-moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: #FFF; font-size: 11px; font-weight: bold; text-align: center; border-radius: 4px; height: 29px;" value="Reset" />
                    </form>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<table class="table-view" width="100%">
    <tr>
        <th width='5%'>No</th>
        <th width='10%'>Registrasi</th>
        <th width='25%'>Nama Kapal</th>
        <th width='10%'>Nama Pemohon</th>
        <th width='15%'>Didaftarkan Oleh</th>
        <th width='15%'></th>
    </tr>
    {$no = 1}
    {foreach from=$rs_id item=result}
    <tr {if ($no % 2) <> 1}class="blink-row"{/if}>
        <td align="center">{$no++}.</td>
        <td>
            {$result.registrasi_id}
        </td>
        <td align="center"><b>{$result.nama_kapal|upper}</b>
		    <br />
            {$result.group_nm}
		</td>
        <td align="center">{$result.nama_pemohon|upper}</td>
        <td align="center">
            <span style="text-decoration: underline;">{$result.pengirim|default:'-'}</span><br />
            {$dtm->get_full_date($result.tgl_pengajuan, 'ins')|upper|default:''}
        </td>
        <td align="center"></br>
            <a href="{$config->site_url($result.task_link|cat:'/'|cat:$result.group_alias|cat:'/'|cat:$result.registrasi_id|default:'')}" class="button">
                {if $result.selisih_hari == 0 && substr($result.selisih_waktu,0,2) == 00}
                {substr($result.selisih_waktu,3,2)|replace:':':'0'} menit yang lalu
                {else if $result.selisih_hari == 0}
                {substr($result.selisih_waktu,0,2)} jam yang lalu
                {else}
                {$result.selisih_hari} hari yang lalu
                {/if}
            </a>
			</br></br>
			Proses {$result.task_nm}
        </td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="7">Belum ada pengajuan Akta Pendaftaran</td>
    </tr>
    {/foreach}
</table>