<script type="text/javascript">
    $(document).ready(function() {
        $(".airlines_type").select2({
            placeholder: "--- Pilih ---",
            width: 110,
            allowClear: true
        });
        $(".airlines_st").select2({
            placeholder: "--- Pilih ---",
            width: 150,
            allowClear: true
        });
        $(".airlines_flight_type").select2({
            placeholder: "--- Pilih ---",
            width: 160,
            allowClear: true
        });
        $(".airlines_nationality").select2({
            placeholder: "--- Pilih ---",
            width: 110,
            allowClear: true
        });
    });
</script>
<style type="text/css">
    .airlines_type .select2-choice {
        width: 100px !important;
    }
    .airlines_type .select2-default {
        width: 100px !important;
    }
    .airlines_st .select2-choice {
        width: 140px !important;
    }
    .airlines_st .select2-default {
        width: 140px !important;
    }
    .airlines_flight_type .select2-choice {
        width: 150px !important;
    }
    .airlines_flight_type .select2-default {
        width: 150px !important;
    }
    .airlines_nationality .select2-choice {
        width: 100px !important;
    }
    .airlines_nationality .select2-default {
        width: 100px !important;
    }
</style>
<div class="breadcrum">
    <p>
        <a href="#">Settings</a><span></span>
        <a href="{$config->site_url('pengaturan/airlines')}">Operator Penerbangan</a><span></span>
        <small>Edit Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('pengaturan/airlines')}"><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" /> Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('pengaturan/airlines/edit_process')}" method="post">
    <input name="airlines_id" type="hidden" value="{$result.airlines_id|default:''}" size="20" maxlength="20" />
    <table class="table-input" width="100%">
        <tr class="headrow">
            <th colspan="4">Edit Data Operator Penerbangan</th>
        </tr>
        <tr>
            <td width="15%">Nama Operator</td>
            <td width="35%">
                <input name="airlines_nm" type="text" value="{$result.airlines_nm|default:''}" size="35" maxlength="50" />
                <em>* wajib diisi</em>
            </td>
            <td width="15%">Nama Brand</td>
            <td width="35%">
                <input name="airlines_brand" type="text" value="{$result.airlines_brand|default:''}" size="45" maxlength="50" />
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr>
            <td>IATA Code</td>
            <td>
                <input name="airlines_iata_cd" type="text" value="{$result.airlines_iata_cd|default:''}" size="10" maxlength="10" />
                <em>* wajib diisi</em>
            </td>
            <td>ICAO Code</td>
            <td>
                <input name="airlines_icao_cd" type="text" value="{$result.airlines_icao_cd|default:''}" size="10" maxlength="10" />
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr>
            <td width="15%">Nomor Kontak</td>
            <td width="35%">
                <input name="airlines_contact" type="text" value="{$result.airlines_contact|default:''}" size="35" maxlength="50" />
            </td>
            <td width="15%">Website</td>
            <td width="35%">
                <input name="airlines_website" type="text" value="{$result.airlines_website|default:''}" size="45" maxlength="50" />
            </td>
        </tr>
        <tr>
            <td>Tipe</td>
            <td>
                <select name="airlines_type" class="airlines_type">
                    <option value="">--- Pilih ---</option>
                    <option value="kargo" {if {$result.airlines_type|default:''} == "kargo"}selected="selected"{/if}>Kargo</option>
                    <option value="penumpang" {if {$result.airlines_type|default:''} == "penumpang"}selected="selected"{/if}>Penumpang</option>       
                </select>
                <em>* wajib diisi</em>
            </td>

            <td>Status Pengoperasian</td>
            <td>
                <select name="airlines_st" class="airlines_st">
                    <option value="">--- Pilih ---</option>
                    <option value="beroperasi" {if {$result.airlines_st|default:''} == "beroperasi"}selected="selected"{/if}>Beroperasi</option>
                    <option value="tidak_beroperasi" {if {$result.airlines_st|default:''} == "tidak_beroperasi"}selected="selected"{/if}>Tidak Beroperasi</option>
                </select>
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr>
            <td>Penerbangan</td>
            <td>
                <select name="airlines_flight_type" class="airlines_flight_type">
                    <option value="">--- Pilih ---</option>
                    <option value="domestik" {if {$result.airlines_flight_type|default:''} == "domestik"}selected="selected"{/if}>Domestik</option>
                    <option value="domestik_internasional" {if {$result.airlines_flight_type|default:''} == "domestik_internasional"}selected="selected"{/if}>Domestik Internasional</option>
                    <option value="internasional" {if {$result.airlines_flight_type|default:''} == "internasional"}selected="selected"{/if}>Internasional</option>
                </select>
                <em>* wajib diisi</em>
            </td>
            <td>Milik Perusahaan</td>
            <td>
                <select name="airlines_nationality" class="airlines_nationality">
                    <option value="">--- Pilih ---</option>
                    <option value="asing" {if {$result.airlines_nationality|default:''} == "asing"}selected="selected"{/if}>Asing</option>
                    <option value="nasional" {if {$result.airlines_nationality|default:''} == "nasional"}selected="selected"{/if}>Nasional</option>
                </select>
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr>
            <td>Jenis SIUP</td>
            <td>
                <input type="checkbox" name="airlines_siup[1]" value="berjadwal" {if $airlines_siup[1] eq "berjadwal"}checked{/if}> Berjadwal
                <input type="checkbox" name="airlines_siup[2]" value="tidak berjadwal" {if $airlines_siup[2] eq "tidak berjadwal"}checked{/if}> Tidak Berjadwal
                <input type="checkbox" name="airlines_siup[3]" value="bukan niaga" {if $airlines_siup[3] eq "bukan niaga"}checked{/if}> Bukan Niaga
                <br>
                <em>* wajib diisi</em>
            </td>
            <td>Alamat</td>
            <td>
                <textarea name="airlines_address"cols="60" rows="1">{$result.airlines_address|default:''}</textarea>
            </td>  
        </tr>
        <tr class="submit-box">
            <td colspan="4">
                <input type="submit" name="save[insert]" value="Simpan" class="submit-button" />
                <input type="reset" name="save[reset]" value="Reset" class="reset-button" />
            </td>
        </tr>
    </table>
</form>